/* 로그인, 회원가입 페이지 공통 */
.authentication-page {
  max-width: 640px;
  margin: 0 auto;
  padding: 60px 50px;
  box-sizing: content-box;
}

.authentication-page .logo {
  gap: 22px;
  padding: 14px 0;
}

.authentication-page .logo-img {
  width: 103px;
  height: 103px;
}

.authentication-page .logo-text {
  font-size: var(--font-66);
  line-height: 1.4;
}

.authentication-page .auth-form {
  margin: 4rem 0 0;
  display: grid;
  gap: 24px;
}

.authentication-page .input-wrapper {
  display: grid;
}

.authentication-page .input-wrapper label {
  font-size: var(--font-18);
  color: var(--gray-800);
  font-weight: 700;
  margin: 0 0 var(--spacing-16);
}

.authentication-page .input-wrapper input {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--gray-100);
  font-size: var(--font-16);
  font-weight: 400;
  color: var(--gray-800);
  line-height: 1.5;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.authentication-page .input-wrapper input[type="password"] {
  padding-right: 60px;
}

.authentication-page .input-wrapper input::placeholder {
  color: var(--gray-400);
}

.authentication-page .input-wrapper input:focus-visible {
  outline-color: var(--blue);
}

.authentication-page .password-group .input-icon {
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
}

.authentication-page .auth-form button {
  padding: 14px 16px;
  border-radius: 28px;
  color: var(--white);
  font-size: var(--font-20);
  line-height: 1.4;
  font-weight: 600;
}

.authentication-page .auth-form button.off {
  background-color: #9CA3AF;
}

.authentication-page .social-login {
  border-radius: 8px;
  margin: var(--spacing-24) 0;
  padding: 16px 24px;
  background-color: #E6F2FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.authentication-page .social-login-text {
  color: var(--gray-800);
  font-size: var(--font-16);
  font-weight: 500;
  line-height: 1.5;
}

.authentication-page .social-login-icon {
  display: flex;
  align-items: center;
}

.authentication-page .social-login-icon .icon {
  width: 42px;
  height: 42px;
}

.authentication-page .social-login-icon .icon:not(:last-of-type) {
  margin-right: var(--spacing-16);
}

.authentication-page .link {
  font-size: var(--font-15);
  font-weight: 500;
  color: var(--gray-800);
  text-align: center;
}

.authentication-page .link a {
  margin-left: 0.4rem;
  color: #3182F6;
  text-decoration: underline;
}

/* Tablet */
@media (max-width: 1199px) {
  .authentication-page {
    padding: 50px;
  }
}


/* Mobile */
@media (max-width: 767px) {
  .authentication-page {
    padding: 24px 16px;
    max-width: 400px;
  }

  .authentication-page .logo {
    gap: 10px;
    padding: 7px 0;
  }

  .authentication-page .logo-img {
    width: 50px;
    height: 50px;
  }

  .authentication-page .logo-text {
    font-size: 3.3rem;
  }

  .authentication-page .auth-form {
    margin: var(--spacing-24) 0 0;
    gap: var(--spacing-16);
  }

  .authentication-page .input-wrapper label {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }
}