:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f3f4f6;

  --primary700: #1251aa;
  --primary600: #1967d6;
  --primary500: #3182f6;
  --primary400: #3692ff;
  --primary300: #cfe5ff;
  --primary200: #e6f2ff;

  --error: #f74747;
}
