:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f3f4f6;

  --blue-700: #1251aa;
  --blue-600: #1967d6;
  --blue-500: #3182f6;
  --blue-400: #3692ff;
  --blue-300: #cfe5ff;
  --blue-200: #e6f2ff;

  --white : #ffffff;

  --red: #f74747;
}
