.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  height: 70px;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.logo_text {
  display: none;
}

.login-btn {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--blue);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--darkblue);
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    margin: 0 24px;
  }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
  .header-container {
    margin: 0 16px;
  }

  .header-container2 {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .logo {
    display: none;
  }

  .logo_text {
    display: block;
    height: 50px;
  }
}
