body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

#logo-img{
  width: 153px;
  height: 51px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 200px 9px 200px;
  background-color: var(--white);
  height: 70px;
  position: fixed;
  inset: 0;
  z-index: 1;
}

.signin {
  width: 128px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
}

header {
  width: 100%;
  height: 540px;
  background-color: var(--skyblue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  overflow: hidden;
}

.header-img {
  width: 996px;
  height: 447px;
  margin-top: auto;
  margin-bottom: 0;
}

.header-button {
  width: 355px;
  height: 56px;
  font-size: 20px;
  border-radius: 40px;
  font-weight: 700;
}

.signin, .header-button {
  background-color: var(--blue);
  color: var(--white);
  border-style: none;
}

.logo, .signin, .header-button {
  cursor: pointer;
}

.main-img {
  width: 588px;
  height: 444px;
} 

h1 {
  color: var(--grey700);
  line-height: 1.4;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.keyword {
  color: var(--blue);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  display: block;
}

p {
  color: var(--grey700);
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  line-height: 120%;
}

.header-slogan {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

main {
  width:1200px;
  margin: 0 auto;
  padding-bottom: 138px;
  display: flex;
  flex-direction: column;
  gap: 138px;
}

section {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 138px;
}

.top-container {
  justify-content: end;
}

.top-items {
 text-align: right;
}

.bottom-container {
  background-color: var(--skyblue);
  height: 540px;
}

.content {
display: flex;
margin: 138px auto;
position: relative;
left: 40px;
align-items: center;
}

.content {
  margin-top: auto;
  margin-bottom: 0;
}

bottom-img {
  width: 996px;
  height: 540px;
}

footer {
  background-color: var(--gray900);
  height: 160px;
  padding-top: 32px;
}

.footer-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.privacy {
  display: flex;
  gap: 40px;
}

.privacy a {
  text-decoration: none;
  cursor: pointer;
}

.sns {
  display: flex;
  gap:20px;
  align-items: center;
}

.sns a {
  cursor: pointer;
}

.footer-items a  {
  font-size: 16px;
  font-weight: 200;
  color: #ffffff;
}

@media (max-width: 1199px) {
  nav {
    width: 100%;
    padding: 0 24px;
    align-items: center;
  }
  
  header {
    height: 771px;
    display: flex;
    flex-wrap: wrap;
  }

  .header-slogan {
    margin-top: 84px;
    align-items: center;
  }
  
  main {
    width: 100%;
    overflow: hidden;
  }

  .txt br, .header-slogan br {
    display: none;
  }  

  section {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 24px;
  }   

  .top-items {
    order: 2;
  }

  .top-container img {
    order: 1;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .bottom-container {
    height: 927px;
    height: auto;
    margin: 0;
    z-index: 0;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 0 16px;
  }

  .header-slogan br {
    display: inline;
  }
}
