header {
  display: flex;
  justify-content: center;
}

main {
  max-width: 640px;
  /* margin-top: 40px;
  margin-left: auto;
  margin-right: auto; */
  margin: 40px auto 0;
}

.logo__image {
  width: 396px;
  height: 132px;
  display: inline-block;
  margin-top: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
}

.form__input {
  /* display: block; */
  /* height: 56px;필요없었음 */
  border-radius: 12px;
  border: none;
  background-color: var(--gray100);
  padding: 16px 24px;
  box-shadow: none;
  margin-bottom: 8px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.form__input:focus {
  /* border-color: var(--blue); border로 안되고 outline으로 됨
  border: 1px solid var(--blue); */ /*border는 테두리가 바깥쪽에 생기고 outline은 안쪽에 생김*/
  /* outline-color: var(--blue);  */
  outline: 2.5px solid var(--blue);
}

.form__password-container {
  position: relative;
}

.form__invisible-button {
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}

.form__invisible-button img {
  width: 24px;
  height: 24px;
}

.form__input::placeholder {
  color: var(--gray400);
  /* line-height: 24px; */
}

.form__button {
  /* height: 56px; */ /*필요없었음*/
  border: none;
  border-radius: 40px;
  /* padding-top: 16px;
  padding-bottom: 16px; */
  padding: 16px 0;
  background-color: var(--gray400);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
  cursor: pointer;
}

.simpleLogin {
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  /* margin-top: 24px;
  margin-bottom: 24px; */
  margin: 24px 0;
  border-radius: 8px;
}

.simpleLogin__text {
  font-weight: 500;
  font-size: 16px;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
}

.simpleLogin__snsIcons {
  display: flex;
  align-items: center;
  gap: 16px;
  /* line-height: 0; */
}

.simpleLogin__item {
  width: 42px;
  height: 42px;
}

.askWhetherUser {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  color: var(--gray800);
  margin-bottom: 60px;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
}

.askWhetherUser__link {
  color: #3182f6;
}

@media (max-width: 1199px) {
  .logo__image {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .logo__image {
    margin-top: 24px;
    width: 198px;
    height: 66px;
  }
  main {
    max-width: 432px;
    width: 100%;
    margin-top: 24px;
    /* padding-left: 16px; /*margin을 줘버리면 가운데 정렬이 덮어씌워짐, body에 패딩을 주는 것(그러면 min-width를 깔끔하게 400px로 설정가능)보다 main에 padding을 줘도 같은 효과(432px감수) */
    /* padding-right: 16px; */
    padding: 0 16px;
  }
  form {
    gap: 8px;
  }
  form label {
    font-size: 14px;
    line-height: 16.71px;
  }
}
