.main-container {
  position: relative;
  height: 540px;
  overflow: hidden;
  background-color: var(--skyblue);
}

.main-section {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 540px;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}

.main-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.main-btn {
  width: 355px;
  height: 56px;
  border: none;
  border-radius: 80px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: white;
  background-color: var(--blue);
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--darkblue);
}

.main-panda-img {
  position: absolute;
  bottom: 0;
  left: 355px;
  width: 996px;
}

.main-section2 {
  display: flex;
  align-items: center;
  gap: 64px;
  margin: 0 auto;
  padding: 138px 0;
  width: 100%;
  max-width: 1200px;
}

.main-section2.middle {
  justify-content: flex-end;
}

.main-sec2-info.middle {
  text-align: end;
}

.main-sec2-category {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: var(--blue);
}

.main-text {
  margin-top: 12px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.text {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 771px;
  }

  .main-section {
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 84px;
  }

  .main-box {
    align-items: center;
    gap: 24px;
  }

  .main-text br {
    display: none;
  }

  .main-panda-img {
    position: static;
  }

  .main-section2 {
    flex-direction: column;
  }
}
