/*header*/
header {
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  margin-left: 200px;
}
#logo img {
  content: url("../images/logo.png");
}
.login-btn {
  border-radius: 8px;
  padding: 16px 40px;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 200px;
  white-space: no-wrap;
}
/*banner*/
.banner-container {
  height: 540px;
  background: #cfe5ff;
  overflow: hidden;
}
.banner-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container img {
  align-self: flex-end;
}
.banner-box h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gray700);
  margin-bottom: 40px;
  line-height: 56px;
  flex-shrink: 0;
}
.banner-description {
  width: 350px;
}
.item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 56px;
  border-radius: 40px;
  font-size: 1.25rem;
  font-weight: 600;
}
.featured-container {
  width: 1200px;
  margin: 100px auto;
}
.featured-box {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 200px;
}
.featured-box:nth-child(2) {
  justify-content: flex-end;
  text-align: right;
}
.featured-description h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 56px;
  color: var(--gray700);
  margin: 12px 0;
}
.featured-description p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 28.8px;
  color: var(--gray700);
}
.featured-description .featured-tag {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

/*footer*/
footer {
  height: 160px;
  background: var(--gray900);
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19.09px;
  padding: 32px 200px;
  box-sizing: border-box;
}
footer .copyright {
  color: var(--gray400);
}
footer .footer-tab {
  color: var(--gray200);
  gap: 24px;
}
.footer-tab a:nth-child(1) {
  margin-right: 24px;
}
footer .social-icons a {
  margin-right: 12px;
}

/*tablet*/
@media (max-width: 1199px) {
  #logo {
    margin-left: 24px;
  }
  .login-btn {
    margin-right: 24px;
  }
  main {
    margin-top: 70px;
  }
  .banner-container {
    width: 100%;
    height: 771px;
  }
  .banner-box {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .banner-box h2 {
    text-align: center;
    margin-top: 150px;
  }
  .banner-description {
    width: 100%;
  }
  .banner-description a {
    margin: 0 auto;
  }
  h2 br {
    display: none;
  }
  .banner-box img {
    align-self: center;
  }

  /*featured*/
  .featured-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .featured-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .featured-box:nth-child(2) img {
    order: 1;
  }
  .featured-box:nth-child(2) div {
    order: 2;
  }
  .featured-box:nth-child(2) .featured-description {
    align-self: flex-end;
  }
  footer p,
  div {
    flex-shrink: 0;
  }
}

/*mobile*/
@media (max-width: 767px) {
  #logo {
    margin-left: 16px;
  }
  #logo img {
    content: url("../images/logo_letter.png");
  }
  .login-btn {
    margin-right: 16px;
  }
  .banner-box h2 {
    font-size: 2 rem;
  }
  .featured-box h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  .featured-box {
    margin-top: 60px;
    width: 80vw;
  }
  .featured-box img {
    width: 80vw;
  }
  .banner-box img {
    width: 150vw;
  }
  .banner-box h2 br {
    display: block;
  }
  main:nth-child(3) {
    height: 100px;
  }
  .featured-description {
    width: 100%;
  }
  .featured-box:nth-child(2) {
    justify-content: flex-end;
    text-align: right;
  }
  .featured-description p {
    font-size: 1.2rem;
  }
  .featured-box .featured-tag {
    font-size: 1rem;
  }
  footer {
    padding: 32px;
    flex-wrap: wrap;
  }
  footer .copyright {
    width: 500px;
    order: 3;
  }
}
