
/* mobile */
@media screen and (max-width: 767px) {
  .logo,
  .text-large,
  .banner .text-small,
  .section-inner .section-inner_img.pc {
    display: none;
  }
  .logo-typo,
  .text-small,
  .banner .text-large {
    display: block;
  }

  * {
    font-size: 8px;
  }

  .gnb {
    padding: 0 16px;
  }

  .logo-typo {
    position: absolute;
    top: 0;
  }

  .banner {
    width: 100vw;
    height: 530px;
  }

  .banner .text-small {
    text-align: center;
  }

  .banner-inner_img {
    right: -25vw;
    bottom: 0;
    width: 150vw;
  }

  .banner-inner_text {
    margin-top: 15vw;
    font-size: 4em;
    line-height: 1.5em;
  }

  .banner .banner-inner_btn {
    width: 45vw;
    font-size: 0.6em;
  }

  .section-inner_text .title {
    line-height: 1.2em;
  }

  .footer-inner {
    display: grid;
    grid-template-areas:
      "cen right"
      "left .";
    padding: 32px 16px;
  }

  .footer-inner_left {
    grid-area: left;
    margin-top: 10vw;
  }

  .footer-inner_center {
    grid-area: cen;
  }

  .footer-inner_right {
    grid-area: right;
  }
}
