:root {
  font-size: 16px;
}

body {
  width: 100vw;
}
/* 공통 */
.container {
  display: flex; /* 보기 방식은 flex로*/
  flex-direction: column; /*흐름의 방향은 위에서 아래로*/
  justify-content: center; /* 기본축 방향에서 중간에 위치하게*/
  align-items: center; /* 교차축 방향에서도 중간에 위치하게*/
}

  /* 상단바  */
.gnb{
  max-width : 640px;
  height : 70px;
  margin : 50px auto;
  padding : 0 122px;
  background-color : #ffffff;
  position:relative;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb-inner_Frame{
  width : 396px;
  height : 132px;
}
/* 중간 내용물 */
.main{
  width : 640px;
  height: px;
  margin : 50px 0 0 0;
  display: flex;
  flex-direction: column;
  gap : 24px;
}
form{
  width: 100%;
  height: 524px;
  gap : 24px;
  display: flex; /* 보기 방식은 flex로*/
  flex-direction: column; /*흐름의 방향은 위에서 아래로*/
  align-content: space-between;
  align-items: center; /* 교차축 방향에서도 중간에 위치하게*/
  text-align: left;
}

.input_group{
 display: flex;
 flex-direction: column;
 gap : 10px;
}

label{
  font-size: 18px;
  font-weight: 700px;
  line-height: 21.8px;
}

input{
    padding: 16px 24px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    width: 592px;
}

.input{

  display: flex;
  flex-direction: column;
  gap : 10px;
}

.input-wrapper{
  position: relative;
  display: flex;
  align-items: center;
}

input:focus {
  outline-color: var(--blue);
}

input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  line-height: 24px;
}

.toggle-password{
    position: absolute;
    right: 24px;
}

button{
  width: 640px;
  padding: 16px 126px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 9999px;
  border: none;
  bottom : 12px;
}
.Easy_login{
  width : 580px;
  height :74px;
  background: rgba(230, 242, 255, 1);
  border-radius: 8px;
  align-items: center;
  display : flex;
  justify-content: space-between;
  flex-grow : 1;
  padding : 0 30px;
}

.footer_left{
  display: flex;
  font-size : 16px;
  font-weight: 500;
}

.footer_right{
  display: flex;
  gap : 16px;
}

.already{
  margin : 0 auto;

}