:root {
  font-size: 10px;
}

img {
  display: block;
  user-select: none;
}

a {
  text-decoration: none;
}

.body {
  padding: 60px;
}

/* 로고부분 */

.logo{
  display: block;
  width: 396px;
  height: 132px;
  margin : 0 auto;
}

/* 메인부분 */

.main{
  display: flex;
  flex-direction: column;
  gap : 24px;
  margin-top: 40px;
  max-width: 640px;
  margin: 0 auto;
}
 /* form */
  
  .form{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .form-items{
    position: relative;
  }

  .form-items__label{
    display: block;
    color: var(--gray-800);
    font-size: 1.8rem;
    font-weight: 700;
  }
      /*input */

  .form-input {
      box-sizing: border-box;
      margin-top: 16px;
      border: none;
      border-radius: 10px;
      padding: 16px 24px;
      width: 100%;
      height: 56px;
      background-color: var(--gray-100);
      color: var(--gray800);
      font-size: 1.6rem;
      font-weight: 400;
    }

    .form-input::placeholder {
      color: var(--gray-400);
    }

    .form-input:focus {
      outline-color: var(--blue-400);
    }

    .form-input.password {
      padding-right: 60px;
    }

    .password-toggle {
      position: absolute;
      right: 24px;
      bottom: 16px;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
      /* button */

    .form-button {
      border: none;
      border-radius: 40px;
      padding: 16px 24px;
      height: 56px;
      font-size: 2rem;
      font-weight: 600;
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      background-color: var(--blue-400);
      color: var(--white);
      font-weight: 600;
      cursor: pointer;
    }

    .button:hover {
      background-color: var(--blue-600);
    }

    .button:active {
      background-color: var(--blue-700);
    }

    .button:disabled {
      background-color: var(--gray-400);
      cursor: default;
    }

      /* 간편 로그인하기 */

    .easy-login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 16px 24px;
      background-color: var(--blue-200);
      color: var(--gray-800);
      font-size: 1.6rem;
      font-weight: 500;
    }

    .icons{
      display: flex;
      gap: 16px;
    }

    .icon{
      width: 42px;
      height: 42px;
    }

    .size {
      height: 100%;
    }

      /* footer */

    .signin{
      color: var(--gray-800);
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
    }

    .signin-href{
      color: var(--blue-500);
      text-decoration: underline;
      word-break: keep-all;
    }
