img {
  display: inline-block;
}

a {
  cursor: pointer;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid #dfdfdf;
  height: 70px;

  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9.5px 200px;
  flex-grow: 1;
}

.logo {
  width: 153px;
  height: 51px;
}

.logo__link,
.logo__image {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.login {
  width: 128px;
  height: 48px;
  flex-shrink: 0;
}

.login__link {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--blue);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__link:hover,
.section__visitLinkButton:hover {
  background-color: #1251aa;
}

.section__topBackground {
  background-image: url(../assets/images/home_top.png);
}

.section__bottomBackground {
  background-image: url(../assets/images/home_bottom.png);
}

.section {
  height: 540px;
  background-color: #cfe5ff;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 80% bottom;

  display: flex;
  align-items: center;
}

.section__content {
  max-width: 1200px;
  min-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.section__description {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
  margin-bottom: 32px;
}

.section__visitLinkButton {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  padding: 16px 125px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 40px;
  text-decoration: none;
  color: var(--white);
}

.figure {
  background-color: var(--white);
}

.figure__container {
  max-width: 1200px;
  height: 720px;
  display: flex;
  align-items: center;
  gap: 64px;
  margin: 0 auto;
}

.figure--right {
  justify-content: flex-end;
}

.figure__homeImg {
  width: 50%;
}

.figure__alignHelperBox--right {
  text-align: right;
}

.figure__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: var(--blue);
}

.figure__phrase {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: var(--gray700);
  margin: 12px 0 24px;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
}

.figure__description {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.08em;
  color: var(--gray700);
  margin: 0;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
}

.footer {
  background-color: var(--gray900);
}

.footer__container {
  margin: 0 auto;
  padding: 32px 200px 108px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.footer__info {
  color: var(--gray400);
  flex-shrink: 0;
}

.footer__links {
  display: flex;
  gap: 30px;
}

.footer__link {
  color: var(--gray200);
  text-decoration: none;
  flex-shrink: 0;
}

.footer__sns {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 1199px) {
  .header__inner {
    /* padding-left: 24px;
    padding-right: 24px; */
    padding: 9.5px 24px;
  }
  .section {
    background-size: 130%;
    background-position: center bottom;
    align-items: flex-start;
    height: 800px;
  }
  .section__bottomBackground {
    height: 960px;
    margin-top: 16px;
  }
  .section__content {
    text-align: center;
    margin-top: 84px;
  }
  .section__description {
    margin-bottom: 24px;
  }
  .section__description--brNone > br,
  .figure__phrase > br {
    display: none;
  }
  .figure__container {
    flex-direction: column;
    padding: 24px 24px 40px;
    height: auto;
    align-items: flex-start;
    gap: 20px;
  }
  .figure--right {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .figure__homeImg {
    width: 100%;
  }
  .figure__phrase {
    font-size: 32px;
    line-height: 44.8px;
    margin-bottom: 20px;
  }
  .footer__container {
    /* padding-left: 104px;
    padding-right: 104px;*/
    padding: 32px 104px 108px;
  }
}

@media (max-width: 767px) {
  .header__inner {
    /* padding-left: 16px;
    padding-right: 16px; */
    padding: 9.5px 16px;
  }
  .section,
  .section__bottomBackground {
    height: 620px;
  }
  .section__bottomBackground {
    margin-top: 0;
  }
  .section__content {
    text-align: center;
    margin-top: 60px;
  }
  .section__description {
    font-size: 32px;
    line-height: 44.8px;
    margin-bottom: 18px;
  }
  .section__description > br {
    display: inline;
  }
  .section__visitLinkButton {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    padding: 14.5px 33.5px;
  }
  .figure__container {
    padding: 40px 24px 24px;
  }
  .footer__container {
    padding: 32px;
    gap: 30px;
    flex-wrap: wrap;
  }
}

@media (min-width: 375px) and (max-width: 509px) {
  .footer__info {
    order: 1;
  }
}
