@import "./reset.css";

:root {
  /* font color */
  --color-blue: #3692ff;
  --color-white: #ffffff;
  --color-gray50: #f7f7f8;
  --color-gray100: #e8ebed;
  --color-gray200: #e5e7eb;
  --color-gray400: #9ca3af;
  --color-gray500: #72787f;
  --color-gray600: #454c53;
  --color-gray700: #374151;
  --color-gray800: #26282b;
  --color-gray900: #1b1d1f;
  --color-red: #f74747;
}

/* 기본 셋팅 */
.wrap {
  width: 100%;
  min-width: 375px;
  position: relative;
  margin: 0 auto;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* header */
header {
  height: 70px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--color-white);
}
.logo .mobile_ver {
  display: none;
}
.login_btn {
  background: var(--color-blue);
  width: 128px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  border-radius: 8px;
}

/* main */
.main_visual {
  background: #cfe5ff url("../image/Img_home_top.png") no-repeat bottom right
    15%;
  height: 540px;
}
.mv_txt {
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.mv_txt .tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-gray700);
}
.mv_txt button {
  width: 355px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
  background: var(--color-blue);
  border-radius: 40px;
  margin-top: 32px;
}
.panda_content li {
  display: flex;
  align-items: center;
  padding: 138px 0;
}
.panda_content li > div {
  flex-basis: 50%;
}
.panda_content li .txt {
  margin-left: 60px;
  color: var(--color-gray700);
}
.panda_content li:nth-child(2) .txt {
  text-align: right;
  margin-right: 60px;
  margin-left: 0;
}
.panda_content li .blue_txt {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-blue);
}
.panda_content li .tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 12px 0 24px;
}
.panda_content li .sub {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.8rem;
}
.main_visual.main_banner {
  background: #cfe5ff url("../image/Img_home_bottom.png") no-repeat bottom right
    15%;
}

/* footer */
footer {
  background: #111827;
  height: 160px;
  padding: 32px 200px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
}
footer .year {
  color: var(--color-gray400);
}
footer .link,
footer .sns {
  display: flex;
  align-items: center;
}
footer .link {
  gap: 30px;
}
footer .link a {
  color: var(--color-gray200);
}
footer .sns {
  gap: 13px;
}

/* login */
.login_wrap {
  max-width: 640px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 0;
}
.login_logo {
  text-align: center;
  margin-bottom: 40px;
}
.login_box li {
  margin-bottom: 24px;
}
.login_box li .tit {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.login_box li .input input {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  font-size: 16px;
  background: #f3f4f6;
  padding: 0 24px;
}
.login_box li .input input.error {
  border: 1px solid var(--color-red);
}
.login_box li .input input::placeholder {
  color: #9ca3af;
}
.login_box li .input input:focus {
  border: 1px solid var(--color-blue);
}
.login_box li .input.pw_input {
  position: relative;
}
.login_box li .input.pw_input input {
  padding: 0 60px 0 24px;
}
.login_box li .input.pw_input a {
  position: absolute;
  right: 24px;
  top: 17px;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
}
.sign_btn {
  background: var(--color-blue);
  color: var(--color-white);
  height: 56px;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
}
.sign_btn:disabled {
  background: var(--color-gray400);
}
.sns_login {
  margin: 24px 0;
  background: #e6f2ff;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sns_login .txt {
  font-size: 16px;
  font-weight: 500;
}
.sns_logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.signup_go {
  text-align: center;
  font-weight: 500;
}
.signup_go a {
  display: inline-block;
  text-decoration: underline;
  color: var(--color-blue);
}

/* error massage */
.error_msg {
  font-weight: 600;
  color: var(--color-red);
  display: none;
  margin: 8px 16px 0;
}

/******* 반응형 *******/
/* 태블릿 */
@media all and (max-width: 1199px) {
  .inner {
    max-width: 100%;
    margin: 0 24px;
  }

  /* header */
  header {
    padding: 0 24px;
  }

  /* main */
  .main_visual {
    background-position: bottom center !important;
    height: 770px;
  }
  .mv_txt {
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 84px;
    text-align: center;
  }
  .mv_txt .tit br {
    display: none;
  }
  .panda_content {
    padding-bottom: 48px;
  }
  .panda_content li {
    flex-direction: column;
    padding: 32px 0;
    align-items: flex-start;
  }
  .panda_content li:first-child {
    padding: 24px 0 32px;
  }
  .panda_content li > div {
    flex-basis: auto;
    width: 100%;
  }
  .panda_content li .img img {
    width: 100%;
  }
  .panda_content li .txt {
    margin-left: 0;
    margin-top: 20px;
  }
  .panda_content li:nth-child(2) .img {
    order: 1;
  }
  .panda_content li:nth-child(2) .txt {
    order: 2;
    margin-right: 0;
  }
  .panda_content li .tit {
    font-size: 32px;
    line-height: 2.1rem;
    margin: 12px 0 20px;
  }
  .panda_content li .tit br {
    display: none;
  }
  .panda_content li .sub {
    font-size: 18px;
  }
  .main_banner .mv_txt .tit br {
    display: block;
  }
  .main_visual.main_banner {
    height: 927px;
  }
  .main_visual.main_banner .mv_txt {
    padding-top: 200px;
  }

  /* footer */
  footer {
    padding: 32px 104px 0;
  }

  /* login */
  .login_wrap {
    padding: 48px 0;
  }
}

/* 모바일 */
@media all and (max-width: 767px) {
  .inner {
    margin: 0 16px;
  }

  /* header */
  .logo .mobile_ver {
    display: block;
  }
  .logo .pc_ver {
    display: none;
  }

  /* main */
  .main_visual,
  .main_visual.main_banner {
    height: 540px;
    background-size: auto 280px;
  }
  .mv_txt {
    padding-top: 48px;
  }
  .mv_txt .tit {
    font-size: 32px;
    line-height: 3rem;
  }
  .mv_txt .tit br {
    display: block;
  }
  .mv_txt button {
    width: 154px;
    height: 48px;
    font-size: 16px;
  }
  .panda_content {
    padding-bottom: 0;
  }
  .panda_content li {
    padding: 32px 0;
  }
  .panda_content li:first-child {
    padding: 51px 0 32px;
  }
  .panda_content li .blue_txt {
    font-size: 16px;
  }
  .panda_content li .tit {
    font-size: 24px;
    margin: 8px 0 20px;
  }
  .panda_content li .sub {
    font-size: 16px;
  }
  .main_visual.main_banner .mv_txt {
    padding-top: 120px;
  }

  /* footer */
  footer {
    padding: 32px;
    position: relative;
  }
  footer .year {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }

  /* login */
  .login_wrap {
    max-width: 100%;
    padding: 24px 16px;
  }
  .login_logo {
    margin-bottom: 24px;
  }
  .login_logo img {
    height: 66px;
  }
  .login_box li {
    margin-bottom: 16px;
  }
  .login_box li .tit {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
