:root {
  font-size: 16px;
}
/* 메인페이지 */
.main-body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.text_large{
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 56px;
  color: var(--color-gray-700);
}

.text_small{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75em;
  color: var(--color-gray-700);
}





.gnb {
  top: 0;
  width: 100vw;
  height: 70px;
  padding: 0 200px;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.gnb-inner {
  max-width: 1920px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.gnb-inner_logo {
  display: block;
  width: 150px;
  height: 41px;
}

.gnb-inner_login {
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  background-color: var(--color-blue);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}




.banner {
  width: 100vw;
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.banner-inner {
  width: 1920px;
  height: 540px;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-inner_img {
  right: 10vw;
  bottom: 0;
  position: absolute;
}

.banner-inner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 1200px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  z-index: 1;
}

.banner-inner_btn{ 
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  background-color: var(--color-blue);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}





.section {
  width: 1200px;
}

.section-inner {
  display: flex;
  align-items: center;
  gap: 64px;
  height: 720px;
}

.section-inner:nth-child(2) {
  justify-content: end;
  text-align: right;
}

.section-inner_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.badge {
  font-weight: 700;
  font-size: 1.2em;
  color: var(--color-blue);
}


.title {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 3em;
  line-height: 56px;
  letter-spacing: 0.2;
  color: var(--color-gray-700);
}

.text {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.75em;
  letter-spacing: 0.8;
  color: var(--color-gray-700);
}

/* footer 영역 */
.footer {
  width: 100vw;
  height: 160px;
  background-color: var(--color-gray-900);
  font-weight: 400;
  font-size: 1em;
  line-height: 19.09px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-inner {
  flex-grow: 1;
  max-width: 1920px;
  padding: 32px 200px;
  display: flex;
  justify-content: space-between;
}

.footer-inner_center {
  display: flex;
  gap: 30px;
}

.footer-inner_right {
  display: flex;
  gap: 12px;
}

/* PC  */
.logo-typo,
.text-small,
.section-inner_img.mobile {
  display: none;
}
