:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

    /* 공통부 */
.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.logo{
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 4rem;
  line-height: 56px;
  color: var(--gray-700);
}

.logo-mobile{
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: var(--gray-700);
}

.button-small {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  background-color: var(--blue-400);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
}

.button-large{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 56px;
  background-color: var(--color-blue);
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

    /* nav bar */

  .gnb {
    top: 0;
    width: 100vw;
    height: 70px;
    padding: 0 200px 0 200px;
    background-color: var(--white);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  .gnb-inner {
    max-width: 1920px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .gnb-inner__logo {
    display: block;
    width: 150px;
    height: 41px;
  }

    /* main */

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
      /* banner부분 */

    .banner {
      width: 100vw;
      height: 540px;
      background-color: #cfe5ff;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }

    .banner-inner {
      width: 1920px;
      height: 540px;
      position: relative;
      display: flex;
      justify-content: center;
    }

    .banner-inner__img {
      right: 10vw;
      bottom: 0;
      position: absolute;
    }

    .banner-inner__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      width: 1200px;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 56px;
      z-index: 1;
    }

    .banner-inner__text .text {
      margin: 0;
    }

    .banner-inner__login{ 
      width: 128px;
      height: 48px;
      padding: 12px 20px;
      background-color: var(--color-blue);
      border-radius: 8px;
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

      /* 섹션부분 */

  .section {
    width: 1200px;
  }

  .section-inner {
    display: flex;
    align-items: center;
    gap: 64px;
    height: 720px;
  }

  .section-inner:nth-child(2) {
    justify-content: end;
    text-align: right;
  }

  .section-inner__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .badge {
    font-weight: 700;
    font-size: 2.0rem;
    color: var(--color-blue);
  }


.section-inner__text .title.text {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 56px;
  letter-spacing: 0.2;
  color: var(--color-gray-700);
}

.section-inner__text .text{
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.8;
  color: var(--color-gray-700);
}

/* footer 영역 */
.footer {
  width: 100vw;
  height: 160px;
  background-color: var(--color-gray-900);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19.09px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-inner {
  flex-grow: 1;
  max-width: 1920px;
  padding: 32px 200px;
  display: flex;
  justify-content: space-between;
}

.footer-inner_center {
  display: flex;
  gap: 30px;
}

.footer-inner_right {
  display: flex;
  gap: 12px;
}

/* PC  */
.logo-mobile,
.text-mobile,
.section-inner__img.mobile {
  display: none;
}