@media screen
{
	[data-widget="Footer"]
	{
		position: relative;
		background-color: #111827;
	
		> [data-widget="Row"]
		{
			height: 160px;
			flex-wrap: wrap;
	
			> [data-widget="Row"]
			{
				font-size: 16px;
				font-weight: 400;
	
				&.copyright
				{
					color: #72787F;
				}
				&.navigation
				{
					color: #E5E7EB;
				}
			}
		}
	}
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	[data-widget="Footer"]
	{
		> [data-widget="Row"]
		{
			padding: 32px 104px 64px 104px;
		}
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	[data-widget="Footer"]
	{
		> [data-widget="Row"]
		{
			padding: 32px 32px 64px 32px;
		}
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	[data-widget="Footer"]
	{
		> [data-widget="Row"]
		{
			padding: 32px 32px 64px 32px;

			> .copyright
			{
				bottom: 32px;
				position: absolute;
			}
		}
	}
}
