[data-widget="Header"]
{
	top: 0px;
	z-index: 69;
	position: sticky;
	background-color: #FFFFFF;

	> [data-widget="Row"]
	{
		height: 70px;

		> #navigation
		{
			> [data-widget="Row"]
			{
				> [data-widget="Link"]
				{
					text-align: center;
					font-weight: 700;
					line-height: 21.48px;
				}
			}
		}
		> [data-widget="Button"]
		{
			width: 128px;
			height: 48px;
			font-weight: 600;
			border-radius: 8px;
		}
		> #avatar
		{
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-size: cover;
			background-position: center;
		}
	}
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	[data-widget="Header"]
	{
		> [data-widget="Row"]
		{
			margin: 0px 200px;

			> #navigation
			{
				margin: 0px 30px;

				> [data-widget="Row"]
				{
					> [data-widget="Link"]
					{
						font-size: 18px;
						min-width: 109px;
						padding-left: 15.5px;
						padding-right: 15.5px;
					}
				}
			}
		}
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	[data-widget="Header"]
	{
		> [data-widget="Row"]
		{
			margin: 0px 24px;

			> #navigation
			{
				margin: 0px 30px;

				> [data-widget="Row"]
				{
					> [data-widget="Link"]
					{
						font-size: 18px;
						padding-left: 15.5px;
						padding-right: 15.5px;
					}
				}
			}
		}
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	[data-widget="Header"]
	{
		> [data-widget="Row"]
		{
			margin: 0px 16px;

			> [data-widget="Link"]
			{
				> [data-widget="Row"]
				{
					> img[alt="판다마켓 글자"]
					{
						width: 80px;
					}
				}
			}

			> #navigation
			{
				margin: 0px 16px;

				> [data-widget="Row"]
				{
					gap: 8px;
					
					> [data-widget="Link"]
					{
						font-size: 16px;
					}
				}
			}
			> [data-widget="Button"]
			{
				width: 88px;
			}
		}
	}
}
