/* Pagination */

.pageBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--gray200);
  color: var(--cool-gray500);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  &:hover,
  &:focus {
    background-color: var(--gray50);
  }

  &.focus {
    color: white;
    background-color: var(--blue600);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 40px;
}
