.bestItem {
  width: 282px;
  height: 362px;
}
.bestItem__img-frame {
  width: 282px;
  height: 282px;
  border-radius: 16px;
  margin-bottom: 10px;
  overflow: hidden;
}
.bestItem__img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bestItem__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bestItem__name {
  color: #1f2937;
  font-weight: 500;
  font-size: 14px;
}
.bestItem__price {
  color: #1f2937;
  font-weight: 700;
  font-size: 16px;
}
.bestItem__likes {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #4b5563;
  font-weight: 500;
  font-size: 12px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .bestItem {
    width: 100%;
    height: 416px;
  }
  .bestItem__img-wrapper {
    width: 336px;
    height: 336px;
  }
}
@media screen and (max-width: 767px) {
  .bestItem {
    width: 100%;
    height: 423px;
  }
  .bestItem__img-wrapper {
    width: 343px;
    height: 343px;
  }
}
