.dropdownOrder__wrapper {
  position: relative;
  width: 130px;
  height: 42px;
}
.dropdownOrder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 130px;
  height: 42px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: white;
}
.dropdownOrder img {
  width: 15px;
  height: 7px;
}
.dropDownOrder__list-wrapper {
  position: absolute;
  left: 0;
  bottom: -91px;
  width: 130px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: white;
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
}
.dropDownOrder__list-wrapper.show {
  opacity: 1;
  pointer-events: all;
}
.dropDownOrder__list-wrapper.mobile {
  left: -90px;
}
.dropDownOrder__list-wrapper ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 42px;
  cursor: pointer;
}
.dropDownOrder__list-wrapper ul li:first-child {
  border-bottom: 1px solid #e5e7eb;
}

@media screen and (max-width: 767px) {
  .dropdownOrder__wrapper {
    width: 42px;
    height: 42px;
  }
  .dropdownOrder {
    width: 42px;
    height: 42px;
  }
}
