.best_title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
}
.best_content {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 40px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tablet Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1199px) {
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Mobile Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .best_content {
    justify-content: center;
  }
}
