@import "../../style/common";
@mixin btn-close($color: var(--brand-blue)) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: $color;
  border-radius: 50%;
  border: none;
  img {
    pointer-events: none;
  }
}

input.input,
textarea.input {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  background: var(--cool-grey100);
  border: none;
  border-radius: 12px;
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  & + .alert {
    display: none;
    padding: 8px 16px;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.79rem;
    color: #bf010a;
  }
  &:focus {
    outline: 1px solid var(--brand-blue);
  }
  &::placeholder {
    color: var(--cool-grey400);
  }
  &:invalid + .alert {
    display: block;
  }
  &[type="password"] {
    padding: 16px 56px 16px 24px;
  }
}

.search {
  box-sizing: border-box;
  display: flex;
  gap: 4px;
  min-width: 325px;
  height: 48px;
  padding: 9px 16px;
  background: var(--cool-grey100);
  border-radius: 12px;
  &__ico {
    flex: 0 0;
  }
  &__input {
    flex: 1 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    &:placeholder {
      color: var(--cool-gray400);
    }
  }
}

.select {
  position: relative;
  width: 130px;
  &-main {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    @media screen and (max-width: $size-tablet) {
      width: 48px;
    }
    &__btn {
      height: 48px;
      padding: 0 20px;
      justify-content: space-between;
      @media screen and (max-width: $size-tablet) {
        padding: 0;
        justify-content: center;
      }
      .ico-arrow {
        transition: 0.5s transform;
      }
      &[data-onpop="true"] {
        .ico-arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
  .select-lists {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 100%;
    margin-top: 4px;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    @media screen and (max-width: $size-tablet) {
      width: 130px;
    }
    .select-list {
      border-top: 1px solid #e5e7eb;
      &:first-child {
        border-top: none;
      }
    }
    .radio {
      display: none;
    }
    .select-list__btn {
      justify-content: center;
      cursor: pointer;
    }
  }
  .select-main__btn,
  .select-list__btn {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    line-height: 42px;
    background: transparent;
    border: 0;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    color: #1f2937;
  }
}

.file-view {
  display: grid;
  grid-template-columns: 282px 282px;
  gap: 24px;
  @media screen and (max-width: $size-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  &__input {
    display: none;
  }
  &__label {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    height: 282px;
    background: #f3f4f6;
    border-radius: 12px;
    cursor: pointer;
    @media screen and (max-width: $size-tablet) {
      height: calc(50vw - 72px);
    }

    .img {
      width: 48px;
      height: 48px;
    }
    .txt {
      font-size: 16px;
      font-weight: 400;
      line-height: 2rem;
      color: #9ca3af;
    }
  }
  &__preview {
    position: relative;
    height: 282px;
    border: 1px solid #f9fafb;
    border-radius: 12px;
    overflow: hidden;
    @media screen and (max-width: $size-tablet) {
      height: calc(50vw - 72px);
    }
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      @include btn-close();
    }
  }
}

.tag-view {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background: #f9fafb;
    border-radius: 9999px;
  }
  &__txt {
    font-size: 16px;
    font-weight: 400;
  }
  &__btn {
    @include btn-close(#9ca3af);
  }
}
