.add-item-page {
  margin: 94px auto;
  width: 1201px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.41px;
  text-align: left;
}

.add-item-form {
  width: 1200px;
  margin: 24px auto;
}

.add-item-form-top {
  display: flex;
  justify-content: space-between;
}

.add-item-button {
  width: 88px;
  height: 42px;
  left: 1112px;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background-color: #9ca3af;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  text-align: center;
  color: #ffffff;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 12px;
}

.item-info-input {
  display: block;
  background-color: #f3f4f6;
  width: 100%;
  height: 56px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  border: none;
  padding-left: 24px;
  margin-top: 12px;
}

textarea {
  display: block;
  background-color: #f3f4f6;
  width: 100%;
  height: 200px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  border: none;
  padding-left: 24px;
  padding-top: 16px;
  margin-top: 12px;
}