.comment__title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.commentInput__textarea {
  font-family: "Pretendard";
  resize: none;
  width: 1200px;
  height: 104px;
  padding: 16px 24px;
  background: #f3f4f6;
  border-radius: 12px;
  border: none;
}

.commentInput__textarea::placeholder {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #9ca3af;
}

.commentInput {
  width: 1200px;
  position: relative;
}

.commentInput__Button {
  position: absolute;
  bottom: 10px;
  right: 0;
  bottom: -60px;
  padding: 12px 23px;
  background: #3692ff;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.commentInput__Button:disabled {
  background-color: #9ca3af;
  color: #ffffff;
  cursor: not-allowed;
}

.commentContainer {
  width: 100%;
  margin-top: 60px;
}

.comment--empty {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.comment--empty-message {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  color: #9ca3af;
}

.comment {
  border-bottom: solid 1px #e5e7eb;
  padding-bottom: 24px;
}

.comment__content {
  font-weight: 400;
  font-size: 16px;
  color: #1f2937;
}

.commentInfo {
  display: flex;
  margin-top: 24px;
}

.commentInfo__img {
  width: 40px;
  height: 40px;
}

.commentInfoItems {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.commentInfo__nickname {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4b5563;
}

.commentInfo__updateAt {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #9ca3af;
}

@media screen and (max-width: 1279px) {
  .commentSection {
    width: 100%;
  }

  .commentInput__textarea,
  .commentInput {
    width: 100%;
  }
}
