.productInfo {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  border-bottom: solid 1px #e5e7eb;
}

.productInfo__img {
  width: 486px;
  height: 486px;
  border-radius: 12px;
}

.productInfoItems {
  margin: -20px 24px;
}

.productInfoItems__name {
  font-weight: 600;
  font-size: 24px;
}

.productInfoItems__price {
  font-weight: 600;
  font-size: 40px;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px #e5e7eb;
}

.productInfoItems__descriptionTitle,
.productInfoBottomContainer__tagsTitle {
  font-weight: 500;
  font-size: 14px;
  color: #4b5563;
}

.productInfoItems__description {
  font-weight: 400;
  font-size: 16px;
  color: #1f2937;
}

.productInfoBottomContainer {
  margin-top: 24px;
}

.productInfoBottomContainer__tags {
  display: flex;
  gap: 8px;
}

.productInfoBottomContainer__tag {
  border: none;
  width: auto;
  height: 36px;
  padding: 6px 16px;
  background: #f3f4f6;
  border-radius: 26px;
  font-weight: 400;
  font-size: 16px;
}

.productInfoBottomContainer__favCount {
  height: 40px;
  padding: 4px 12px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: solid 1px #d1d5db;
  background-color: #ffffff;
  border-radius: 35px;
}

@media screen and (max-width: 767px) {
  .productInfo {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .productInfoBottomContainer__tags {
    flex-wrap: wrap;
  }
}
