@import url('/styles/reset.css');
@import url('/styles/common.css');
@import url('/assets/fonts/index.css');

html {
    font-size: 10px;
}

a {
    cursor: pointer;
}

/** PC */
.header-container {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    position: sticky;
    top: 0;
    padding: 11px 200px;
    flex: 0 1 auto;
    background-color: var(--button-font-color);
    z-index: 1;
}

.header-container__login-button {
    font-family: "Pretendard";
    width: 128px;
    height: 48px;
    border-radius: 8px;
    padding-block: 14px;
    font-size: 1.6rem;
    line-height: 1.909rem;
    text-align: center;
    background-color: var(--header-logo-color);
    color: var(--button-font-color);
    text-decoration: none;
    flex-shrink: 0;
}

.header-container__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
}

.header-container__logo--title > a {
    font-family: "ROKAF Bold";
    font-size: 2.56rem;
    font-weight: 700;
    line-height: 3.46rem;
    color: var(--header-logo-color);
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: inherit;
    height: 16rem;
    display: grid;
    background-color: var(--footer-bg-color);
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 32px 200px;
}

.footer-container__grid {
    font-family: "Pretendard";
    font-size: 1.6rem;
    line-height: 1.909rem;
}

.footer-container__grid--copyright {
    color: var(--panda-gray-color);
}

.footer-container__grid--faqs {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    justify-content: center;
}

.footer-container__grid--faqs > a {
    color: var(--faq-font-color);
    text-decoration: none;
}

.footer-container__grid--sns {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-columns: 20px;
    justify-content: center;
    gap: 9px;
}

.main-container__banner {
    background-color: var(--banner-bg-color);
    display: flex;
    position: relative;
    width: 100%;
    height: 54rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-container__banner--title > h2 > span {
    display: block;
    word-break: keep-all;
}

.main-container__banner--top-banner-img,
.main-container__banner--bottom-banner-img {
    width: 99.6rem;
    position: absolute;
    bottom: 0;
    margin-inline-start: 70rem;
    overflow: hidden;
}

.main-container__banner--top-banner-img > img,
.main-container__banner--bottom-banner-img > img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-container__banner--title
{
    font-family: "pretendard";
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-inline-end: 90rem;
    top: 15rem;
}

.main-container__banner--top-banner.main-container__banner--title {
    margin-inline-start: 30rem;
}

.main-container__banner--bottom-banner.main-container__banner--title {
    margin-inline-start: 15rem;
    padding: 0;
}


.main-container__banner--title > h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 20px;
}

.main-container__banner--top-banner.main-container__banner--title > a {
    width: 356px;
    height: 56px;
    border-radius: 40px;
    background-color: var(--header-logo-color);
    color: var(--button-font-color);
    text-decoration: none;
    text-align: center;
    padding-block: 16px;
    font-size: 2rem;
    font-weight: 600;
}

.main-container__section {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    padding-block: 138px;
    gap: 0px 64px;
}

.main-container__section--svg > img {
    width: 100%;
    object-fit: contain;
}

.main-container__section--content {
    display: flex;
    font-family: "pretendard";
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}

.main-container__section--content > h2,
.main-container__section--content > h3 {
    font-weight: 700;
}

.main-container__section--content > h2 {
    font-size: 1.8rem;
    line-height: 25.2px;
    color: var(--header-logo-color);
    letter-spacing: 1px;
}

.main-container__section--content > h3 {
    font-size: 4rem;
    line-height: 56px;
}

.main-container__section--content > p {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: 3px;
    padding-block-start: 12px;
}

.main-container__section--content > h2 > span,
.main-container__section--content > h3 > span {
    display: block;
}


.main-container__section--right-start {
    flex-flow: row-reverse;
    text-align: right;
}

/** Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-container {
        padding: 11px 24px;
    }

    .header-container__login-button {
        flex-shrink: 1;
    }

    .main-container__banner {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 75dvh;
        overflow: hidden;
    }

    .main-container__banner--top-banner.main-container__banner--title,
    .main-container__banner--bottom-banner.main-container__banner--title
    {
        margin-block-end: 10%;
    }

    .main-container__banner--top-banner.main-container__banner--title > h2 > span
    {
        display: inline-block;
    }

    .main-container__banner--bottom-banner.main-container__banner--title > h2 > span
    {
        display: block;
    }

    .main-container__banner--top-banner.main-container__banner--title,
    .main-container__banner--bottom-banner.main-container__banner--title {
        display: flex;
        position: absolute;
        text-align: center;
        align-items: center;
        margin: 0;
        top: 10%;
    }

    .main-container__banner--top-banner.main-container__banner--title > h2,
    .main-container__banner--bottom-banner.main-container__banner--title > h2 {
        padding-block-start: 1rem;
        padding-inline: 0;
        width: 52.1rem;
    }

    .main-container__banner--top-banner.main-container__banner--title > a {
        width: 35.5rem;
        height: 6rem;
    }

    .main-container__banner--top-banner-img,
    .main-container__banner--bottom-banner-img {
        width: 100%;
        position: absolute;
        overflow: hidden;
        display: block;
        padding: 0;
        bottom: 0;
        margin: 0;
        overflow: hidden;
    }

    .main-container__banner--bottom-banner-img {
        bottom: -0.1rem;
    }

    .main-container__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-block: 4rem;
        padding-inline: 2.4rem;
    }

    .main-container__section--right-start {
        flex-flow: column;
    }
    .main-container__section--content > h2 {
        font-size: 1.8rem;
        line-height: 2.52rem;
        padding-block-start: 1.2rem;
    }

    .main-container__section--content > h3 > span
    {
        display: inline-block;
    }

    .footer-container {
        gap: 2.4rem;
        padding-inline: 10.4rem;
    }

    .footer-container__grid--faqs {
       font-size: 1.6rem;
       font-family: 'Abel';
       line-height: 2.039rem;
       gap: 2rem;
    }
}

/** Mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .header-container {
        padding: 11px 16px;
    }

    .header-container__logo--svg > svg {
        display: none;
    }

    .header-container__login-button {
        flex-shrink: 1;
    }

    .main-container__banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 100%;
        height: 85dvh;
        overflow: hidden;
    }

    .main-container__banner--top-banner.main-container__banner--title > h2 > span,
    .main-container__banner--bottom-banner.main-container__banner--title > h2 > span
    {
        /*display: block;*/
    }

    .main-container__banner--top-banner.main-container__banner--title,
    .main-container__banner--bottom-banner.main-container__banner--title {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0;
        position: absolute;
    }

    .main-container__banner--top-banner.main-container__banner--title {
        top: 10dvh;
    }

    .main-container__banner--bottom-banner.main-container__banner--title {
        top: 20dvh;
    }

    .main-container__banner--top-banner.main-container__banner--title > h2,
    .main-container__banner--bottom-banner.main-container__banner--title > h2 {
        font-size: 3rem;
        line-height: 4.48rem;
        padding-block-start: 1rem;
        padding-inline: 0;
        width: 23.6rem;
    }

    .main-container__banner--top-banner.main-container__banner--title > a {
        font-size: 1.6rem;
        font-weight: 600;
        width: 15.4rem;
        height: 4.8rem;
        padding: 16px 20px;
    }

    .main-container__banner--top-banner-img,
    .main-container__banner--bottom-banner-img {
        width: 62.6rem;
        position: absolute;
        padding: 0;
        bottom: 0;
        margin: 0;
        text-align: center;
        overflow: hidden;
    }

    .main-container__banner--bottom-banner-img {
        width: 52.6rem;
        bottom: -0.1rem;
    }

    .main-container__section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-block: 4rem;
        padding-inline: 2.4rem;
    }

    .main-container__section.main-container__section--right-start {
        flex-flow: column;
    }

    .main-container__section--content {
        column-gap: 1.2rem
    }

    .main-container__section--content > h2 {
        font-size: 1.8rem;
        line-height: 2.52rem;
        padding-block-start: 1.2rem;
    }

    .main-container__section--content > h3 {
        font-size: 2.3rem;
        line-height: 3.36rem;
    }

    .main-container__section--content > h3 > span
    {
        display: inline-block;
    }

    .main-container__section--content > p {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 25.2px;
        letter-spacing: 2px;
        padding: 0;
    }

    .footer-container {
        width: inherit;
        height: 16rem;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        padding: 0;
        justify-content: center;
        align-items: center;
        padding-inline: 3.2rem;
    }

    .footer-container__grid
    {
        font-family: "Arial";
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.84rem;
    }

    .footer-container__grid--copyright {
        color: var(--panda-gray-color);
        display: flex;
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
        justify-content: center;
        padding-inline-end: 6rem;
    }

    .footer-container__grid--faqs {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .footer-container__grid--sns {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
}