* {
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 40px auto;
  width: 100%;
  gap: 24px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  width: 396px;
  height: 132px;
  margin: 60px auto 0;
}

label {
  font-size: 18px;
  font-weight: 700;
}

input {
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  background-color: #f3f4f6;
  border-radius: 12px;
  border: none;
}

.input:focus {
  outline-color: #3692ff;
}

.error {
  color: red;
}

.input_error {
  border: 1px solid red;
}

.password_icon {
  position: absolute;
  top: 54px;
  right: 24px;
}

button {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  width: 100%;
  height: 56px;
  background-color: #3692ff;
  cursor: pointer;
}

button:disabled {
  background-color: #9ca3af;
}

button a {
  text-decoration: none;
  color: #ffffff;
}

.social_login {
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 16px 24px;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_text {
  color: #1f2937;
  font-weight: 500;
  font-size: 16px;
}

.social_icon {
  display: flex;
  height: 42px;
  gap: 16px;
}

.signup {
  text-align: center;
  font-size: 15px;
}

.login_link {
  color: #3182f6;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 16px;
    max-width: 400px;
    gap: 16px;
  }

  form {
    gap: 16px;
  }

  label {
    font-size: 14px;
  }

  .logo {
    width: 198px;
    height: 66px;
    margin-top: 24px;
  }

  .section {
    gap: 8px;
  }
}
