/* 미디어 쿼리 */
@media (min-width: 768px) and (max-width: 1199px) {

  header {
  width: 744px;
  padding-left: 24px;
 }

 .main_visual, .background_color{
  width: 744px;
  height: 771px;

 }

 .main_title {
  width: 525px;
  height: 56px;
  text-align: center;
  margin: 84px 116px 24px 116px;
 }

.section_button {
  position: absolute;
  top: 164px;
  left: 195px;
}

.img_panda {
  width: 744px;
  position: absolute;
  top: 320px;
  /* border: 1px solid red; */
  height: 447px;
  overflow: hidden;
}

.section_img {
  width: 996px;
  height: 447px;
  /* height: 611px; */
  position: absolute;
  top: 0;
  left: -126px;
}

.container {
  width: 744px;
  height: 800px;
  /* border: 1px solid red; */
  position: relative;
  left: 0;
  top: 0;
  padding: 24px 24px 20px 24px;
}

.image {
  width: 696px;
  height: 524px;
  margin: 0 auto;
}

.mini_title {
  position: absolute;
  top: 568px;
  left: 22px;
  font-size: 18px;
}

.main_subtitle {
 position: absolute;
 top: 605px;
 left: 22px;
 font-size: 32px;
 font-weight: 700;
 line-height: 44.8px;
 width: 335px;
 height: 45px;
 /* border: 1px solid red; */
}

.explanation {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 670px;
  left: 22px;
  width: 225px;
  height: 44px;
}

.container2 {
  width: 744px;
  height: 800px;
  position: absolute;
  top: 800px;
  z-index: 1;
  left: 0;
  padding: 24px 24px 20px 24px;
  /* border: 1px solid blue; */
}

.right_img {
  width: 696px;
  height: 524px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 0px;
}

.search {
  position: absolute;
  top: 550px;
  left: 660px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
}

.main_subtitle_buy {
  position: absolute;
  width: 420px;
  height: 45px;
  top: 582px;
  left: 300px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44.8px;
  text-align: right;
}

.main_subtitle_buy br {
  display: none;
}
.explanation_p {
  position: absolute;
  top: 650px;
  left: 490px;
  font-size: 18px;
  font-weight: 500;
  width: 230px;
  height: 50px;
  line-height: 25.2px;
  text-align: right;
}

.container3 {
  width: 744px;
  height: 800px;
  position: absolute;
  top: 1550px;
  z-index: 1;
  left: 0;
  padding: 24px 24px 20px 24px;
}

.register {
  width: 67px;
  height: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  position: absolute;
  top: 580px;
  left: 24px;
}

.main_subtitle_sell {
  font-size: 32px;
  width: 420px;
  height: 45px;
  font-weight: 700;
  line-height: 44.8px;
  position: absolute;
  top: 615px;
  left: 24px;
}

.main_subtitle_sell br {
  display: none;
}

.explanation_p_p {
  font-size: 18px;
  width: 270px;
  height: 44px;
  font-weight: 500;
  line-height: 21.6px;
  position: absolute;
  top: 680px;
  left: 24px;
}

footer {
  width: 744px;
  height: 927px;
  /* border: 1px solid red; */
  position: relative;
  top: 1520px;
}

.footer_bg {
  width: 744px;
  height: 927px;
  overflow: hidden;
  position: relative;
}

.trade_panda {
  width: 996px;
  height: 540px;
  position: absolute;
  margin: 0 auto;
  top: 392px;
  left: -126px;
}

.footer_title {
  position: absolute;
  width: 295px;
  height: 112px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  /* border: 1px solid blue; */
  top: 201px;
  left: 224px;
  text-align: center;
}

.information {
  width: 744px;
  height: 160px;
}

.information_group {
  width: 536px;
  height: 20px;
  position: absolute;
  top: 32px;
  left: 104px;
  
}

}

@media (min-width: 375px) and (max-width: 767px) {
 
  .nav_logo {
   
  padding-left: 16px;
 }

 .login_button {
  padding-right: 16px;
 }
}