* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ROKAF';
  src: url('ROKAF\ Sans\ Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


:root {
  --common-color : #3692FF;
  --visual-color : #CFE5FF;
  --font-color : #1F2937;
  --input-color : #F3F4F6;
  --placeholder-color : #9CA3AF;
}


header {
  width: 396px;
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

main {
  position: relative;
  top: 40px;
  width: 640px;
  height: 664px;
  margin: 0 auto;
  /* border: 1px solid rgb(0, 4, 255); */
}

.main_logo {
  width: 103.53px;
  height: 103.88px;
  margin-right: 22.24px;
}

.main_title {
  width: 266px;
  height: 90px;
}

.main_title > a {
  font-family: 'ROKAF';
  font-size: 66.34px;
  font-weight: 700;
  line-height: 89.56px;
  text-decoration: none;
  color: var(--common-color);
}


.login_form {
  width: 640px;
  height: 524px;
}

.email_label {
  display: inline;
  width: 47px;
  height: 21px;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);margin-top: 40px;
}

.username_label {
  display: block;
  width: 47px;
  height: 21px;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
  margin-top: 24px;
}


.login_input {
 display: block;
 margin-top: 16px;
 width: 640px;
 height: 56px;
 background-color: var(--input-color);
 border: none;
 border-radius: 12px;
 gap: 10px;
}

.password_input {
  background-image: url(password_eye.png);
  background-position: 592px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.password_check_input {
  background-image: url(password_eye.png);
  background-position: 592px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}




.email_input::placeholder {
  width: 143px;
  height: 24px;
  padding: 16px 24px;
}

.password_input::placeholder {
  width: 592px;
  height: 24px;
  padding: 16px 24px;
}
.password_check_input::placeholder {
  width: 592px;
  height: 24px;
  padding: 16px 24px;
}

.username_input::placeholder {
  width: 143px;
  height: 24px;
  padding: 16px 24px;
 
}

.login_input::placeholder {
  font-family: 'Pretendard-Regular';
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: var(--placeholder-color);
  /* border: 1px solid red; */
}

input:focus {
  outline: none;
  border: 3px solid #3692FF;
}

.password_label {
  margin-top: 24px;
  display: block;
  width: 63px;
  height: 21px;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
}

.password_check {
  margin-top: 24px;
  display: block;
  width: 98px;
  height: 21px;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
}

.signup_button {
  margin-top: 24px;
  width: 640px;
  height: 56px;
  background-color: #9CA3AF;
  border-radius: 40px;
  padding: 16px 124px;
  gap: 10px;
  border: none;
  position: relative;
}


.signup_button>a {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Pretendard-Regular';
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.easy_login_box {
  
  margin-top: 24px;
  margin-bottom: 24px;
  width: 640px;
  height: 74px;
  border-radius: 8px;
  background-color: #E6F2FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.easy_login {
  font-family: 'Pretendard-Regular';
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  margin-left: 23px;
}

.icon_img {
  display: flex;
  width: 100px;
  height: 42px;
  position: absolute;
  top: 16px;
  left: 517px;
  gap: 16px;
}

.icon_img>a>img {
  width: 42px;
  height: 42px;
}

.sign_up_box {
  width: 210px;
  height: 18px;
  display: flex;
  margin: 0 auto;
  gap: 4px;
}

.sign_up_box>p {
  font-family: 'Pretendard-Regular';
  font-weight: 500px;
  font-size: 15px;
  line-height: 17.9px;
  color: var(--font-color);
}

#sign_up {
  color: #3182F6;
}