:root {
    --gray900 : #1B1D1F;
    --gray800 : #26282B;
    --gray600 : #454C53;
    --gray500 : #72787F;
    --gray400 : #9EA4A8;
    --gray200 : #E5E7EB;
    --gray100 : #E8EBED;
    --gray50 : #F7F7F8;
    
    --cool-gray900 : #111827;
    --cool-gray800: #1F2937;
    --cool-gray700 : #374151;
    --cool-gray400 : #9CA3AF;
    --cool-gray100 : #F3F4F6;
    --color-white : #FFFFFF;
    --blue800 : #3182F6;
    --blue100 :#CFE5FF;
    --blue50 :#E6F2FF;
    --brand-blue : #3692FF;
    --error-red : #F74747;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Pretendard;
}

.nav-header {
    max-width: 1920px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 200px;
    border-bottom: 1px;
}

.logo {
    width: 153px;
    height: 100%;
}

button {
    color: var(--color-white);
    background-color: var(--brand-blue);
}

.login-btn {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}


.small-text {
    color: var(--brand-blue);
    font-weight: 700;
    font-size: 18px;
}

main h1 {
    color:var(--cool-gray700);
    font-weight: 700;
    font-size: 40px;
}

main h2 {
    color:var(--cool-gray700);
    font-weight: 500;
    font-size: 24px;
}

.banner {
    background-color: var(--blue100);
    width: 100%;
    height: 540px;
    position: absolute;
    overflow: hidden;
}

.banner > .banner-center {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.top {
    top: 70px;
}

.bottom {
    top: 2908px;
}

.banner-section {
    width: 357px;
    height: 56px;
    position: absolute;
    top: 170px;
    line-height: 56px;
    text-align: left;
}

.explore-btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    width: 357px;
    height: 56px;
    border-radius: 40px;
    border: 0;
    padding :16px, 124px, 16px, 124px;
    margin-top: 32px;
    cursor: pointer;
}

.top img {
    position: absolute;
    width: 996px;
    height: 447px;
    top: 93px;
    left: 341px;
}

.bottom-text {
    line-height: 56px;
    text-align: left;
}

.bottom img {
    position: absolute;
    width: 996px;
    height: 540px;
    left: 341px;
}

.main-middle {
    max-width: 1200px;
    padding-top: 540px;
    margin: 0 auto;
    display: block;
}

.content {
    padding: 138px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 64px;
}

.middle {
    justify-content: right;
    text-align: right;
}

.content img {
    max-height: 444px;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section p {
    line-height: 25.2px;
}

section h1 {
    line-height: 56px;
    letter-spacing: 0.02em;
}

section h2 {
    line-height: 28.8px;
    letter-spacing: 0.08em;
}


footer {
    background-color: var(--cool-gray900);
    width: 100%;
    height: 160px;
    position: absolute;
    top: 3448px;
    color: var(--gray200);
    
}

.nav-footer {
    max-width: 1520px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 32px 200px 32px 200px;
    gap: 10px;
}

.page-text {
    width : 159px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.page-text > a {
    color: inherit;
    text-decoration: none;
}

.ico-social{
    width : 116px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.ico-social > a {
    display: inline-block;
}

.ico-social > a > img {
    max-width: 20px;
    max-height: 20px;
}



/*Tablet: 768px 이상 ~ 1199px 이하*/
@media (max-width: 1199px) {
    .nav-header {
        padding: 10px 24px;
    }

    .banner {
        height: 771px;
        position: absolute;
        width: 100%;
    }
    
    .banner-center {
        position: relative;
        flex-direction : column;
        overflow: hidden;
    }

    .banner-section {
        width: 100%;
        height: 331px;
        top: 84px;
        text-align: center;
    }

    .banner-section br {
        display:none !important;
    }
    
    .explore-btn {
        border-radius: 45.5px;
        margin-top: 24px;
    }

    .top img {
        top: 324px;
        left: calc(50% - 498px);
    }

    .bottom-text {
        top: -262.5px;
        position: relative;
        text-align: center;
    }

    .bottom img {
        top: 387px;
        left: calc(50% - 498px);
    }

    .main-middle {
        max-width: 744px;
        padding-top: 771px;
    }

    section h1 {
        line-height: 44.8px;
        font-size: 32px;
    }
    
    section h2 {
        line-height: 21.6px;
        font-size: 18px;
    }

    .content {
        margin: 0;
        padding: 22px;
        flex-direction : column;
        align-items: flex-start;
        gap: 20px;
    }

    .section-text h1 br {
        display:none !important;
    }

    .middle {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .content img {
        max-width: 696px;
        max-height: 524px;
        align-self: center;
    }

    .section-text {
        gap: 10px;
        padding-bottom: 48px;
    }

    .bottom {
        top: 3149px;
        height: 927px;
    }
    
    footer {
        top: 4076px;  
    }

    .nav-footer{
        padding: 32px 104px; 
    }
}



/*Mobile: 375px 이상 ~ 767px 이하*/
@media (max-width: 767px) {
    .nav-header {
        padding: 10px 16px;
    }

    .banner {
        height: 540px;
        position: absolute;
        width: 100%;
    }

    .banner-section {
        height: 156px;
        top: 48px;
    }

    #banner-text{
        font-size: 32px;
        line-height: 44.8px;
    }

    .banner-section br {
        display: block !important;
    }

    .explore-btn {
        width: 154px;
        height: 48px; 
        font-weight: 600;
        font-size: 16px;
        line-height: 19.09px;
        border-radius: 24px;
        margin-top: 18px;
        padding : 16px, 20px;
    }

    .top img {
        width: 626.12px;
        height: 281px;
        top: 259px;
        left: calc(50% - 313.06px);
    }

    .bottom-text {
        top: -135px;
        font-size: 32px;
        line-height: 44.8px;
        position: relative;
        text-align: center;
    }

    .bottom img {
        width: 497.91px;
        height: 269.95px;
        top: 270px;
        left: calc(50% - 248.955px);
    }

    .main-middle {
        max-width: 376px;
        padding-top: 575px;
    }

    section p {
        line-height: 22.4px;
        font-size: 16px;
    }

    section h1 {
        line-height: 33.6px;
        font-size: 24px;
    }
    
    section h2 {
        line-height: 19.2px;
        font-size: 16px;
    }

    .content {
        padding: 16px;
        gap: 6px;
    }

    .content img {
        max-width: 344px;
        max-height: 259px;
    }

    .section-text {
        gap: 8px;
    }

    .bottom {
        top: 2055px;
        height: 540px;
    }
    
    footer {
        top: 2594px;   
    }
    
    .nav-footer {
        height: 100%;
        flex-wrap: wrap-reverse;
        align-items: start;
        padding: 32px;
    }

    .made-name {
        flex: 1 1 100%;
        align-self: end;
    }

}





