* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-family: "Pretendard Variable", "Noto Sans KR", sans-serif;
  text-align: center;
}
nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 1px #dfdfdf solid;
}
.logoImg {
  position: absolute;
  top: 10px;
  left: 200px;
  cursor: pointer;
  width: 153px;
  height: 51px;
}
.loginButton {
  position: absolute;
  right: 200px;
  top: 11.5px;
  cursor: pointer;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px auto;
  gap: 10px;
  background-color: #3692ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0;
}
header {
  background-color: #cfe5ff;
  margin-top: 70px;
  width: 100%;
  height: 540px;
  position: relative;
}
.footer-banner {
  position: relative;
  background-color: #cfe5ff;
  width: 100%;
  height: 540px;
}
.header-title {
  position: absolute;
  z-index: 1;
  left: 360px;
  top: 170px;
  gap: 32px;
}
.header-title > p {
  font-weight: 700;
  font-size: 40px;
  color: #374151;
}
.headerButton {
  cursor: pointer;
  width: 357px;
  height: 56px;
  border-radius: 40px;
  background-color: #3692ff;
  gap: 10px;
  padding: 16px auto;
  color: white;
  font-size: 20px;
  border: 0;
  font-weight: 600;
}
.headerPanda {
  position: absolute;
  top: 93px;
  right: 223px;
}
main {
  position: relative;
  width: 1200px;
  margin: auto;
}
main > section {
  position: relative;
  width: 1200px;
  height: 720px;
}
section > img {
  width: 588px;
  height: 444px;
}
.section1 > img,
.section3 > img {
  position: absolute;
  top: 138px;
  left: 0;
}
.section2 > img {
  position: absolute;
  top: 138px;
  right: 0;
}
.sectionText1 {
  position: absolute;
  top: 244px;
  right: 245px;
  width: auto;
  text-align: left;
  height: 231px;
  float: right;
}
.sectionText2 {
  position: absolute;
  top: 244.5px;
  left: 231px;
  width: auto;
  height: 231px;
  float: left;
  text-align: right;
}
.sectionText3 {
  position: absolute;
  top: 244px;
  right: 173px;
  width: auto;
  height: 231px;
  float: right;
  text-align: left;
}
.category {
  color: #3692ff;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}
.category-section2 {
  color: #3692ff;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}
.sectionTitle {
  color: #374151;
  font-weight: 700;
  font-size: 40px;
}
.sectionContent {
  font-weight: 500;
  font-size: 24px;
  color: #374151;
}
.footer-banner > p {
  z-index: 1;
  position: absolute;
  left: 360px;
  top: 214px;
  font-weight: 700;
  font-size: 40px;
  color: #374151;
  text-align: left;
}
.footer-banner > img {
  position: absolute;
  right: 223px;
  bottom: 0;
}
.real-footer {
  position: relative;
  background-color: #111827;
  width: 100%;
  height: 160px;
  padding: 32px 200px;
}
.footer-content {
  position: absolute;
  top: 32px;
  left: 200px;
  display: flex;
  justify-content: space-between;
  width: 1520px;
  height: 20px;
}
.footer-content > p {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.footer-link {
  margin: 0;
  display: flex;
}
.faq-link .policy-link {
  text-decoration-line: none;
  color: white;
  margin-top: 0;
  display: inline-block;
}
.faq-link:link {
  text-decoration-line: none;
  color: white;
}
.faq-link:visited {
  text-decoration-line: none;
  color: white;
}
.faq-link:hover {
  text-decoration-line: none;
  color: #e5e7eb;
}
.policy-link:link {
  text-decoration-line: none;
  color: white;
}
.policy-link:visited {
  text-decoration-line: none;
  color: white;
}
.policy-link:hover {
  text-decoration-line: none;
  color: #e5e7eb;
}
.policy-text .faq-text {
  margin: 0;
  cursor: pointer;
  color: #e5e7eb;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.footer-image > img {
  margin-top: 32px;
  width: 20px;
  height: 20px;
}
p.policy-text {
  margin-top: 0;
  margin-right: 15px;
}
p.faq-text {
  margin-top: 0;
  margin-left: 15px;
}
/*tablet*/
@media (max-width: 1199px) {
  .logoImg {
    left: 24px;
  }
  .loginButton {
    right: 24px;
  }
  header {
    height: 771px;
  }
  .headerPanda {
    left: -126px;
    top: 324px;
  }
  .header-title {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 84px;
  }
  main > section {
    width: 100%;
  }
  section > img {
    position: absolute;
    width: 696px;
    height: 524px;
  }
  .sectionText1,
  .sectionText2,
  .sectionText3 {
    top: 568px;
    left: 22px;
    height: auto;
  }
  .footer-banner {
    height: 927px;
  }
  .footer-banner > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 201px;
  }
  .footer-banner > img {
    left: -126px;
    bottom: 0px;
  }
  .footer-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 536px;
  }
}
/*mobile*/
@media (max-width: 767px) {
  .logoImg {
    left: 16px;
  }
  .loginButton {
    right: 16px;
  }
}
