span {
  font-weight: 700;
}

p {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #374151;
  font-size: 24px;
}

main {
  margin-top: 70px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  padding: 10px 200px 10px;
}

.panda-login {
  cursor: pointer;
  background-color: var(--brandblue);
  border-radius: 8px;
  padding: 12px 20px;
  width: 128px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.panda-banner {
  height: 540px;
  background-color: var(--maincolor);
}

.panda-banner span {
  display: block;
  color: #374151;
}

.panda-banner div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  height: 540px;
  line-height: 56px;
}

#buypanda {
  background-image: url("../img/img_header_1.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 80% bottom;
}

#hellopanda {
  background-image: url("../img/img_footer_1.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 80% bottom;
}

.item-button {
  cursor: pointer;
  display: inline;
  background-color: var(--brandblue);
  color: #ffffff;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 124px;
  margin-top: 32px;
}

.panda-login:hover,
.item-button:hover {
  background-color: #1967d6;
  transition: 0.7s;
}

.pander-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 138px 0 138px 0;
}

.pander-img {
  flex: 1 0 50%;
  max-width: 588px;
  height: 444px;
  padding: 0px auto 0px auto;
  border-radius: 12px;
}

.pander-info {
  width: 588px;
  margin-left: 64px;
}

.pander-info-center {
  width: 588px;
  text-align: right;
  margin-right: 64px;
}

.info-badge {
  color: var(--brandblue);
  margin-bottom: 12px;
}

.info-title {
  margin: 12px 0px 24px 0px;
  line-height: 56px;
}

.info-title span {
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #111827;
  padding: 32px 200px 108px 200px;
  color: #676767;
  gap: 10px;
  width: 100%;
  font-size: 16px;
}

.footer-link {
  display: flex;
  color: #9ca3af;
  gap: 30px;
}

.footer-link,
.footer-sns {
  cursor: pointer;
}

.footer-sns {
  display: flex;
  justify-content: space-between;
  width: 116px;
}

.footer-sns img {
  width: 18px;
  height: 18px;
}

/* Tablet : 768px ~ 1199px */

@media (max-width: 1199px) {
  /* min width도 사용하자*/
  nav {
    padding: 10px 24px;
  }

  .panda-banner {
    height: 771px;
    background-color: var(--maincolor);
    padding: 0;
    margin-top: 70px;
  }

  .panda-banner div {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding: 84px 116px;
    line-height: 56px;
  }

  #buypanda,
  #hellopanda {
    background-size: 100%;
    background-position: 50% bottom;
  }

  .pander-main {
    flex-direction: column;
    margin: 24px;
  }

  .pander-main:nth-child(3) div {
    order: 2;
    text-align: left;
  }

  .pander-img {
    max-width: none;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .pander-info {
    text-align: left;
    margin: 0 0 64px 0;
    width: 100%;
  }

  .pander-info-center {
    width: 100%;
    margin: 0 0 64px 0;
  }

  .pander-info span {
    margin-bottom: 12px;
  }

  .panda-banner span {
    display: inline;
  }

  .info-title {
    margin-bottom: 20px;
  }

  .info-title span {
    display: inline;
  }

  footer {
    padding: 32px 104px 108px 104px;
  }
}

/* Mobile : 375px ~ 767px */

@media (max-width: 767px) {
  nav {
    padding: 10px 16px;
  }

  .item-button {
    font-size: 16px;
    line-height: 19px;
    padding: 14px 34px;
  }

  .panda-banner {
    height: 540px;
  }

  .panda-banner div {
    padding: 48px 70px;
    line-height: 44px;
    width: 100%;
  }

  .panda-banner span {
    display: block;
    font-size: 32px;
  }

  .pander-main {
    flex-direction: column;
    margin: 52px 16px;
  }

  footer {
    position: relative;
    padding: 32px;
    height: 160px;
  }

  .footer-copyright {
    position: absolute;
    bottom: 32px;
  }
}
