/* Variable */
@import url(/style/variable.css);
/* Reset */
@import url(/style/reset.css);

/* html {
  font-size: 16px;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ### Header ### */
.gnb {
  width: 100%;
  height: 70px;
  padding: 0 200px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border: 1px solid #dfdfdf;

  z-index: 1;
}

.nav {
  width: 1520px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-list {
  flex-grow: 1;
}

.nav-list.logo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-item > a {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.logo-item > a > h3 {
  font-family: var(--rokaf-sans);
  font-size: 25.63px;
  color: var(--brand-blue);
  font-weight: 700;

  cursor: pointer
}

.nav-list.login-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-item .login {
  width: 128px;
  height: 48px;

  padding: 12px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--pretendard);
  font-size: 16px;
  font-weight: 600; 

  background-color: var(--brand-blue);
  border-radius: 8px;
  color: #fff;
}

/* ### Banner ### */
.banner {
  width: 100%;
  height: 540px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--banner-background);
}

.banner-content {
  width: 1200px;
  height: 100%;

  display: flex;

  position: relative;
}

.banner-content.bottom {
  gap: 48px;
}

.banner-content .text-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 32px;
}

.text-item.bottom {
  gap: 0;
}

.text-item h1 {
  font-family: var(--pretendard);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;

  color: var(--cool-gray-700);
}

.text-item a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 355px;
  height: 56px;

  background-color: var(--brand-blue);
  border-radius: 40px;

  font-family: var(--pretendard);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  color: #fff;

  cursor: pointer;
}

.img-item {
  display: flex;
  align-items: flex-end;
}

.img-item img {
  /* banner-content를 relative 잡음 */
  position: absolute;
  bottom: 0;
}


/* ### Main ### */
main {
  width: 1200px;
  padding-bottom: 200px;
  
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
}

main section {
  width: 100%;
  height: 720px;
  
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;

  background-color: #fff;
}

.section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-items {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 16px;
}

.section-items.middle  {
  display: flex;
  align-items: flex-end;
}

.section-items p {
  font-family: var(--pretendard);
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;

  color: var(--brand-blue);
}

.section-items h1 {
  font-family: var(--pretendard);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;

  color: var(--cool-gray-700);
}

.section-items.middle h1 {
  display: flex;
  justify-content: flex-end;
}

.section-items h3 {
  font-family: var(--pretendard);
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;

  color: var(--cool-gray-700);
}

.section-items.middle h3 {
  display: flex;
  justify-content: flex-end;
}

/* ### Footer ### */
footer {
  width: 100%;
  height: 160px;
  padding-top: 32px;

  background-color: var(--cool-gray-900);

  display: flex;
  justify-content: center;
}

footer .footer-content {
  width: 1520px; 
  display: flex; 
  justify-content: space-between;
}

.notice-lists {
  width: 159px;
  display: flex;
  justify-content: space-between;  
}

.icon-lists {
  width: 116px;
  display: flex;
  justify-content: space-between;
}

.footer-content p,
.notice-lists a {
  font-family: var(--pretendard);
  font-size: 16px;
  font-weight: 400;

  color: var(--cool-gray-400);
}

/* Tablet */
@media (max-width: 1199px) {
  /* Header */
  .gnb {
    padding: 0 20px;
  }

  .banner {
    height: 771px;
    padding-top: 84px;
  }

  /* Banner */
  .banner-content {
    width: 744px;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .banner-content.bottom {
    padding-top: 84px;
    gap: 0;
  }

  .banner-content .text-item {
    width: 100%;
    align-items: center;
    margin-bottom: 96px;
  }

  .banner-content.bottom .text-item {
    margin-bottom: 0;
  }

  .text-item h1 br  {
    display: none;
  }

  .img-item img {
    position: static;
    height: 447px;
  }
  /* Main */
  main {
    width: 100%;
    padding-bottom: 48px;
    grid-template-rows: repeat(3, 1fr);
  }

  main section {
    height: 100%;
    padding: 24px 24px 0 24px;
    margin-bottom: 48px;

    grid-template-rows: 1fr 25%;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .section-img {
    width: 100%;

    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .section-img img {
    width: 100%;
  }

  .section-items {
    padding-top: 24px;

    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    
    justify-content: flex-start;
  }

  .section-items.middle div h1,
  .section-items div h1 {
    display: inline-block;
    font-size: 32px;
    line-height: 44.8px;
  }

  .section-items.middle div h3,
  .section-items div h3 {
    font-size: 18px;
    line-height: 21.6px;
  }
  /* Footer */
  footer {
    padding: 32px, 104px, 64px, 104px;
  }

  footer .footer-content {
    width: 536px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* Header */
  .logo-item img {
    display: none;
  }
  /* Banner */
  .banner {
    width: 100%;
    height: 540px;
    padding-top: 64px;
  }

  .banner-content {
    width: 375px;
    height: 100%;
  }

  .banner-content .text-item {
    width: 100%;
    height: 100%;

    margin-bottom: 48px;
  }

  .text-item h1 {
    text-align: center;
    font-size: 32px;
    line-height: 44.8px;
  }

  .text-item h1 br {
    display: block;
  }

  .text-item a {
    width: 154px;
    height: 48px;

    border-radius: 24px;

    font-size: 16px;
    line-height: 19.09px;
  }

  .banner-content .img-item {
    width: 626.12px;
    height: 281px;
  }

  .img-item img {
    width: 100%;
    height: 100%;
  }

  /* Main */
  main section {
    grid-template-rows: 1fr 30%;

    padding-left: 16px;
    padding-right: 16px;
  }

  .section-items p {
    font-size: 16px;
    line-height: 22.4px;
  }

  .section-items.middle div h1,
  .section-items div h1 {
    font-size: 24px;
    line-height: 33.6px;
  }

  .section-items.middle div h3,
  .section-items div h3 {
    font-size: 16px;
    line-height: 19.2px;
  }

  /* Footer */
  footer {
    padding: 32px, 32px, 64px, 32px;
  }

  footer .footer-content {
    width: 311px;
    height: 96px;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content p {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  .icon-lists {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }
  
}