@import "https://meyerweb.com/eric/tools/css/reset/reset.css";
.button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.button__wide {
  padding: 16px 124px;
}
.button__login {
  padding: 12px 12px;
  width: 128px;
}
.button--border-radius-40px {
  border-radius: 40px;
}
.button--disabled {
  background-color: #9ca3af !important;
}
.button--active {
  background-color: #3692ff !important;
}
.button--theme-blue {
  background-color: #3692ff;
  color: #ffffff;
  font-weight: 600;
}
.button--theme-blue:hover {
  background-color: #1967d6;
}
.button--theme-blue:focus {
  background-color: #1251aa;
  border-color: #3692ff;
}

html {
  font-size: 10px;
}

.description-invalid {
  color: #f74747;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  text-align: left;
  position: absolute;
  height: 18px;
  top: 64px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
}

.description-head {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin-bottom: 1.2rem;
}
.description-head--text-align-left {
  text-align: left;
}
.description-head--text-align-right {
  text-align: right;
}
.description-head--color-374151 {
  color: #374151;
}
.description-head--white-spacing {
  white-space: initial;
  word-break: keep-all;
  width: 34rem;
}

.description-detail {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.88rem;
  letter-spacing: 0.08rem;
  text-align: left;
}
.description-detail--color-374151 {
  color: #374151;
}
.description-detail--text-align-right {
  text-align: right;
}
.description-detail--white-spacing {
  white-space: initial;
  word-break: keep-all;
  width: 38rem;
}

.description-tip {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}
.description-tip--line-height-21-48px {
  line-height: 2.148rem;
}
.description-tip--line-height-25-2px {
  line-height: 2.52rem;
}
.description-tip--text-align-left {
  text-align: left;
}
.description-tip--text-align-right {
  text-align: right;
}
.description-tip--color-3692ff {
  color: #3692ff;
}

.description-header__description {
  width: 40rem;
  word-break: keep-all;
}

.description-footer {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
  text-align: center;
}
.description-footer--color-e5e7eb {
  color: #e5e7eb;
}
.description-footer__description {
  width: 36rem;
  word-break: keep-all;
}
.description-footer--color-9ca3af {
  color: #9ca3af;
}

.description-button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  vertical-align: middle;
}

.description-login {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.909rem;
}

.description-input {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}

.link {
  text-decoration: none;
  white-space: nowrap;
}

.container-easy-login {
  width: 640px;
  height: 74px;
  border-radius: 8px;
  background: #e6f2ff;
}

.container--position-relative {
  position: relative;
}
.container--gap-16px {
  gap: 16px;
}
.container--gap-24px {
  gap: 24px;
}
.container--gap-50px {
  gap: 50px;
}
.container--flex-column {
  display: flex;
  flex-direction: column;
}

.header-main {
  background-color: #ffffff;
}
.header-main--fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.header-main__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-main__content {
  margin: 10px 200px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-big {
  display: flex;
  justify-content: center;
}
.header-big__logo {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 396px;
  height: 132px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main--margin-top {
  margin-top: 60px;
}

.main-signup {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}
.main-signup__wrap {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.main-signup__wrap > * {
  width: 640px;
}
.main-signup__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  text-align: center;
}

.main-login {
  display: flex;
  justify-content: center;
}
.main-login__wrap {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.main-login__wrap > * {
  width: 640px;
}
.main-login__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  text-align: center;
}

.footer {
  padding-inline: 200px;
  height: 160px;
  font-size: 16px;
  padding-top: 32px;
}
.footer--theme-black {
  background-color: #111827;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  display: flex;
}
.footer__nav--gap-12px {
  gap: 12px;
}
.footer__nav--gap-30px {
  gap: 30px;
}
.footer__faq {
  grid-area: faq;
}
.footer__author {
  grid-area: author;
}
.footer__policy {
  grid-area: policy;
}
.footer__link {
  grid-area: link;
}

.content-card {
  height: 540px;
  width: 100%;
}
.content-card__content {
  width: 120rem;
}
.content-card__content--grid {
  display: grid;
  grid-template: 1fr/60rem 60rem;
  grid-template-areas: "image description";
}
.content-card__content--grid > img {
  grid-area: image;
}
.content-card__content--grid > .content-card__description {
  grid-area: description;
}
.content-card--reverse {
  grid-template-areas: "description image";
}
.content-card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.content-card__description--reverse {
  align-items: flex-end;
}
.content-card--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-card--position-relative {
  position: relative;
  z-index: 0;
}
.content-card--background-color-blue {
  background-color: #cfe5ff;
}
.content-card--margin-top-180px {
  margin-top: 180px;
}
.content-card--margin-top-138px {
  margin-top: 138px;
}
.content-card--last {
  background-image: url("../../image/main-page/Img_home_bottom.png");
}
.content-card--first {
  background-image: url("../../image/main-page/Img_home_top.png");
}

.content-figure--width-1920px {
  width: 1920px;
}
.content-figure__image {
  background-position: 80% bottom;
  background-repeat: no-repeat;
}

.content-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.content-description--position-relative {
  position: relative;
  z-index: 2;
}
.content-description--nextline {
  white-space: initial;
  width: 36rem;
}

.content-form__fieldset {
  display: flex;
  flex-direction: column;
}
.content-form__icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}
.content-form__icon:hover {
  cursor: pointer;
}
.content-form__input {
  width: 640px;
  height: 56px;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0px;
  background: #f3f4f6;
  border: none;
}
.content-form__input:-moz-placeholder-shown {
  border: none;
}
.content-form__input:placeholder-shown {
  border: none;
}
.content-form__input--valid {
  border: 1px solid #3692ff;
}
.content-form__input--invalid {
  border: 1px solid #f74747;
}
.content-form__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
}

.content-easy-login {
  width: 640px;
  height: 74px;
  gap: 0px;
  padding-inline: 23px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-easy-login__nav {
  display: flex;
  gap: 16px;
}
.content-easy-login__image {
  width: 42px;
  height: 42px;
}
.content-easy-login__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

@media (width <= 1200px) {
  .content-card {
    height: auto;
  }
  .content-card__description {
    margin: 0;
  }
  .content-card__content img {
    width: 94%;
    margin: 3%;
  }
  .content-card--margin-top-138px {
    margin-top: 8rem;
  }
  .content-figure__image {
    background-position: center bottom;
  }
  .content-card__content--grid {
    display: grid;
    grid-template: 1fr 0.2fr/1fr;
    grid-template-areas: "image" "description";
  }
  .description-head--white-spacing {
    white-space: unset;
    width: auto;
  }
  .description-footer__description {
    margin-top: 20rem;
    text-align: center;
  }
  .description-header__description {
    width: auto;
    margin-top: 10rem;
    text-align: center;
  }
}
@media (768px <= width <= 1200px) {
  html {
    font-size: 9px;
  }
  .header-main__content {
    margin-inline: 24px;
  }
  .button__wide {
    padding: 16px 125px;
  }
  .content-description {
    align-items: center;
  }
  .content-description--nextline {
    width: auto;
  }
  .content-card__content {
    width: 100%;
  }
  .content-card--flex-center {
    align-items: flex-start;
  }
  .content-card--first {
    height: 771px;
  }
  .content-card--last {
    height: 927px;
  }
  .content-card__description {
    margin-inline: 3rem;
  }
  .footer {
    padding-inline: 12rem;
    height: 20rem;
    font-size: 2rem;
    padding-top: 4rem;
  }
}
@media (375px <= width <= 767px) {
  html {
    font-size: 6px;
  }
  .header-main__content {
    margin-inline: 16px;
  }
  .main-signup {
    margin-inline: 16px;
    width: 100%;
  }
  .main-signup__wrap {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
  }
  .main-signup__wrap > * {
    width: 100%;
  }
  .main-login {
    margin-inline: 16px;
    width: 100%;
  }
  .main-login__wrap {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
  }
  .main-login__wrap > * {
    width: 100%;
  }
  .button__wide {
    padding: 16px 34px;
  }
  .content-figure__image {
    background-size: 660px;
  }
  .content-description {
    align-items: center;
  }
  .content-form__input {
    max-width: 400px;
    width: 100%;
  }
  .content-card--flex-center {
    align-items: flex-start;
    padding-top: 48px;
  }
  .content-card--first {
    height: 540px;
  }
  .content-card--last {
    height: 540px;
  }
  .content-card__description {
    margin-inline: 3rem;
  }
  .footer {
    padding-inline: 5.5rem;
    height: 16rem;
    font-size: 2.5rem;
    padding-top: 5rem;
  }
  .footer__content {
    display: grid;
    height: 100%;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-template-areas: "policy faq link" "author . .";
  }
  .footer__faq {
    text-align: center;
    align-self: flex-start;
  }
  .footer__author {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .footer__policy {
    gap: 8rem;
    align-self: flex-start;
  }
  .footer__link {
    justify-content: flex-end;
    align-self: flex-start;
  }
}
* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}/*# sourceMappingURL=style.css.map */