.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  background-color: var(--primary400);
  color: white;
  font-weight: 600;
  cursor: pointer;

  border: none;
  border-radius: 8px;
  height: 42px;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--primary600);
}

.button:active {
  background-color: var(--primary700);
}

.button:disabled {
  background-color: var(--gray400);
  cursor: default;
}
