.blue-button {
  background-color: var(--blue-primary);
  height: 2.625rem;
  padding: 0.72rem 1.88rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1931rem;
}

.blue-button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-400);
}

.blue-button:not(:disabled):hover {
  background-color: var(--blue-hover);
}

.blue-button:not(:disabled):active {
  background-color: var(--blue-active);
}
