.addItemForm {
  margin: 94px 360px;
}

.formTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 94px;
  height: 42px;
}

.addItemButton {
  width: 88px;
  height: 42px;
  border: none;
  border-radius: 8px;
  background-color: #9ca3af;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.activeAddButton {
  background-color: #3692ff;
}

.formInput {
  display: flex;
  flex-direction: column;
}

.imgPreview {
  width: 282px;
  height: 282px;
}

.imageInput {
  margin-top: 16px;
}

label {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
}

.formInputItem::placeholder {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  vertical-align: middle;
  padding-top: 74px;
}

.productDescription::placeholder {
  color: #9ca3af;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 16px;
}

.formInputItem,
.productDescription {
  border: none;
  background-color: #f3f4f6;
  height: 56px;
  border-radius: 12px;
  padding-left: 24px;
}

.productDescription {
  padding-top: 20px;
  resize: none;
}

.productDescription {
  height: 200px;
  position: relative;
}

.productDescription::placeholder {
  position: absolute;
  top: 16px;
}

.tag {
  display: inline-block;
  height: 48px;
  width: auto;
  background-color: #f3f4f6;
  border-radius: 26px;
  margin-top: 12px;
  margin-left: 10px;
  padding: 5px 12px 12px;
}

.deleteTagButton {
  position: relative;
  top: 5px;
  right: 5px;
  left: 2px;
  border: none;
}
