.button {
  border-radius: 8px;
  border: none;
<<<<<<< HEAD
  cursor: pointer;
  &__wide{
    padding: 16px 124px;
    height: 56px;
  }
  &__login {
    padding: 12px 20px;
    width:128px;
  }
  &--border-radius-40px{
    border-radius: 40px;
  }
  &--theme-blue {
    background-color: #3692ff;
    color: #ffffff;
    font-weight: 600;
=======
  font-weight: 600;
  cursor: pointer;
  &--background-color-blue {
    background-color: #3692ff;
    color: #ffffff;
>>>>>>> fa38520 (chore: set file structure of scss, bem)
    &:hover {
      background-color: #1967d6;
    }
    &:focus {
      background-color: #1251aa;
<<<<<<< HEAD
      border-color: #3692FF;
=======
>>>>>>> fa38520 (chore: set file structure of scss, bem)
    }
    &:disabled {
      background-color: #9ca3af;
    }
  }
}