.container-easy-login {
  width: 640px;
  height: 74px;
  border-radius: 8px;
  background: #e6f2ff;
}

.container {
  &--position-relative {
    position: relative;
  }
  &--gap-16px {
    gap: 16px;
  }
  &--gap-24px{
    gap: 24px;
  }
  &--gap-50px {
    gap: 50px;
  }
  &--flex-column {
    display: flex;
    flex-direction: column;
  }
}
