html {
  font-size: 10px;
}

.description-invalid {
  color: #f74747;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  text-align: left;
  position: absolute;
  height: 18px;
  top: 64px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
}

.description-head {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin-bottom: 1.2rem;
  &--text-align-left {
    text-align: left;
  }
  &--text-align-right {
    text-align: right;
  }
  &--color-374151 {
    color: #374151;
  }
  &--white-spacing {
    white-space: initial;
    word-break: keep-all;
    width: 34rem;
  }
}
.description-detail {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.88rem;
  letter-spacing: 0.08rem;
  text-align: left;
  &--color-374151 {
    color: #374151;
  }
  &--text-align-right {
    text-align: right;
  }
  &--white-spacing {
    white-space: initial;
    word-break: keep-all;
    width: 38rem;
  }
}
.description-tip {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
  &--line-height-21-48px {
    line-height: 2.148rem;
  }
  &--line-height-25-2px {
    line-height: 2.52rem;
  }
  &--text-align-left {
    text-align: left;
  }
  &--text-align-right {
    text-align: right;
  }
  &--color-3692ff {
    color: #3692ff;
  }
}

.description-header {
  &__description {
    width: 40rem;
    word-break: keep-all;
  }
}

.description-footer {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
  text-align: center;
  &--color-e5e7eb {
    color: #e5e7eb;
  }
  &__description {
    width: 36rem;
    word-break: keep-all;
  }
  &--color-9ca3af {
    color: #9ca3af;
  }
}

.description-button {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  vertical-align: middle;
}

.description-login {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.909rem;
}

.description-input {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}
