.AddItem__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AddItem__Header h1 {
  font-weight: 700;
  font-size: 28px;
}
.AddItem__Header__button_wrapper {
  width: 88px;
  height: 42px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__input_title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.form__input_wrapper input[type="text"],
.form__input_wrapper input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  padding: 16px;
  height: 56px;
}
textarea {
  height: 200px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  padding: 16px;
  resize: none;
}
