.addItem__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addItem__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addItem__header__title {
  font-weight: 700;
  font-size: 28px;
}
.addItem__header__btn-wrapper {
  width: 88px;
  height: 42px;
}
.addItem__input-wrapper input[type="text"],
.addItem__input-wrapper input[type="number"] {
  width: 100%;
  height: 56px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
}
.addItem__input__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
}
.addItem__textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border-radius: 12px;
  border: none;
  padding: 16px;
  background-color: #f3f4f6;
  resize: none;
}
.addItem__tags-wrapper {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}
