.imgInput {
  display: flex;
  gap: 30px;
}
.imgInput__wrapper {
  position: relative;
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: #f3f4f6;
}
.imgInput__wrapper label {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.imgInput__wrapper label img {
  margin-bottom: 15px;
}
input[type="file"] {
  display: none;
}
.imgInput__preview-wrapper {
  position: relative;
  display: none;
  width: 282px;
  height: 282px;
  border-radius: 12px;
  overflow: hidden;
}
.imgInput__preview-wrapper.show {
  display: block;
}
.imgInput__preview-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imgInput__preview-cancel-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #3692ff;
  cursor: pointer;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .imgInput__wrapper {
    width: 162px;
    height: 162px;
  }
  .imgInput__preview-wrapper {
    width: 162px;
    height: 162px;
  }
}
@media screen and (max-width: 767px) {
  .imgInput__wrapper {
    width: 168px;
    height: 168px;
  }
  .imgInput__preview-wrapper {
    width: 168px;
    height: 168px;
  }
}
