.tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 12px 12px 16px;
  border-radius: 26px;
  background-color: #f9fafb;
  white-space: nowrap;
}

.tag__delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #9ca3af;
  cursor: pointer;
}
