@import url("/common/index.css");

/* header */
header
{
	display: flex;
	align-items: center;
	justify-content: center;
}
/* main */
main {
	display: flex;
	justify-content: center;
}
main .container
{
	gap: 24px;
	width: 100%;
	display: flex;
	margin-left: 16px;
	margin-right: 16px;
	flex-direction: column;
}
/* form */
form
{
	gap: 24px;
	display: flex;
	flex-direction: column;
}
form .inputs
{
	display: flex;
	flex-direction: column;
}
form .field
{
	display: flex;
	flex-direction: column;
}
form label
{
	color: #1F2937;
	font-weight: 700;
}
form .wrapper 
{
	position: relative;
}
form img {
	top: 16px;
	right: 24px;
	position: absolute;
}
form input
{
	width: 100%;
	height: 56px;
	padding: 0px 24px;
	border-radius: 12px;
	background-color: #F3F4F6;
}
form input:focus
{
	outline: #369EFF solid thin;
}
form input::placeholder
{
	color: #9CA3AF;
	font-size: 16px;
	font-weight: 400;
}
form button
{
	color: white;
	height: 56px;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	border-radius: 40px;
}
form:invalid button {
	cursor: not-allowed;
	background-color: #9CA3AF;
}
/* .third-party */
.third-party
{
	color: #1F2937;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	height: 74px;
	padding: 0px 24px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #E6F2FF;
}
.third-party .wrapper
{
	gap: 16px;
	display: flex;
}
.third-party .service
{
	display: inline-flex;
}
/* helper */
.helper
{
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	line-height: 17.9px;
}
.helper a[href] {
	color: var(--blue);
	text-decoration: underline;
}
/* device: PC */
@media screen and (1200px <= width)
{
	/* header */
	header
	{
		margin: 50px 0px;
	}
	header img
	{
		width: 396px;
		height: 132px;
	}
	/* main */
	main .container
	{
		max-width: 640px;
	}
	/* form */
	form .inputs
	{
		gap: 24px;
	}
	form .field
	{
		gap: 16px;
	}
	form label
	{
		font-size: 18px;
		line-height: 21.48px;
	}
}
/* device: Tablet */
@media screen and (768px <= width < 1200px)
{
	/* header */
	header
	{
		padding: 50px 0px;
	}
	header img
	{
		width: 396px;
		height: 132px;
	}
	/* main */
	main .container
	{
		max-width: 640px;
	}
	/* form */
	form .inputs
	{
		gap: 24px;
	}
	form .field
	{
		gap: 16px;
	}
	form label
	{
		font-size: 18px;
		line-height: 21.48px;
	}
}
/* device: Mobile */
@media screen and (375px <= width < 768px)
{
	/* header */
	header
	{
		margin: 24px 0px;
	}
	header img
	{
		width: 198px;
		height: 66px;
	}
	/* main */
	main .container
	{
		max-width: 400px;
	}
	/* form */
	form .inputs
	{
		gap: 16px;
	}
	form .field
	{
		gap: 8px;
	}
	form label
	{
		font-size: 14px;
		line-height: 16.71px;
	}
}
