.addIteme_wrap {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  gap: 25px;
}

.addItem_header {
  display: flex;
  justify-content: space-between;
}

.addItem_infoContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addItem_infoContainer > label {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1F2937;
}

.addItem_infoContainer > input, textarea {
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9CA3AF;
}

.addItem_infoContainer > textarea {
  height: 200px;
}