.wrap {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.productList_container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.product {
  width: 282px;
  height: 362px;
  gap: 16px;
}