.button_basic,
.button_registration:hover {
  cursor: pointer;
  background-color: #3692FF;
  border-style: none;
  border-radius: 8px;
  padding: 12px 23px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.button_registration {
  cursor: pointer;
  background-color: #9CA3AF;
  border-style: none;
  border-radius: 8px;
  padding: 12px 23px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}