.tagsInput_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tagsLabel {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1F2937;
}

.tagsInput {
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9CA3AF;
}

.tagContainer {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.tagContent {
  display: flex;
  align-items: center;
  padding: 14px 14px 14px 16px;
  border-radius: 26px;
  background-color: #F9FAFB;
}

.tagText {
  margin-right: 8px;
  color: #1F2937;
  font-size: 16px;
  list-style: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagDeleteButton {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 999px;
  background-color: #9CA3AF;
}