@import '../../styles/';

.button {
  cursor: pointer;

  background-color: $brand-blue;

  padding: 12px 23px;

  border-radius: 8px;
  border: none;

  @include font-base(white, 600, 16px, 19px);

  &:hover {
    background-color: darken($brand-blue, 10%);
  }
}
