:root {
    --cool-gray100: #f3f4f6;
    --cool-gray400: #9ca3af;
    --primary-color: #3692ff;
    --error-color: #f74747;
    --brand-blue: #3182f6;
    --gray900: #1b1d1f;
    --gray800: #26282b;
    --gray700: #374151;
    --gray600: #454c53;
    --gray500: #72787f;
    --gray400: #9ea4a8;
    --gray200: #e5e7eb;
    --gray100: #e8ebed;
    --gray50: #f7f7f8;
}