.form-container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

/* logo */
.form-container__header {
  display: flex;
  justify-content: center;
  margin: 60px 0 40px 0;
}

.form-container__header img {
  width: 396px;
  height: 132px;
}

/* form */
.user-form__group {
  margin-bottom: 24px;
}

.user-form__btn {
  width: 640px;
  height: 56px;
  background-color: #9ca3af;
  border-radius: 40px;
  font-size: 20px;
}

/* input */

.user-form__label {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: var(--color-cool-gray-800);
}

.user-form__input-field {
  width: 640px;
}

.user-form__input:focus {
  outline: #3692ff solid 1.5px;
}

.user-form__input-field {
  position: relative;
}

.user-form .toggle-password-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
}

.user-form__btn:active {
  background-color: var(--color-blue);
  color: #fff;
}

/* social-login-section */

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 74px;
  padding: 16px 23px;
  margin-top: 24px;
  background-color: #e6f2ff;
  border-radius: 8px;
  color: var(--color-cool-gray-800);
}

.social-login span {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-cool-gray-800);
}

.social-login__btn-group {
  display: flex;
  gap: 16px;
}

/* already-member */

.already-member {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 10em;
  font-weight: 500;
  font-size: 15px;
  line-height: 17.9px;
  color: var(--color-cool-gray-800);
}

.already-member a {
  margin-left: 8px;
  color: var(--color-blue);
  text-decoration: underline;
}

/* mobile */
@media screen and (max-width: 767px) {
  .form-container {
    max-width: 400px;
    padding: 24px 16px 0 16px;
  }

  .form-container__logo {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .form-container__logo img {
    width: 198px;
    height: 66px;
  }

  .user-form,
  .user-form__input-field,
  .user-form__btn,
  .social-login {
    width: 100%;
  }

  .user-form__label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .user-form__input {
    margin-bottom: 16px;
  }
}
