@import "../../styles/index.scss";

.article_list {
  display: flex;
  column-gap: 10px;

  .article {
    display: flex;
    flex-direction: column;

    list-style: none;
    min-width: 384px;
    max-height: 169px;
    background-color: get_color(gray_50);
    border-radius: 8px;
    padding-block: 10px;
    padding-inline: 16px;

    .article_top {
      display: flex;
      align-content: flex-start;
      padding-block: 10px 20px;

      .title {
        @include font-base(get_color(black), 600, 16px, 23.87px);
        width: 290px;
        word-break: break-all;
        padding-block-end: 10px;
        padding-inline-end: 10px;
      }

      .image {
        position: relative;
        display: inline-block;
        width: 72px;
        border-radius: 6px;
        border: 1px solid get_color(gray_200);
        aspect-ratio: 1/1;
      }

      .no_image {
        position: relative;
        display: inline-block;
        width: 72px;
        aspect-ratio: 1/1;
      }
    }

    .article_bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .bottom_left {
        display: flex;
        gap: 10px;
        .profile {
          .profile_icon {
            width: 10px;
          }
          .profile_name {
            @include font-base(get_color(gray_600), 400, 14px, 16.71px);
          }
        }

        .like_count {
          display: flex;
          align-items: center;
          gap: 10px;
          .like_count_content {
            @include font-base(get_color(gray_500), 400, 14px, 16.71px);
          }
        }
      }

      .create_date {
        @include font-base(get_color(gray_400), 400, 14px, 16.71px);
      }
    }
  }
}
