@import "../../styles/index.scss";

.article_list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .article {
    display: flex;
    flex-direction: column;

    list-style: none;
    max-width: 1200px;
    max-height: 169px;
    padding-block: 10px;
    border-bottom: 1px solid get_color(gray_200);

    .article_top {
      display: flex;
      align-content: flex-start;
      justify-content: space-between;
      padding-block: 10px 10px;

      .title {
        @include font-base(get_color(black), 600, 16px, 23.87px);
        width: 290px;
        word-break: break-all;
        padding-block-end: 10px;
        padding-inline-end: 10px;
      }

      .image {
        position: relative;
        display: inline-block;
        width: 72px;
        border-radius: 6px;
        border: 1px solid get_color(gray_200);
        aspect-ratio: 1/1;
      }
      .no_image {
        position: relative;
        display: inline-block;
        width: 72px;
        aspect-ratio: 1/1;
      }
    }

    .article_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding-block-end: 10px;

      .bottom_left {
        display: flex;
        align-items: center;
        gap: 10px;
        .profile {
          display: flex;
          align-items: center;
          gap: 10px;
          .profile_icon {
            width: 10px;
          }
          .profile_name {
            @include font-base(get_color(gray_600), 400, 14px, 16.71px);
          }
        }
        .create_date {
          @include font-base(get_color(gray_400), 400, 14px, 16.71px);
        }
      }
      .bottom_right {
        .like_count {
          display: flex;
          align-items: center;
          gap: 10px;
          .like_count_content {
            @include font-base(get_color(gray_500), 400, 16px, 24px);
          }
        }
      }
    }
  }
}
