.widget
{
	display: flex;
	align-items: center;
}
.widget.left
{
	text-align: left;
}
.widget.right
{
	text-align: right;
}
.widget :global(.wrapper)
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.widget :global(.wrapper > .name)
{
	color: var(--blue);
	font-weight: 700;
	margin-bottom: 12px;
}
.widget :global(.wrapper > .heading)
{
	font-weight: 700;
	margin-bottom: 24px;
}
.widget :global(.wrapper > .subheading)
{
	font-weight: 500;
	margin-bottom: 0px;
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	.widget
	{
		gap: 64px;
		width: 1200px;
		height: 720px;
	}
	.widget.left
	{
		flex-direction: row;
	}
	.widget.right
	{
		flex-direction: row-reverse;
	}
	.widget :global(.wrapper > .name)
	{
		font-size: 18px;
		line-height: 25.2px;
	}
	.widget :global(.wrapper > .heading)
	{
		font-size: 40px;
		line-height: 56px;
	}
	.widget :global(.wrapper > .subheading)
	{
		font-size: 24px;
		line-height: 28.8px;
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	.widget
	{
		gap: 24px;
		width: 100%;
		flex-direction: column;
	}
	.widget :global(img)
	{
		width: 696px;
		height: 524px;
	}
	.widget :global(.wrapper)
	{
		max-width: 696px;
	}
	.widget :global(.wrapper > .name)
	{
		font-size: 18px;
		line-height: 25.2px;
	}
	.widget :global(.wrapper > .heading)
	{
		font-size: 32px;
		line-height: 44.8px;
	}
	.widget :global(.wrapper > .subheading)
	{
		font-size: 18px;
		line-height: 21.6px;
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	.widget
	{
		gap: 24px;
		width: 100%;
		flex-direction: column;
	}
	.widget :global(img)
	{
		width: 343px;
		height: 258px;
	}
	.widget :global(.wrapper)
	{
		max-width: 343px;
	}
	.widget :global(.wrapper > .name)
	{
		font-size: 16px;
		line-height: 22.4px;
	}
	.widget :global(.wrapper > .heading)
	{
		font-size: 24px;
		line-height: 33.6px;
	}
	.widget :global(.wrapper > .subheading)
	{
		font-size: 18px;
		line-height: 25.2px;
	}
}
