header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 auto;
  background-color: white;
  border-bottom: 1px solid var(--gray-200);
  z-index: 1;
}

.leftContainer {
  display: flex;
  align-items: center;
  > a > img {
    margin-top: 0.5rem;
  }
}

.navBar {
  display: flex;
  gap: 2rem;
  > li > a {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3425rem;
  }
}

.activ-nav {
  color: var(--blue-primary);
}

@media (max-width: 767px) {
  .navBar {
    padding-left: 20px;
    gap: 1.5rem;
  }
}
