[data-widget="Product"]
{
	gap: 16px;
	width: 100%;
	display: flex;
	flex-direction: column;

	> .portrait
	{
		aspect-ratio: 1 / 1;
		width: 100%;
		box-shadow: inset 0px 0px 50px 0 rgba(0, 0, 0, 0.125);
		border-radius: 16px;
		background-size: cover;
		background-position: center;
	}
	> .wrapper
	{
		gap: 6px;
		display: flex;
		flex-direction: column;

		> .title
		{
			font-size: 14px;
			font-weight: 500;
			line-height: 16.71px;
		}
		> .price
		{
			font-size: 16px;
			font-weight: 700;
			line-height: 19.09px;
		}
		> .favorite
		{
			gap: 5px;
			display: flex;
			align-items: center;
			font-size: 14px;
			font-weight: 500;
			line-height: 14.32px;

			> img
			{
				width: 16px;
				height: 16px;
			}
		}
	}
}
