.postListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleContainer {
  width: 1200px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}
.writeButton {
  width: 88px;
  height: 42px;
  border: 0;
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #3692ff;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
