/* Tablet size */
@media(max-width: 1200px) {

    header{
        grid-template-columns: 177px 1fr 152px;
    }
    header a:first-child {
        margin: auto 0 auto 24px;
    }

    header a:last-child {
        margin: auto 24px auto 0;
    }





    .banner {

        grid-template-columns: 100px 1fr 100px;

    }

    main {
        grid-template: 540px 1fr 540px / 100px 1fr 100px;
    }


    .banner-content {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .banner-txt p {
        text-align: center;
    }

    .top .banner-img {
        position: static;
        width: 100%;
        height: 300px;
        object-fit: contain;
    }

    .bottom .banner-img {
        position: static;
        width: 100%;
        height: 300px;
        object-fit: contain;
    }

    .info-card {
        flex-direction: column;
        align-items: center;
    }

    .info-card-txt {
        align-items: center;
    }


}