/* Tablet size */
@media(min-width: 768px) and (max-width: 1199px) {


    /* header */
    header {
        grid-template-columns: 177px 1fr 152px;
    }

    header a:first-child {
        margin: auto 0 auto 24px;
    }

    header a:last-child {
        margin: auto 24px auto 0;
    }



    /* main */
    main {
        grid-template: 771px 1fr 927px / 24px 1fr 24px;
    }


    /* banner */
    .banner {
        display: block;
    }


    .top .banner-content {
        flex-direction: column;
        align-items: center;
        margin-top: 84px;
        gap: 100px;

    }

    .top .banner-txt {
        align-items: center;
        gap: 24px
    }

    .top .action-btn {
        width: 355px;
    }

    .top .banner-txt p br {
        display: none;
    }

    .top .banner-img {
        position: static;
        width: 996px;
    }

    .bottom .banner-content {
        flex-direction: column;
        align-items: center;
        margin-top: 201px;
        gap: 74px;

    }

    .bottom .banner-txt {
        text-align: center;
    }

    .bottom .banner-img {
        position: static;
        width: 996px;
    }

    /* info */

    .info-section {
        grid-template-rows: 24px 1fr 32px 32px 1fr 32px 32px 1fr 80px;

    }

    .info-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
    }

    .info-card-img {
        width: 696px;
        height: 524px;
    }

    .info-card-txt .big-info br {
        display: none;
    }

    .search .info-card-txt {
        order: 2;
    }

    .search .info-card-img {
        order: 1;
    }

    /* footer */
    .footer-content{
        margin: 0 100px;
    }


}

