// font
$font-default:
  Pretendard,
  -apple-system,
  BlinkMacSystemFont,
  helvetica,
  Apple SD Gothic Neo,
  sans-serif;

// color
$cool-gray-50: #f3f4f6;
$cool-gray-100: #f3f4f6;
$cool-gray-200: #e5e7eb;
$cool-gray-400: #9ca3af;
$cool-gray-500: #6b7280;
$cool-gray-600: #4b5563;
$cool-gray-700: #374151;
$cool-gray-800: #1f2937;
$cool-gray-900: #111827;

$gray-600: #676767;
$gray-200: #CFCFCF;

$border-gray: #dfdfdf;
$border-focus: #3692FF;

$bg-blue-50: #e6f2ff;
$bg-blue-100: #cfe5ff;
$bg-white: #fff;

$brand-color-kakao: #f5e14b;

$error: #f74747;
$primary: #3692ff;

// size
$d-padding: 20rem;
$m-padding: 1.6rem;
$header-height: 7rem;

// Break Point
$tablet: 1199px;
$mobile: 767px;