h1 {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}

.best-products-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(282px, 1fr));
  gap: 24px;
}
