[data-widget="Button"]
{
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);

	&:hover
	{
		background-color: #1967D6;
	}
	&:focus
	{
		background-color: #1251AA;
	}
	&.disabled
	{
		background-color: #9CA3AF;
	}
}
