.FileInput {
  display: flex;
  position: relative;
  gap: 24px;
}

.FileinputPreview {
  display: block;
  object-position: center;
  object-fit: cover;
  left: 500px;

  width: 282px;
  height: 282px;
  border-radius: 12px;
}

.FileinputHiddenOverlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  width: 282px;
  height: 282px;

  cursor: pointer;
}

.FileinputClearButton {
  position: absolute;
  top: 10px;
  left: 556px;

  width: 22px;
  height: 24px;
  border: none;
  border-radius: 50%;

  background-color: #3692ff;

  color: #ffffff;
  cursor: pointer;
}
