@import url("common.css");
/* ********** */
/* Common CSS */
/* ********** */
button {
  background-color: var(--brand-color);
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  font-weight: 600;
  text-align: center;
}
button:hover {
  background-color: var(--button-hover);
}
button:active {
  background-color: var(--button-clicked);
}
/* ********** */
/* Header CSS */
/* ********** */
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}
header .logo_wrapper_anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#logo_only {
  width: 40px;
}
#text_only {
  width: 100px;
}
header .login-button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19.09px;
}

.header_wrapper {
  width: 100%;
  height: 51px;
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ******* */
/* Banners */
/* ******* */
.main_banner {
  height: 540px;
  background-color: var(--banner-background);
  background-image: url("../assets/banner-img.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
  background-size: 996px 447px;
}

.footer_banner {
  height: 540px;
  background-color: var(--banner-background);
  background-image: url("../assets/footer-banner-img.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
  background-size: 996px 540px;
}
.main_banner .container,
.footer_banner .container {
  position: relative;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  text-align: left;
}
.banner_title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 700;
  color: var(--gray-700);
  margin-bottom: 30px;
}
.main_banner .container button {
  width: 355px;
  border-radius: 40px;
  font-size: 20px;
  line-height: 24px;
  height: 60px;
}

/* ************* */
/* Main Sections */
/* ************* */
main .container {
  width: 1200px;
  margin: 0 auto;
}
main .container section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 200px 0;
}
main .container section img {
  width: 588px;
}
main .container section .text_wrapper {
  width: 303px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .container section .text_wrapper span {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
main .container section .text_wrapper h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: var(--gray-700);
}
main .container section .text_wrapper p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-700);
}
main .container section:nth-child(2) .text_wrapper {
  align-items: flex-end;
  text-align: right;
}

/* ****** */
/* Footer */
/* ****** */
footer {
  background-color: var(--gray-900);
  height: 160px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container {
  width: 100%;
  margin: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
footer .container span {
  color: var(--gray-400);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: center;
}

footer .container .footer_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
footer .container .footer_nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: var(--footer-gray);
}
footer .container .sns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .container .sns img {
  width: 20px;
  height: 20px;
}

/* ***************** */
/* Responsive Layout */
/* ***************** */

/* Tablet Layout */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header_wrapper {
    margin: 0 24px;
  }
  .main_banner {
    height: 771px;
    background-position: center 100%;
  }
  .footer_banner {
    background-position: center 100%;
    height: 927px;
  }
  .main_banner .container,
  .footer_banner .container {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  .main_banner .container br,
  .footer_banner .container br {
    display: none;
  }
  .main_banner .container button {
    width: 355px;
    margin-bottom: 84px;
  }

  main .container {
    width: 744px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  main .container section {
    flex-direction: column;
    margin: 20px 0;
  }
  main .container section .text_wrapper {
    width: 696px;
  }
  main .container section img {
    width: 696px;
  }
  main .container section:nth-child(2) {
    flex-direction: column-reverse;
  }
  footer .container {
    width: 536px;
  }
  .footer_nav li a {
    white-space: nowrap;
  }
}

/* Mobile Layout */
@media screen and (max-width: 767px) {
  .header_wrapper {
    margin: 0 16px;
  }
  #logo_only {
    display: none;
  }
  .main_banner {
    height: 540px;
    background-size: 626px 281px;
    background-position: center 100%;
    margin-bottom: 60px;
  }
  .footer_banner {
    height: 540px;
    background-size: 500px 270px;
    background-position: center 100%;
  }
  .main_banner .container,
  .footer_banner .container {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  .footer_banner .container {
    top: 20%;
  }
  .main_banner .container button {
    width: 154px;
    height: 48px;
    font-size: 16px;
  }
  .footer_banner .banner_title {
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
  }
  main .container {
    width: 375px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  main .container section {
    flex-direction: column;
    margin: 10px 0;
  }
  main .container section .text_wrapper {
    width: 344px;
  }
  main .container section img {
    width: 344px;
  }
  main .container section:nth-child(2) {
    flex-direction: column-reverse;
  }
  main .container section .text_wrapper {
    gap: 0px;
  }
  main .container section .text_wrapper span {
    font-size: 16px;
  }
  main .container section .text_wrapper h1 {
    font-size: 24px;
  }
  main .container section .text_wrapper p {
    font-size: 16px;
  }
  footer .container {
    margin: 0 16px;
    grid-template-columns: 1fr 1fr;
  }
  footer .container span {
    order: 999;
    position: relative;
    left: -20px;
    margin-top: 30px;
  }
  footer .container .footer_nav li:last-child {
    position: relative;
    right: -23%;
  }
}
