@import url("common.css");

* {
  box-sizing: border-box;
}

/* ********** */
/* Header CSS */
/* ********** */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
header .logo_img {
  width: 396px;
  height: 132px;
}

/* ************** */
/* Main Container */
/* ************** */
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 60px 0;
}
.container {
  width: 640px;
}

/* ********** */
/* Login Form */
/* ********** */
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
input {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  border: none;
  background-color: var(--gray-100);
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
}
input::placeholder {
  color: var(--gray-400);
}
input:focus {
  outline: 2px solid var(--brand-color);
}
input.error {
  outline: 1px solid var(--error-color);
}
.password_wrapper {
  position: relative;
}
.show_password {
  position: absolute;
  width: 24px;
  right: 10px;
  top: 15px;
  cursor: pointer;
}
.showLens {
  top: 19px;
  right: 12px;
  width: 21px;
}
a#loginButton {
  display: block;
  width: 100%;
  height: 56px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
a#loginButton.disable {
  pointer-events: none;
  background-color: var(--gray-400);
}
a#loginButton.enable {
  pointer-events: all;
  background-color: var(--brand-color);
  cursor: pointer;
}

p.error {
  display: none;
  color: var(--error-color);
  font-weight: 600;
  font-size: 15px;
}

p.error.show {
  display: block;
}

/* ************ */
/* Social Login */
/* ************ */
.social_login_wrapper {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  padding: 25px;
  background-color: var(--social_login_background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}
.social_login_wrapper span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-800);
}
.logos {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logos img {
  width: 42px;
}

/* ************ */
/* Link Wrapper */
/* ************ */
.link_wrapper p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--gray-800);
}
.link_wrapper a {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  header {
    margin-top: 30px;
  }
  main {
    margin-top: 30px;
  }

  header .logo_img {
    width: 198px;
    height: 66px;
  }
  .container {
    width: 100%;
    max-width: 400px;
    padding: 0 16px;
  }
}
