.item {
  color: var(--color-gray800);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.item__description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.item__img__wrap {
  width: 34.3rem;
  height: 34.3rem;
}

.item__img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.item__title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.671rem;
}

.item__price {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.909rem;
}

.item__heart {
  display: flex;
  align-items: center;
}

.item__heart__img {
  width: 1.6rem;
}

.item__heart__count {
  font-size: 12px;
  color: var(--color-cool-gray600);
}

/* Ipad */
@media (min-width: 768px) {
  .item__img__wrap {
    width: 33.6rem;
    height: 33.6rem;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .item__img__wrap {
    width: 28.2rem;
    height: 28.2rem;
  }
}
