.items-for-sale {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-bar {
  min-width: 344px;
  display: grid;
  grid-template-columns: 100px 100px 91px 42px;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title title register register'
    'input input input select';
  grid-row-gap: 8px;
}

.select-box {
  grid-area: select;
}

.search-bar__title {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  line-height: 28px;
  grid-area: title;
}

.search-bar__input {
  box-sizing: border-box;
  width: 294px;
  height: 42px;
  padding: 9px 20px;
  border-radius: 12px;
  background-color: var(--color-cool-gray100);
  grid-area: input;
}

.search-bar__register {
  width: 133px;
  padding: 12px 23px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: var(--color-brand-blue);
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 19px;
  grid-area: register;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* Ipad */
@media (min-width: 768px) {
  .search-bar {
    display: flex;
  }

  .search-bar__title {
    padding-right: 62px;
  }

  .items {
    gap: 16px;
  }

  .search-bar__input {
    width: 242px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .search-bar__title {
    padding-right: 484px;
  }

  .items {
    gap: 24px;
  }

  .search-bar__input {
    width: 325px;
  }
}
