.tag__container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  position: relative;
  background-color: var(--color-cool-gray100);
  display: flex;
  min-width: 100px;
  max-width: 100px;
  height: 48px;
  border-radius: 26px;
  padding: 12px, 12px, 12px, 16px;
  margin: 12px 12px 0 0;
}

.tag__text {
  position: relative;
  top: 15px;
  left: 15px;
  color: #1f2937;
  font-weight: 400;
  font-size: 16px;
}
