.ImageList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__file-input {
    display: none;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.48px;
    text-align: left;
  }
  &__FileInput {
    position: relative;
    display: block;
    background: #f3f4f6;
    border-radius: 16px;
    cursor: pointer;
  }
  &__card {
    width: 282px;
    height: 282px;
    position: relative;
  }
  &__placeholder {
    width: 48px;
    height: 48px;
  }
  &__plus {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 50%;
    &-message {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #9ca3af;
    }
  }
  &__list {
    display: flex;
    gap: 24px;
  }
}

@media (width<=767px) {
  .ImageList {
    &__subtitle {
      font-size: 14px;
    }
    &__card {
      width: 168px;
      height: 168px;
    }
    &__plus-message {
      font-size: 14px;
    }
    &__list {
      display: flex;
      gap: 16px;
    }
  }
}

@media (768px<=width<=1199px) {
  .ImageList {
    &__card {
      width: 162px;
      height: 162px;
    }
    &__list {
      display: flex;
      gap: 8px;
    }
  }
}
