@mixin font-style($size: 16px, $weight: 400, $color: var(--grey-800)) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}
