:root {
  --main-color: #3692ff;
  --base-color: #9ca3af;
  --bg-color: #fcfcfc;
  --input-bg-color: #f3f4f6;
  --input-font-color: #9ca3af;
  --select-box-color: #e5e7eb;
  --title-color: #111827;
}
