@import "./reset.css";
@import "./common.css";
@import "../assets/fonts/index.css";

.addItemContainer {
  display: flex;
  justify-content: center;
}

.addItemForm {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}

.addItemTitle {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 28px;
  line-height: 33.41px;
  color: var(--additem-title-color);
}

.addItemFormLabel {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: var(--additem-title-color);
  padding-block-start: 16px;
}

.addItemSubmitButton {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
  width: 88px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 10px;
  background-color: var(--panda-gray-color);
  color: var(--button-font-color);
  text-decoration: none;
  border: none;
  flex-shrink: 0;
}

.addItemSubmitButton.active {
  background-color: var(--brand-blue);
}

.itemInputs {
  background-color: var(--cool-gray-100);
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 56px;
  border-radius: 12px;
  border: none;
  padding-block-start: 5px;
  padding-inline-start: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-shrink: 1;
  gap: 10px;
  border-radius: 26px;
  padding-inline: 12px;
  padding-block: 12px 16px;
  background-color: var(--cool-gray-50);
}

.tagTitle {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tagCloseIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  border-radius: 9999px;
  background-color: var(--panda-gray-color);
  color: var(--button-font-color);
}

.itemContent {
  border-radius: 12px;
  padding-block-start: 20px;
  resize: none;
  height: 200px;
}
