.form-label {
  font-size: 18px;
  font-weight: 700;
}

.form-input {
  width: 100%;
  margin: 12px 0 24px;
  background-color: #f3f4f6;
  border-radius: 12px;
  border: none;
}

.form-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
  padding-left: 24px;
}

.tags-container {
  display: flex;
  gap: 12px;
}

.tag-container {
  display: flex;
  align-items: center;
  background-color: #f9fafb;
  border-radius: 26px;
  height: 24px;
}

.tag {
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  padding: 12px 8px 12px 16px;
}

.tag-delete-button {
  background-image: url("../assets/icon-delete-tag-btn.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 24px;
  border: none;
  background-color: transparent;
  background-position: center;
  padding-right: 12px;
}
