@import url("global.css");

.img-input-container {
  margin: 16px 0 24px; /* 간격 조정 */
  display: flex;
  position: relative;
}

.img-input-label-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img-input-title {
  font-size: 18px;
  font-weight: 700;
}

.img-input-label {
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: #f3f4f6;
  border: none;
  background-image: url("../assets/file-input-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.img-input {
  display: none;
}

.preview {
  width: 282px;
  height: 282px;
  position: absolute;
  left: 306px; /* 인풋이랑 간격 조정 (인풋 가로 282, gap 24) */
  bottom: 0;
}

.preview-delete-btn {
  background-image: url("../assets/img-delete-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 22px;
  height: 24px;
  border: none;
  position: absolute;
  /* 간격 조정 */
  left: 556px;
  top: 38px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .img-input-label {
    width: 162px;
    height: 162px;
  }
  .preview {
    width: 162px;
    height: 162px;
    left: 178px; /* 인풋이랑 간격 조정 (인풋 가로 282, gap 16) */
  }
  .preview-delete-btn {
    /* 간격 조정 */
    left: 310px;
    top: 38px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .img-input-label {
    width: 168px;
    height: 168px;
  }
  .preview {
    width: 168px;
    height: 168px;
    left: 176px; /* 인풋이랑 간격 조정 (인풋 가로 168, gap 8) */
  }
  .preview-delete-btn {
    /* 간격 조정 */
    left: 312px;
    top: 38px;
  }
}
