* {
  box-sizing: border-box;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;

  /* max-width: 1920px; */
  width: 100%;
  height: 70px;

  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;
}

nav {
  display: flex;
  align-items: center;
  gap: 32px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4b5563;
}

.login_button {
  background-color: #3692ff;
  width: 128px;
  height: 48px;

  border-radius: 8px;
  border: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

.login_button:hover {
  cursor: pointer;
  background-color: #1251aa;
}

.add_form_wrapper {
  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 94px auto;
}

.add_form_wrapper_header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}

.add_form_wrapper_header h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #1f2937;
}

.add_form_wrapper_header button {
  width: 88px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background-color: #3692ff;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

.add_form_wrapper_header button:disabled {
  background-color: #9ca3af;
}

.add_form_wrapper label {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.add_form_wrapper input,
textarea {
  width: 100%;
  height: 56px;

  margin: 12px 0 24px 0;
  padding: 16px 24px;

  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
}

.add_form_wrapper textarea {
  height: 200px;
  resize: none;
}

.add_form_wrapper .img_add_input {
  width: 282px;
  height: 282px;
}

.img_add_input:hover {
  cursor: pointer;
}

.img_add_wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.preview_img_wrapper {
  position: relative;
}

.preview_img {
  width: 282px;
  height: 282px;
  border-radius: 12px;
}

.img_delete_button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 24px;
  height: 24px;
  background-color: #9ca3af;
  font-weight: 700;
  color: #fff;

  border-radius: 9999px;
  border: none;
}

.img_delete_button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -60%);
}

.img_delete_button:hover {
  background-color: #3692ff;
  cursor: pointer;
}

.tag_wrapper {
  margin-bottom: 30px;
}

.tag_wrapper ul {
  display: flex;
}

.tag_wrapper ul li {
  display: flex;
  align-items: center;
  gap: 8px;

  margin-right: 12px;
  padding: 12px 12px;
  border-radius: 26px;

  background-color: #f9fafb;

  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

.tag_wrapper ul li button {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #9CA3AF;

  border-radius: 999px;
  border: none;

  color: #fff;
}

.tag_wrapper ul li button img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag_wrapper ul li button:hover{
  background-color: #3692ff;  
  cursor: pointer;
}

