@import url("global.css");

.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 94px;
}
.add-item-register-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 42px;
}

.form-title {
  font-size: 28px;
  font-weight: 700;
}

.form-btn {
  width: 88px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #9ca3af;
  border: none;
}

label {
  font-size: 18px;
  font-weight: 700;
}

#item-img {
  width: 282px;
  height: 282px;
  background-color: #f3f4f6;
}

.text-input {
  background-color: #f3f4f6;
  height: 56px;
  border: none;
}

input[type="textarea"] {
  height: 200px;
}
