@import "./reset.css";
@import "./common.css";
@import "../assets/fonts/index.css";

.allitemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px 12px;
}

.allitemTitleContent {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.allitemTitleForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.allitemTitleFormSearch {
  width: 325px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: var(--cool-gray-100);
  border-radius: 12px;
  padding-block: 9px;
  padding-inline: 20px 16px;
}

.allitemTitleFormSearchImage {
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url("../assets/images/itemsPage/search-icon.svg");
}

.allitemTitleFormSearchInput {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--cool-gray-100);
  border: none;
}

.allitemTitleFormButton {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
  width: 133px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 10px;
  background-color: var(--brand-blue);
  color: var(--button-font-color);
  text-decoration: none;
  flex-shrink: 0;
}

.allitemTitleSelectBox * {
  box-sizing: border-box;
}
.allitemTitleSelectBox {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--cool-gray-100);
  padding: 12px 10px;
  background-size: 20px;
  cursor: pointer;
}

.allitemTitleSelectBox:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  right: 10px;
  background-image: url("../assets/images/itemsPage/dropdown-cursor.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 8px;
  background-size: 14px;
}

.allitemTitleSelectBox .label {
  display: flex;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 10px;
  background: transparent;
  cursor: pointer;
}

.allitemTitleSelectBox .optionList {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  background-color: white;
  list-style-type: none;
  padding: 0;
  /*border: 1px solid var(--cool-gray-100);*/
  border-radius: 12px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in;
}

.allitemTitleSelectBox.active .optionList {
  max-height: 500px;
}

.allitemTitleSelectBox .optionItem {
  display: flex;
  justify-content: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid var(--cool-gray-100);
  padding-block: 9px;
  transition: 0.1s;
}

.allitemTitleSelectBox .optionItem:hover {
  background: rgb(175, 93, 93);
}

.allitemTitleSelectBox .optionItem:last-child {
  border-bottom: 0 none;
}

.allitemList {
  display: grid;
  grid-template: repeat(2, 301px) / repeat(5, 221px);
  column-gap: 24px;
  row-gap: 10px;
}

.allitemListItemImage {
  width: 221px;
  height: 221px;
  display: inline-block;
  border: 1px black solid;
  border-radius: 16px;
}

.allitemListItemImage > img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.allitemListItemIitle {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
}

.allitemListItemPrice {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.09px;
}

.allitemListItemLikebutton {
  display: inline-block;
  position: relative;
}

.allitemListItemLikecount {
  display: inline-block;
  font-family: Pretendard;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .allitemList {
    grid-template: repeat(2, 301px) / repeat(3, 221px);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .allitemList {
    grid-template: repeat(2, 301px) / repeat(2, 221px);
  }

  .allitemTitle {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  }

  .allitemTitleContent {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .allitemTitleForm {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .allitemTitleFormSearch {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .allitemTitleFormButton {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .allitemTitleSelectBox {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}
