/* .item-img-container {
  width: 282px;
  height: 282px;
} */

.all-item-list {
  width: 100%;
  margin: 0 auto;
}

.item-img-container-all {
  width: 221px;
  height: 221px;
}

.item-img {
  /* 가로 너비와 세로 높이 사이의 비율을 설정 */
  aspect-ratio: 1;
  border-radius: 16px;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}
.item-contents {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}

.item-name {
  font-weight: 500;
  font-size: 14px;
}

.item-price {
  font-weight: 700;
  font-size: 16px;
}

.favorite-container {
  display: flex;
  gap: 4px;
}
.item-favorite {
  font-weight: 500;
  font-size: 12px;
}
.all-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}
.all-item-header-filter {
  display: flex;
  gap: 12px;
}
.all-item-header-search {
  border-radius: 12px;
  border: none;
  padding-left: 35px;
  width: 325px;
  height: 42px;
  padding: 9px, 20px, 16px;
  background: #f3f4f6 url(../assets/icons/item-search-icon.svg) no-repeat left
    16px center;
  background-size: 15px;
}

input.all-item-header-search::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
  line-height: 42px;
}

.select-box {
  font-weight: 400;
  font-size: 16px;
  border-radius: 12px;
  border: solid 1px #e5e7eb;
  width: 130px;
  height: 42px;
  padding: 9px 20px;
  appearance: none;
  background: url(../assets/icons/arrow-down-icon.svg) no-repeat right 17px
    center;
}
.select-box:focus {
  outline: none;
}

.item-register-btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 23px;
  border-radius: 8px;
  width: 133px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 19px;
}

.all-item-grid {
  display: grid;
  gap: 40px 24px;
  grid-template-columns: repeat(5, 1fr);
}

.item-container {
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .item-img-container {
    width: 336px;
    height: 336px;
  }

  .all-item-grid {
    gap: 40px 16px;
    grid-template-columns: repeat(3, 1fr);
  }
  /* .all-item-grid > div:nth-child(n + 7) {
    display: none;
  } */
  .select-box {
    width: 120px;
  }
  .all-item-header-search {
    width: 242px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .item-img-container {
    width: 343px;
    height: 343px;
  }

  .item-img-container-all {
    width: 168px;
    height: 168px;
  }
  .all-item-grid {
    grid-gap: 32px 8px;
    gap: 32px 8px;
    grid-template-columns: repeat(2, 1fr);
  }
  /* .all-item-grid > div:nth-child(n + 5) {
    display: none;
  } */
  .all-item-header-search {
    width: 294px;
  }
  .all-item-header {
    flex-wrap: wrap;
  }
  /* .item-register-btn {
    position: absolute;
    top: 0;
    right: 0;
  } */
  .select-box {
    width: 42px;
    background: url(../assets/icons/arrow-down-icon.svg) no-repeat center;
  }
}
