:root {
  --blue: #3692ff;
  --white: #ffffff;
  --banner_color: #cfe5ff;
  --cool_gray: #f3f4f6;
  --border_color: #e5e7eb;
}

.allList {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.allList_title {
  font-size: 20px;
  font-weight: 700;
}

.allList_tools {
  display: flex;
  gap: 12px;
}

.input_tool {
  display: flex;
  width: 325px;
  background-color: var(--cool_gray);
  padding: 9px 20px 9px 16px;
  gap: 10px;
  border-radius: 12px;
}

.input_tool input {
  border: none;
  background-color: var(--cool_gray);
  font-size: 15px;
  font-weight: 400px;
  line-height: 24px;
  color: #1f2937;
}

.allList_tools button {
  width: 133px;
  padding: 12px 23px 12px 23px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: "pretendard";
}

.select_tool {
  width: 130px;
  border-radius: 12px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400px;
  font-family: "pretendard";
  border-color: var(--border_color);
}

.select_tool option {
  width: 150px;
  height: 42px;
}

.allList_items {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.allList_items img {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.all_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}

.all_item_title {
  font-size: 14px;
  font-weight: 500;
}

.all_item_price {
  font-size: 16px;
  font-weight: 700;
}

.all_item_favorite {
  display: flex;
  font-size: 12px;
  font-weight: 500;
}

.all_item_favorite img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
