@import "./reset.css";
@import "./common.css";
@import "../assets/fonts/index.css";

.bestitemTitle {
  padding-block: 24px 12px;
}

.bestitemTitleContent {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
