.best-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.best-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.best-item-list {
  display: grid;
  grid-template-columns: repeat(4, 282px);
  gap: 24px;
}
