@import "./reset.css";
@import "./common.css";
@import "../assets/fonts/index.css";

.bestitemTitle {
  padding-block: 24px 12px;
}

.bestitemTitleContent {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.bestitemList {
  display: grid;
  grid-template: 1fr / repeat(4, 282px);
  column-gap: 24px;
}

.bestitemList > li {
  width: fit-content;
}

.bestitemListItemImage {
  display: inline-block;
  border: 1px black solid;
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.bestitemListItemImage > img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.bestitemListItemTitle {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
}

.bestitemListItemPrice {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.09px;
}

.bestitemListItemLikebutton {
  display: inline-block;
  position: relative;
}

.bestitemListItemLikecount {
  display: inline-block;
  font-family: Pretendard;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bestitemList {
    grid-template: 1fr / repeat(2, 336px);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .bestitemList {
    grid-template: 1fr / auto;
  }

  .bestitemListItemImage {
    width: 343px;
    height: 343px;
  }
}
