.best-item-content {
	display: flex;
	flex-direction: column;
}

.best-item-img {
	width: 282px;
	height: 282px;
	border-radius: 16px;
}

.best-item-title {
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}

.best-item-price {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.best-item-likes {
	display: flex;
}

.best-item-like-img {}

.best-item-like-count {
	font-size: 16px;
	font-weight: 700;
	line-height: 14px;
}