$color-black: #000;
$color-black-50: #1f2937;
$color-black-100: #111827;

$cool-gray-warm-50: #f9fafb;
$cool-gray-warm-100: #f3f4f6;
$cool-gray-warm-200: #e5e7eb;

$cool-gray-cool-100: #9ca3af;
$cool-gray-cool-800: #1f2937;

$color-white: #ffffff;
$color-white-100: #f6f6f8;
$color-white-150: #f7f7f8;
$color-white-200: #f4efef;

$color-sky-warm-100: #cfe5ff;
$color-sky-warm-200: #e6f2ff;

$color-sky-cool-100: #3182f6;
$color-sky-cool-200: #3692ff;

$color-warm: #dfdfdf;

$color-red: #f00;
