.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container {
    max-width: 696px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 343px;
  }
}
