:root {
  /* color */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --red: #f74747;
  --blue: #3692ff;
  --white: #fff;

  /* font-size */
  --font-14: 1.4rem;
  --font-15: 1.5rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-20: 2rem;
  --font-24: 2.4rem;
  --font-26: 2.6rem;
  --font-32: 3.2rem;
  --font-40: 4rem;
  --font-66: 6.6rem;

  /* margin, padding */
  --spacing-12: 1.2rem;
  --spacing-14: 1.4rem;
  --spacing-16: 1.6rem;
  --spacing-20: 2rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("../assets/font/ROKAF\ Sans\ Medium.ttf") format("truetype"),
    url("../assets/font/ROKAF\ Sans\ Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ROKAF Sans";
  src: url("../assets/font/ROKAF\ Sans\ Bold.ttf") format("truetype"),
    url("../assets/font/ROKAF\ Sans\ Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Abel";
  src: url("../assets/font/Abel-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/font/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  overflow-x: hidden;
  line-height: 1.2;
  word-break: keep-all;
}

.font-rokaf {
  font-family: "ROKAF Sans", sans-serif;
}

.abel {
  font-family: "Abel", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  max-width: 1200px;
  width: 100%;
  padding: 1.6rem 2.4rem;
  background-color: var(--gray-100);
  border-radius: 1.2rem;
  font-size: var(--font-16);
  line-height: 1.5;
  color: var(--gray-400);
  border: 0;
}

textarea {
  height: 200px;
  resize: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: 0;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  background-color: var(--gray-400);
  cursor: auto;
}

.inner {
  max-width: 1920px;
  padding: 0 200px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

/* 판다마켓 로고 텍스트 */
.logo-text {
  color: var(--blue);
  font-size: var(--font-26);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
}

/* Tablet */
@media (max-width: 1199px) {
  .pc-show {
    display: none;
  }

  .inner {
    padding: 0 24px;
  }

  .container {
    width: calc(100% - 48px);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .inner {
    padding: 0 16px;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-show {
    display: block;
  }

  .container {
    width: calc(100% - 32px);
  }
}
