/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .headerBar {
  display: flex;
  align-items: center;
} */

/* .loginButton {
  width: Hug (88px) px;
  height: Fixed (42px) px;
  padding: 12px 23px;
  gap: 10px;
  border-radius: 8px;
  background-color: #3692ff;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  text-align: left;
  color: #fff;
  border: 0px solid #fff;
  text-decoration: none;
}

.headerBar li {
  display: flex;
  list-style: none;
  gap: 8px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  color: #4b5563;
}

.headerBar li:hover {
  color: #3692ff;
} */
