* {
  font-size: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 11px 200px;
  flex: 0 1 auto;
  background-color: var(--button-font-color);
  border-bottom: 1px solid var(--item-header-line-color);
  z-index: 1;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 32px;
}

.headerLogo {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
}

.headerLogoTitle > a {
  font-family: "ROKAF Sans";
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
  color: var(--brand-blue);
  text-decoration: none;
}

.navList {
  display: flex;
  align-items: center;
  gap: 3px;
}

.navItem {
  font-family: Pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  padding: 24px 16px;
  text-decoration: none;
}

.headerLoginButton {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
  width: 88px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 10px;
  background-color: var(--brand-blue);
  color: var(--button-font-color);
  text-decoration: none;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .headerContainer {
    padding: 11px 24px;
  }

  .headerLoginButton {
    flex-shrink: 1;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .headerContainer {
    padding: 11px 16px;
  }

  .headerLogoImage {
    display: none;
  }

  .headerLeft {
    gap: 18px;
  }

  .navList > a {
    font-size: 14px;
    padding-inline: 2px;
  }
}
