.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 200px;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo--mark {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo--text {
  width: 103px;
}

.header__gnb-wrapper {
  display: flex;
  flex: 1;
  gap: 20px;
  text-wrap: nowrap;
}

.header__gnb-wrapper a {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #4b5563;
  cursor: pointer;
}

.header__gnb-wrapper a.active {
  color: #3692ff;
}

.header__btn-wrapper {
  width: 88px;
  height: 42px;
  margin-left: 20px;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .header__wrapper {
    margin: 0 24px;
  }
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    margin: 0 16px;
  }
  .logo--mark {
    display: none;
  }
  .header__gnb-wrapper {
    justify-content: center;
    gap: 8px;
  }
}
