* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;

  /* max-width: 1920px; */
  width: 100%;
  height: 70px;

  padding: 0 200px;

  border-bottom: 1px solid #dfdfdf;

  background-color: #fff;
}

.login_button {
  width: 128px;
  height: 48px;

  border-radius: 8px;
  border: none;

  background-color: #3692ff;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;

  color: #fff;
}

.login_button:hover{
  cursor: pointer;
  background-color: #1251aa;
}

/* ==================================== */

.top_banner {

  position: relative;

  min-width: 1920px;
  width: 100%;
  height: 540px;

  margin-top: 70px;

  background-color: #cfe5ff;
}

.top_banner_wrapper {
  position: absolute;
  top: 183px;
  left: 358px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.top_banner_description {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.top_banner_button {
  width: 357px;
  height: 56px;

  border-radius: 40px;
  border: none;

  background-color: #3692ff;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  color: #fff;
} 

.top_banner_button:hover{
  cursor: pointer;
  background-color: #1251aa;
}

.top_banner img {
  position: absolute;
  top: 93px;
  left: 701px;
}

/* ==================================== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 0 auto;
}

main section:nth-child(odd) {
  text-align: left;
}

main section:nth-child(even) {
  text-align: right;
}

section {
  display: flex;
  align-items: center;
  gap: 64px;

  margin: 138px 0;
}

.section_text_wrapper {
  display: flex;
  flex-direction: column;
}

section p {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #3692ff;

  padding-bottom: 12px;
}

section h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;

  padding-bottom: 24px;
}

section h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #374151;
}

/* ==================================== */

.botton_banner {
  position: relative;
  min-width: 1920px;
  width: 100%;
  height: 540px;

  background-color: #cfe5ff;
}

.botton_banner p {
  position: absolute;
  top: 214px;
  left: 337px;

  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}

.botton_banner img {
  position: absolute;
  top: 0px;
  left: 701px;
}

/* ==================================== */

footer {
  display: flex;
  justify-content: space-around;

  /* max-width: 1920px; */
  width: 100%;
  height: 160px;

  padding-top: 32px;

  background-color: #111322;
}

.page_info, .important_info{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.page_info {
  color: #676767;
}

.important_info {
  display: flex;
  gap: 30px;

  color: #cfcfcf;
}

.fotter_icons {
  display: flex;
  gap: 12px;
}

.fotter_icons img{
  width: 20px;
  height: 20px;
}
