@import url(reset.scss);
@import url(variables.scss);

body,
input,
button,
textarea {
  font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

input,
textarea {
  font-weight: 400;
  color: var(--cool-gray800);
  line-height: 24px;
}
