@import url(reset.scss);
@import url(variables.scss);

body,
input,
button {
  font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
