@import "_variable.css";

.section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
}

.section-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.section-menu .section-title {
  flex: 1;
}

.select-order {
  position: relative;
  width: 130px;
  height: 44px;
}

.select-btn {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid var(--select-box-color);
  border-radius: 12px;
  background: url(../assets/ic_arrow_down.png) no-repeat right 20px center;
  background-color: #fff;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.order-list {
  margin-top: 4px;
  display: none;
  position: absolute;
  width: 100%;
  top: 44px;
  left: 0;
  border: 1px solid var(--select-box-color);
  border-radius: 12px;
  background-color: #fff;
  font-size: 16px;
}

.order-list.on {
  display: block;
}

.order-item {
  height: 44px;
  text-align: center;
  line-height: 42px;
}

.order-item:first-child {
  border-bottom: 1px solid var(--select-box-color);
}

.order-item button {
  width: 100%;
  height: 100%;
}
