@import "variables";

/* GNB */

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid #dfdfdf;
  position: sticky;
  top: 0;
  z-index: var(--GNB);
  background-color: white;

  @media (min-width: $min-tablet-width) {
    padding: 10px 34px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 10px 200px;
  }

  .menus {
    flex-grow: 1;
    font-weight: 700;
    font-size: 16px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 8px;

    a {
      color: var(--cool-gray600);

      &:hover,
      &:focus {
        color: var(--cool-gray700);
      }
    }

    @media (min-width: $min-tablet-width) {
      font-size: 18px;
      gap: 38px;
      margin-left: 32px;
    }

    .focus {
      color: var(--blue);
    }
  }
}

/* layout */

.market__layout {
  margin: 0 20px 100px;

  @media (min-width: $min-tablet-width) {
    margin: 0 24px 100px;
  }

  @media (min-width: 1000px) {
    margin: 0 100px 100px;
  }

  @media (min-width: $min-desktop-width) {
    margin: 0 200px 100px;
  }

  @media (min-width: 1600px) {
    margin: 0 360px 100px;
  }
}
