@import url("global.css");

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.main-item-filter,
.main-header-right {
  display: flex;
  gap: 12px;
}
.main-item-filter {
}

.search-form > input {
  margin-right: 12px;
}
.search-submit {
}
.select-box {
}
.main-item-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 221px);
  grid-template-rows: repeat(2, 301px);
  gap: 24px;
}
