@import "variables";

/* card */

.card {
  color: var(--cool-gray800);

  .productImg {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 19px;
    object-fit: cover;
  }

  .title {
    margin-top: 14px;
    font-weight: 500;
  }

  .price {
    display: block;
    margin: 6px 0;
    font-weight: 700;
    font-size: 16px;
  }

  .like {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--cool-gray600);
    font-size: 12px;
  }
}

/* best products */

.best__products {
  margin-top: 24px;

  .header__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--dark-gray800);
    margin-bottom: 16px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    position: relative;

    @media (min-width: $min-tablet-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $min-desktop-width) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* all products */

.all__products {
  .header {
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: var(--dark-gray800);
    }
  }

  .cards {
    position: relative;
  }
}

@media (min-width: $min-mobile-width) {
  .all__products {
    margin-top: 24px;

    .header {
      display: grid;
      grid-template-columns: 1fr calc(133px - 42px) 42px;
      grid-template-rows: repeat(2, auto);
      row-gap: 8px;
      margin-bottom: 16px;

      .title {
        align-self: center;
      }

      .button {
        grid-column: 2 / span 2;
      }

      .searchInput {
        grid-column: 1 / span 2;
        grid-row: 2;
        margin-right: 8px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 8px;
      row-gap: 32px;
    }

    .noItems {
      text-align: center;
      color: var(--cool-gray800);
      min-height: 500px;
    }
  }
}

@media (min-width: $min-tablet-width) {
  .all__products {
    margin-top: 40px;

    .header {
      display: grid;
      margin-bottom: 24px;
      grid-template-columns: 1fr 1fr max-content max-content;
      grid-template-rows: 1fr;
      column-gap: 12px;

      .title {
        grid-column: 1;
        margin-bottom: 0;
        align-self: center;
      }

      .button {
        grid-column: 3;
      }

      .searchInput {
        grid-column: 2;
        grid-row: 1;
        margin-right: 0;
      }

      .selectInput {
        grid-column: 4;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 40px;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .all__products {
    .cards {
      grid-template-columns: repeat(5, 1fr);
      column-gap: 24px;
    }
  }
}
