* {
  box-sizing: border-box;
}

header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;

  /* max-width: 1920px; */
  width: 100%;
  height: 70px;

  padding: 0 200px;
  border-bottom: 1px solid #dfdfdf;
}

nav {
  display: flex;
  align-items: center;
  gap: 32px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4b5563;
}

.login_button {
  background-color: #3692ff;
  width: 128px;
  height: 48px;

  border-radius: 8px;
  border: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

.login_button:hover {
  cursor: pointer;
  background-color: #1251aa;
}

.wrapper {
  width: 1200px;
  height: 1154px;

  margin: 94px auto;
}
/* ==================================== */
/* BestItems css */

/* ==================================== */
/* AllItems css */

.all_section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: grey;
  width: 1200px;
  height: 42px;
}

.all_header h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #1f2937;
}

.all_section_header_nav {
  display: flex;
  gap: 12px;
}

.search_item{
  position: relative;
}

.search_item img{
  position: absolute;
  top: 9px;
  left: 16px;

  width: 24px;
  height: 24px;
}

.search_item input {
  width: 325px;
  height: 42px;

  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;

  padding-left: 44px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
}

.add_item_button {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background-color: #3692ff;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #fff;
}

.add_item_button:hover{
  cursor: pointer;
  background-color: #1251aa;
}

.dropdown_button {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1f2937;
}
