@import url("global.css");

nav {
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 200px;
}

.logo-category-container,
.nav-category-container {
  display: flex;
  gap: 20px;
}
