@import url("global.css");

nav {
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}
.login-btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 8px;
  padding: 12px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn-container {
  margin-right: 200px;
  display: flex;
}

.login-btn-container:hover {
  cursor: pointer;
}

.logo-container {
  margin-left: 200px;
}

.logo-container {
  display: flex;
  gap: 9px;
}

.logo-container:hover {
  cursor: pointer;
}
