.pagenation {
  display: flex;
}
.pagenation__prev-btn,
.pagenation__next-btn,
.pageButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pageButton.isActive {
  background-color: #2f80ed;
  color: white;
}
.pagenation__next-btn img {
  transform: rotate(180deg);
}

.pagenation__page-btn {
  display: flex;
  gap: 4px;
  margin: 0 4px;
}
