.items {
  list-style-type: none;
}

.productItemContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.likes {
  display: flex;
  gap: 5px;
  align-items: center;
}

.likebuttonToggleButton {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("/src/assets/images/itemsPage/like-button.svg");
  cursor: pointer;
}

.likebuttonToggle:checked + .likebuttonToggleButton {
  background-image: url("/src/assets/images/itemsPage/like-button-fill.svg");
}

.likebuttonToggle {
  display: none;
}
