.userMenu {
  position: relative;
}

.iconButton {
  position: relative;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--cool-gray-100);
  padding: 12px 20px;
  background-color: white;
  background-size: 20px;
  cursor: pointer;
}

.iconButton:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  background-image: url("../assets/images/itemsPage/dropdown-cursor.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 8px;
  background-size: 14px;
}

ul.popup {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 5px);
  width: 130px;
  border: 1px solid var(--cool-gray-100);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  overflow: hidden;
  font-family: Pretendard;
  font-size: 16px;
  line-height: 24px;
}

ul.popup li {
  display: flex;
  justify-content: center;
  padding: 10px 19px;
  border: 1px solid var(--cool-gray-100);
  font-family: var(--noto-sans);
}

ul.popup li:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

ul.popup li.popupItem {
  user-select: none;
  cursor: default;
}

.userMenu ul.popup a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .iconButtonMini {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid var(--faq-font-color);
    background-color: #fff;
    background-image: url("../assets/images/itemsPage/selectBox.svg");
    background-repeat: no-repeat;
    background-position: 10px;
  }
  .userMenu {
    display: flex;
    justify-content: flex-end;
  }
}
