* {
  box-sizing: border-box;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 396px;
  height: 132px;
  margin: 60px 0 40px 0;
}

.sign_form {
  display: flex;
  flex-direction: column;
}

.sign_form label {
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.sign_form input {
  width: 640px;
  height: 56px;

  padding: 16px 24px;

  margin-bottom: 24px;

  border-radius: 12px;
  border: none;

  background-color: #f3f4f6;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.sign_form button {
  width: 640px;
  height: 56px;

  border-radius: 40px;
  border: none;

  background-color: #9ca3af;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  color: #fff;
}

.easy_login {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 640px;
  height: 74px;

  margin: 24px 0;
  padding: 16px 23px;

  border-radius: 8px;

  background-color: #e6f2ff;
}

.easy_login p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #1f2937;
}

.login_icons {
  display: flex;
  gap: 16px;
}

.login_icons img {
  width: 42px;
  height: 42px;
}

.go_signup {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.go_signup span{
  color: #3182f6;
}
