/* color */

:root {
  --blue: #3692ff;
  --blue600: #2f80ed;

  --light-blue-200: #cfe5ff;
  --light-blue-100: #e6f2ff;

  --dark-gray800: #111827;

  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray600: #454c53;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --gray50: #f7f7f8;

  --cool-gray800: #1f2937;
  --cool-gray700: #374151;
  --cool-gray600: #4b5563;
  --cool-gray500: #6b7280;

  --error: #f74747;

  --light-gray: #9ca3af;
  --input-bg: #f3f4f6;
}

/* z-index */

:root {
  --GNB: 9999;
  --title-with-img: 2;
  --img: 1;
  --dropdown-contents: 999;
}

$min-mobile-width: 375px;
$min-tablet-width: 768px;
$min-desktop-width: 1200px;
