header {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}


.loginbutton {
    display: inline-block;
    width: 128px;
    height: 48px;
    line-height: 48px; 
    gap: 10px;
    border-radius: 8px;
    background-color: #3692FF;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

body {
    text-align: center;
    font-family: 'Pretendard';
}


.banner {
    display: grid;
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
    margin: 70px 0 0 0;
}


.main_banner, .bottom_banner {
    display: flex;
    justify-content: center;
}

.main_banner_text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.text_banner {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #374151;
}

.search {
    display: inline-block;
    width: 355px;
    height: 56px;
    line-height: 56px; 
    margin-top: 20px 20px;
    background-color: #3692FF;
    border-radius: 40px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.banner_img {
    height: 100%;
    width: auto;
    display: flex;
    align-content: flex-end;
}

.please {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mini_container {
    width: 1200px;   
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 137.5px 0;
}

.text-container-l {
    padding: 106.5px 0 106.5px 64px;
    text-align: left;
}

.text-container-r {
    padding: 106.5px 64px;
    text-align: right;
}

.boxtext_1st {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    color: #3692FF;
}

.boxtext_2nd {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    color: #374151;
}

.boxtext_3rd {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.08em;
    color: #374151;
}


footer {
    background-color: #111827;
    height: 160px;
    color: #9CA3AF;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    padding: 32px 200px 108px;
}

.type_none {
    text-decoration:none;
    color: #9CA3AF;
}

.header_background > div {
    display: flex; 
    align-items: center;
}
