@import "@/app/css/mixin.scss";

@include widget("DropDown")
{
	--width: 130px;
	--height: 42px;

	height: var(--height);
	display: flex;
	position: relative;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-width: thin;
	border-style: solid;
	border-color: #E5E7EB;
	border-radius: 12px;

	@include mobile
	{
		width: var(--height);
		justify-content: center;
	}
	@include tablet
	{
		width: var(--width);
		padding-left: 20px;
		padding-right: 20px;
		justify-content: space-between;
	}
	@include desktop
	{
		width: var(--width);
		padding-left: 20px;
		padding-right: 20px;
		justify-content: space-between;
	}
	> .hamburger
	{
		z-index: 69;
		top: 100%;
		right: 0px;
		overflow: hidden;
		position: absolute;
		margin-top: 5px;
		border-width: thin;
		border-style: solid;
		border-color: #E5E7EB;
		border-radius: 12px;

		@include mobile
		{
			width: var(--width);
		}
		@include tablet
		{
			width: 100%;
		}
		@include desktop
		{
			width: 100%;
		}
		> .ingredient
		{
			height: var(--height);

			&:hover
			{
				background-color: #f7faff;
			}
			&:not(:hover)
			{
				background-color: #FFFFFF;
			}
			&:not(:last-of-type)
			{
				border-bottom-width: thin;
				border-bottom-style: solid;
				border-bottom-color: #E5E7EB;
			}
		}
	}
}
