header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-200);
}

nav {
  ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: bold;
    font-size: 16px;
    color: var(--gray-600);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-btn-signin {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 24px;
}
