@import "/src/styles/variables";

/* layout */

.main__layout {
  margin: 0 20px 100px;

  @media (min-width: $min-tablet-width) {
    margin: 0 24px 100px;
  }

  @media (min-width: 1000px) {
    margin: 0 100px 100px;
  }

  @media (min-width: $min-desktop-width) {
    margin: 0 200px 100px;
  }

  @media (min-width: 1600px) {
    margin: 0 360px 100px;
  }
}
