[data-widget="ItemsPage"]
{
	> [data-widget="Header"]
	{
		border-bottom: #DFDFDF solid thin;
	}
	> main
	{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding-top: 24px;

		> .container
		{
			gap: 16px;
			width: 100%;
			display: flex;
			flex-direction: column;

			> .division
			{
				gap: 15px;
				display: flex;
				position: relative;
				align-items: center;

				> *
				{
					height: 42px;
					display: flex;
					align-items: center;

					&.title
					{
						flex-grow: 1;
						font-size: 20px;
						font-weight: 700;
						line-height: 28px;
					}
					&.query
					{
						gap: 5px;
						padding: 9px 16px;
						border-radius: 12px;
						background-color: #F3F4F6;

						> input
						{
							min-width: 202px; /* bug? */
							flex-grow: 1;
							font-size: 16px;
							font-weight: 400;
							line-height: 24px;

							&::placeholder
							{
								color: #1F2937;
							}
						}
					}
					&[data-widget="Button"]
					{
						padding: 13px 23px;
						font-size: 16px;
						font-weight: 600;
						line-height: 19.09px;
						border-radius: 8px;
					}
				}
			}
			> .products
			{
				gap: 40px;
				display: grid;
			}
		}
	}
	> [data-widget="Pagination"]
	{
		margin-top: 40px;
	}
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	[data-widget="ItemsPage"]
	{
		> main
		{
			gap: 40px;

			> .container
			{
				max-width: 1520px;
				padding-left: 200px;
				padding-right: 200px;

				> .division
				{
					> .query
					{
						width: 325px;
					}
				}
			}
		}
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	[data-widget="ItemsPage"]
	{
		> main
		{
			gap: 16px;

			> .container
			{
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	[data-widget="ItemsPage"]
	{
		> main
		{
			gap: 16px;

			> .container
			{
				padding-left: 16px;
				padding-right: 16px;

				> .division
				{
					> .query
					{
						top: calc(100% + 8px);
						width: calc(100% - 10px - 42px);
						position: absolute;
					}
					&:has(.query)
					{
						margin-bottom: calc(42px + 8px);

						> [data-widget="DropDown"]
						{
							top: calc(100% + 8px);
							right: 0px;
							position: absolute;
						}
					}
				}
			}
		}
	}
}
