<<<<<<< HEAD
.header-main {
  height: 70px;
  background-color: #ffffff;
  &--fixed-top {
=======
@import "../mixin/mixin";

.main-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--position-fixed-top {
>>>>>>> fa38520 (chore: set file structure of scss, bem)
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
<<<<<<< HEAD
  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__content {
    margin: 10px 200px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-big {
  display:flex;
  justify-content: center;
  &__logo {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 396px;
    height: 132px;
    @include direction-center(row);
  }
}
=======
  &--padding-inline-200px {
    padding-inline: 200px;
  }
  &--background-color-white {
    background-color: #ffffff;
  }
}

.sign-in-header {
  margin-top: 30px;
  margin-bottom: 40px;
  @include direction-center(row);
}

.header-content {
  display: flex;
  align-items: center;
  &--gap-8px {
    gap: 8px;
  }
}

.main-header_login{
  font-size: 16px;
  padding: 14.5px 43px;
}
>>>>>>> fa38520 (chore: set file structure of scss, bem)
