.dropdownContainer {
  position: relative;
}

.dropdownButton {
  width: 130px;
  height: 42px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.dropdownItems {
  list-style: none;
  padding-left: 0;
  width: 130px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  position: absolute;
  top: 41px;
  z-index: 1;
}

.dropdownItem {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e7eb;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #1f2937;
}

.dropdownItem:last-child {
  border-bottom: none;
}

.dropdownButtontext {
  display: inline-block;
}

.dropdownButtonImage {
  display: none;
}

@media (max-width: 1279px) {
  .dropdownButton {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .dropdownButtonText {
    display: none;
  }

  .dropdownButtonImage {
    display: inline-block;
    width: 100%;
  }

  .dropdownButton {
    width: 42px;
    height: 42px;
    border-style: none;
    padding: 0;
  }

  .dropdownItems {
    right: 0;
    width: 100px;
  }
}
