.SearchBar {
  width: 1054px;
  height: 42px;
  padding: 0 44px;
  border-style: none;
  border-radius: 8px;
  background-color: #f3f4f6;
  background-image: url(../public/images/icSearch.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 16px center;
}
