.register {
  display: flex;
  justify-content: center;
  &__content {
    margin-inline: auto;
    margin-bottom: 100px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 47px;
  }
  &__inputList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
@media (767px<=width<=1199px) {
  .register {
    &__content {
      gap: 23px;
      margin-inline: 24px;
    }
  }
}

@media (375px<=width<=766px) {
  .register {
    &__content {
      gap: 9px;
      margin-inline: 16px;
    }
  }
}
