* {
  box-sizing: border-box;
  margin: 0;
}

.login {
  width: 640px;
  height: 430px;
  margin: 60px auto;
}

.logo {
  text-align: center;
  margin-top: 60px;
}

.user-input {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
}

label {
  display: block;
  margin: 16px 0;
}

input {
  display: block;
  padding: 16px 24px;
  font-size: 16px;
  color: #9ca3af; /* 아이디 입력 전 색 */
  color: #1f2937; /* 아이디 입력 후 색 */
  border: 0;
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 12px;
  margin-bottom: 24px;
}

input:focus {
  outline: none;
  border: 1px solid #3692ff; /* 포커스 시 테두리 색상 */
}

.password-icon {
  position: relative;
}

.password-icon img {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.login-button {
  border: none;
  display: block;
  padding: 16px;
  background: #9ca3af;
  color: #ffffff;
  margin: 24px 0px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border-radius: 40px;
}

.login-button:hover {
  background-color: #3692ff;
}

.simple-login {
  border: none;
  display: flex;
  padding: 25px 23px;
  background-color: #e6f2ff;
  font-size: 16px;
  border-radius: 8px;
  margin: 24px 0;
  align-items: center;
  height: 74px;
}

.simple-text {
  margin-right: auto;
}

.icon {
  width: 42px;
  text-align: right;
}

.google {
  margin-right: 16px;
}

.signup {
  font-size: 15px;
  text-align: center;
}

.nav-signup {
  color: #3182f6;
}

/* 아이패드 미니
@media (min-width: 768px) and (max-width: 1199px) {
  
} */

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  .login{
    padding: 16px;
    width: 100%;
    margin-top: 24px;
  }
  
  .logo a {
    text-align: center;
    margin-top: 60px;
  }

}
