* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
}

.login {
  width: 640px;
  margin: 60px auto;
}

.logo {
  text-align: center;
  margin-top: 60px;
}

.user-input {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
}

label {
  display: block;
  margin: 24px 0 16px;
}

input {
  display: block;
  padding: 16px 24px;
  font-size: 16px;
  color: #1f2937;
  border: 0;
  width: 100%;
  background-color: #f3f4f6;
  border-radius: 12px;
  margin-top: 16px;
}

input #input-password {
  margin-top: 24px;
}

input:focus {
  outline: none;
  border: 1px solid #3692ff;
}

.password-icon {
  position: relative;
}

.password-icon img {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-button {
  border: none;
  display: block;
  padding: 16px;
  background: #3692ff;
  color: #ffffff;
  margin: 24px 0px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border-radius: 40px;
}

.login-button:hover {
  background-color: #1251aa;
}

.simple-login {
  border: none;
  display: flex;
  padding: 25px 23px;
  background-color: #e6f2ff;
  font-size: 16px;
  border-radius: 8px;
  margin: 24px 0;
  align-items: center;
  height: 74px;
}

.simple-text {
  margin-right: auto;
}

.icon {
  width: 42px;
  text-align: right;
}

.google {
  margin-right: 16px;
}

.signup {
  font-size: 15px;
  text-align: center;
}

.nav-signup {
  color: #3182f6;
}

.error {
  border: 1px solid #f74747;
}

.error-message {
  color: #f74747;
  font-size: 15px;
  font-weight: 600;
  margin: 8px 16px;
}

/* 아이패드 미니
@media (min-width: 768px) and (max-width: 1199px) {
  
} */

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  .login {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 16px 0 16px;
  }

  .logo {
    margin: 24px;
  }

  .logo a {
    margin-bottom: 40px;
  }

  .logo a img {
    width: 198px;
  }

  .user-input {
    margin: 0px;
  }

  .user-input label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .user-input input {
    margin: 0;
  }

  .login-button {
    font-size: 16px;
    font-weight: 600;
    padding: 14.5px 33.5px;
  }
}
