.pagination_bar_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.pagination_button {
  border: 1px solid var(--gray-200);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
