@import "../root.css";

a {
  text-decoration: none;
  color: #000;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: solid 1px #dfdfdf;
}

.Header-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Header-logo .Header-img {
  width: 153px;
  height: 51px;
  cursor: pointer;
}
.Header-logo .Header-btn {
  display: flex;
  align-items: center;
}
.Header-logo .Header-btn li {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  cursor: pointer;
  color: var(--items-header-btn-color-nonactive);
}

.Header-logo .Header-btn .active {
  color: var(--items-header-btn-color-active);
}

.Header .Header-login-btn {
  background-color: var(--blue);
  width: 128px;
  height: 48px;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
header .Header-login-btn:hover {
  background-color: var(--hover-blue);
}
header .Header-login-btn:active {
  background-color: var(--click-blue);
}
