.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 70px;
}

.section {
  max-width: 1200px;
  width: 100vw;
  padding: 16px;
}

.section-inner:nth-child(2) .section-inner__caption {
  text-align: end;
}

/* tablet */

@media screen and (min-width: 768px) {
  .section {
    padding: 24px;
  }
}

/* desktop */

@media screen and (min-width: 1200px) {
  .section-inner:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
  }
}
