.ItemPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 17px 16px;
  margin-top: 70px;
  margin-bottom: 62px;
}

.ItemPage__best-section .ItemPage__title {
  margin-bottom: 16px;
}

/* title-section */

.ItemPage__title-section {
  display: grid;
  grid-template-columns: 1fr calc(132px - 42px - 8px) 42px;
  grid-template-areas:
    "title btn btn"
    "search search sort";
  grid-gap: 8px;
}

.ItemPage__title {
  grid-area: title;
  margin: auto 0;
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

.ItemPage .ItemPage__additem-btn {
  grid-area: btn;
  width: 133px;
  height: 42px;
}

.ItemPage .ItemPage__search-bar {
  grid-area: search;
}

.ItemPage .ItemPage__search-bar input {
  width: 100%;
}

.ItemPage__select-box {
  grid-area: sort;
}

/* best-item-list */

.ItemPage__best-item-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

/* item-list */

.ItemPage__item-list {
  display: flex;
  flex-wrap: wrap;
}

.ItemPage__item-list .Card {
  width: calc(50% - 4px);
  margin-right: 8px;
}

.ItemPage__item-list .Card:nth-child(2n) {
  margin-right: 0;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* tablet - min-width: 768px */

@media screen and (min-width: 768px) {
  .ItemPage__title-section {
    grid-template-columns: 1fr auto auto auto;
    grid-template-areas: "title search btn sort";
    grid-gap: 8px;
  }

  .ItemPage .ItemPage__search-bar input {
    width: 242px;
  }

  .ItemPage__best-item-list {
    margin-bottom: 40px;
  }

  .ItemPage__best-item-list .Card {
    width: calc(50% - 12px);
    margin-right: 24px;
  }

  .ItemPage__best-item-list .Card:nth-child(2n) {
    margin-right: 0;
  }

  .ItemPage__item-list .Card,
  .ItemPage__item-list .Card:nth-child(2n) {
    width: calc(33.3% - 12px);
    margin-right: 16px;
  }

  .ItemPage__item-list .Card:nth-child(3n) {
    margin-right: 0;
  }

  .ItemPage__title-section {
    margin-bottom: 0;
  }
}

/* desktop - min-width: 1200px */

@media screen and (min-width: 1200px) {
  .ItemPage .ItemPage__search-bar input {
    width: 325px;
  }

  .ItemPage__best-item-list .Card,
  .ItemPage__best-item-list .Card:nth-child(2n) {
    width: calc(25% - 12px);
    margin-right: 16px;
  }

  .ItemPage__best-item-list .Card:nth-child(4n) {
    margin-right: 0;
  }

  .ItemPage__item-list .Card,
  .ItemPage__item-list .Card:nth-child(2n),
  .ItemPage__item-list .Card:nth-child(3n) {
    /* 19.2px = 24(margin-right값) % 5(요소 개수) * 4(gap개수)  */
    width: calc(20% - 19.2px);
    margin-right: 24px;
  }

  .ItemPage__item-list .Card:nth-child(5n) {
    margin-right: 0;
  }
}
