/* 상품 */
.item_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 70px;
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
}

.item_wrap {
  min-height: 486px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 486px 1fr;
  grid-template-rows: 35px 65px auto 1fr 40px;
  grid-template-areas:
    "img name"
    "img price"
    "img des"
    "img tags"
    "img heart";
  column-gap: 30px;
}

.item_img {
  grid-area: img;
  width: 486px;
  height: 486px;
  border-radius: 1rem;
  object-fit: cover;
  overflow: hidden;
}

.item_top {
  display: flex;
  justify-content: space-between;
  grid-area: name;
}

.item_name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
}

.item_kebab_btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item_kebab_img {
  width: 100%;
  height: 100%;
}

.item_price {
  grid-area: price;
  font-size: 2.5rem;
  font-weight: 600;
  color: #1f2937;
}

.item_description_wrap {
  grid-area: des;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  gap: 8px;
}

.item_description_title {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
}

.item_description {
  overflow: hidden;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
}

.item_tags_wrap {
  grid-area: tags;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}

.item_tags_title {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
}

.item_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 14px;
}

.item_tag {
  background-color: #f3f4f6;
  padding: 6px 16px;
  border-radius: 26px;
}

.item_heart {
  grid-area: heart;
}

.item_heart_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 4px 12px;
  border: 1px solid var(--gray-200);
  border-radius: 35px;
  gap: 8px;
  cursor: pointer;
}

.item_heart_icon {
  width: 32px;
  height: 32px;
}

.item_heart_count {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
}

/* 질문 */
.question_wrap {
  padding-top: 20px;
  border-top: 1px solid #e5e7eb;
}

.question_form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.question_title {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}
.question_input {
  width: 100%;
  height: 100px;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  resize: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
  &:focus {
    outline: 1px solid #3692ff;
  }
  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #9ca3af;
  }
}

.question_btn_wrap {
  display: flex;
  justify-content: end;
}

.question_btn {
  padding: 12px 23px;
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--blue-100);
  }
  &:active {
    background-color: var(--blue-200);
  }
  &:disabled {
    background-color: var(--blue-50);
    cursor: not-allowed;
  }
}

.question_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .question_empty_text {
    font-size: 16px;
    font-weight: 400;
    color: #9ca3af;
  }
}

.item_back {
  margin-top: 10px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  & .item_back_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 240px;
    gap: 10px;
    background-color: var(--blue);
    border: none;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: var(--blue-100);
    }

    &:active {
      background-color: var(--blue-200);
    }

    & .item_back_img {
      width: 24px;
      height: 24px;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tablet Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .item_container {
    max-width: 768px;
  }

  .item_wrap {
    max-height: 340px;
  }

  .item_img {
    width: 340px;
    height: 340px;
  }

  .item_name {
    font-size: 20px;
  }
  .item_price {
    font-size: 32px;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Mobile Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .item_container {
    max-width: 360px;
    padding: 0 10px;
  }

  .item_wrap {
    max-height: 100%;
    grid-template-columns: 343px;
    grid-template-rows: 343px 35px 65px 1fr auto 40px;
    grid-template-areas:
      "img"
      "name"
      "price"
      "des"
      "tags"
      "heart";
  }

  .item_img {
    width: 343px;
    height: 340px;
  }

  .item_name {
    font-size: 20px;
  }
  .item_price {
    font-size: 32px;
  }

  .item_tags {
    margin-bottom: 20px;
  }
}
