.App Main {
  margin-top: 100px;
}

.App .container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 399px) and (max-width: 1199px) {
  .App .container {
    width: 100%;
    margin: 0 auto;
  }
}
