.product_container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Tablet Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1199px) {
  .product_container {
    width: 768px;
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Mobile Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .product_container {
    width: 360px;
  }
}
