:root {
  --cool-gray-100: #f3f4f6;
  --cool-gray-400: #9ca3af;
  --cool-gray-800: #1f2937;
  --background-color: #e6f2ff;
  --button-disabled: hsl(218, 11%, 65%);
  --button-abled: #3692ff;
  --link: #3182f6;
  --error: #BF010A
}

label {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  text-align: left;
  color: var(--cool-gray-800);
}

input {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: var(--cool-gray-100);
  color: var(--cool-gray-400);
  padding: 16px 24px;
}

input:focus {
  border: 1px solid var(--button-abled);
}

/* Signin Container */
.signin_container_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.logo_img {
  margin-bottom: 40px;
}

.signin_form_layout {
  max-width: 640px;
  width: 100%;
}

.input_container {
  position: relative;
  margin-bottom: 24px;
}

.toggle_password {
  position: absolute;
  top: 56px;
  right: 27px;
  cursor: pointer;
}

/* Error */
.border_red {
  border: 1px solid var(--error);
}

.error_msg {
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
  color: var(--error);
  margin: 4px 0 0 16px;
}

.signin_button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  background-color: var(--cool-gray-400);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: white;
  margin-bottom: 24px;
}

.signin_button {
  background-color: var(--button-abled);
}

.signin_button:disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled);
}

.social_signin_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  border-radius: 8px;
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--cool-gray-800);
  padding: 0 16px;
  margin-bottom: 24px;
}

.social_signin_icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Sign Up Link */
.signup_link_text {
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
}

.signup_link_text a {
  text-decoration: underline;
  color: var(--link);
}

/* Moblie */
@media screen and (min-width: 375px) and (max-width: 767px) {
  label {
    font-size: 14px;
    line-height: 16.71px;
  }

  /* Signin Container */
  .signin_container_layout {
    padding: 16px;
    margin-top: 24px;
  }

  .logo_img {
    width: 198px;
    height: 66px;
    margin-bottom: 24px;
  }

  .signin_form_layout {
    max-width: 400px;
  }

  .toggle_password {
    top: 50px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {

  /* Signin Container */
  .signin_container_layout {
    margin-top: 48px;
  }

  /* Social Signin Container */
  .social_signin_layout {
    padding: 0 24px;
  }
}