.bestCardsWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.bestListWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bestListCard {
  width: 100%;
  height: 169px;
}

.bestListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #f0f2f5;
  padding: 0 24px 16px 24px;
}

.bestBadge {
  margin-bottom: 8px;
}

.bestListItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.bestTitle {
  font-family: Pretendard;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.15em;
  margin-bottom: 15px;
}

.bestImageWrapper {
  display: flex;
  margin-left: 8px;
}

.bestImage {
  border-radius: 8px;
  width: 72px;
  height: 72px;
  padding: 13px 12px 13px 12px;
  border: 1px solid #e0e0e0;
  flex-shrink: 0;
  background-color: #ffffff;
}

.bestImage img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.InfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.bestInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #65676b;
}

.bestWriter {
  margin-right: 8px;
}

.bestLike {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #65676b;
}

.bestLike > img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  margin-top: 2px;
}

.bestDate {
  color: #65676b;
}

/* 모바일 사이즈 */
@media (max-width: 767px) {
  .bestCardsWrapper {
    flex-direction: column;
  }

  .bestListCard:nth-child(n + 2) {
    display: none;
  }
  .bestTitle {
    font-size: 17px;
  }
  .bestImageWrapper {
    margin-left: 10px;
  }
}

/* 태블릿 사이즈 이상 */
@media (max-width: 1200px) {
  .bestCardsWrapper {
    flex-direction: row;
  }

  .bestListCard:nth-child(n + 3) {
    display: none;
  }
  .bestTitle {
    font-size: 17px;
  }
  .bestImageWrapper {
    margin-left: 15px;
  }
}
