@import '../../../styles';

.container {
  max-width: $max-width-size;
  margin: 0 auto;

  @media (max-width: $max-width-size) {
    margin-inline: 24px;
  }

  @media (max-width: $mobile-size) {
    margin-inline: 16px;
  }
}
