.nav-onSaleProducts {
  position: relative;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-areas:
    "a b b"
    "c c d";
  gap: 8px;
  grid-template-columns: 1fr auto;
}

.title-onSaleProducts {
  color: #111827;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  grid-area: a;
}

.btn.btn-addProduct {
  width: 133px;
  height: 42px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  grid-area: b;
}

.input-onSaleProducts {
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  height: 42px;
  width: 294px;
  padding-left: 44px;
  margin: 0;
  grid-area: c;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.searchIcon {
  position: absolute;
  left: 16px;
  bottom: 9px;
}

.dropDownBtn-onSaleProducts {
  grid-area: d;
  text-align: right;
  cursor: pointer;
}

.dropDownMenu-onSaleProducts {
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  margin-top: 6px;
  width: 130px;
  height: 84px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  list-style: none;
  padding: 0;
}

.li-first {
  border-bottom: 1px solid #e5e7eb;
  padding: 9px 43px;
}

.li-second {
  padding: 9px 36px;
}

.dropDownMenu-onSaleProducts li {
  text-align: center;
  cursor: pointer;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1f2937;
}

@media (min-width: 768px) {
  .nav-onSaleProducts {
    display: flex;
  }
  .nav-onSaleProducts p {
    width: 166px;
  }
  .input-onSaleProducts {
    width: 242px;
    margin: 0;
  }
  .searchIcon {
    left: 192px;
  }
  .dropDownBtn-onSaleProducts {
    width: 120px;
    height: 42px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .dropDownMenu-onSaleProducts {
    margin-top: 46px;
    width: 120px;
    height: 88px;
  }
  .dropDownMenu-onSaleProducts li {
    padding: 9px;
  }
  .dropDownBtn-tablet {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .dropDownBtn-onSaleProducts {
    width: 130px;
  }
  .dropDownMenu-onSaleProducts {
    width: 130px;
  }
  .nav-onSaleProducts {
    margin-bottom: 24px;
    display: flex;
  }
  .nav-onSaleProducts p {
    flex: 1 1 auto;
  }
  .input-onSaleProducts {
    width: 325px;
  }
  .searchIcon {
    left: 612px;
  }
}
