.container-onSaleProducts {
  width: 344px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container-onSaleProducts {
    width: 696px;
  }
}
@media (min-width: 1200px) {
  .container-onSaleProducts {
    width: 1200px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.cards-container.tb {
  min-width: 766px;
}
