.header {
  height: 70px;
  align-items: center;
  border-bottom: solid 1px var(--gray-border);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  height: 70px;
  margin: 0 auto;
  padding: 0 200px;
}

.logo {
  width: 153px;
  height: 100%;
}

.header-nav {
  align-items: left;
  width: calc(90% - 281px);
}

.nav-container {
  width: 100%;
  display: flex;
  place-items: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
}

li {
  width: 109px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--nav-noselected);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
}

.nav-link.active {
  color: var(--brand-blue);
}

button {
  color: var(--color-white);
  background-color: var(--brand-blue);
}

.login-btn {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .header-container {
    padding: 0 16px;
  }

  .nav-container {
    font-size: 16px;
    line-height: 19.09px;
  }
}
