
.bestContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: #111827;
  font-weight: 700;
  font-size: 20px;
}
.bestList {
  display: flex;
  gap: 16px;
}

.bestProduct {
  width: 272px;
  height: 362px;
}

.bestProduct img {
  border-radius: 16px;
  width: 272px;
  height: 282px;
}
.bestProduct .description {
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  color: var(--fontColor);
}
.bestProduct .price {
  margin-top: 5px;
  color: var(--fontColor);
  font-size: 14px;
  font-weight: 700;
}
.bestProduct .favorites {

  width: 13.4px;
  height: 11.65px;
  color: #4b5563;
}

.bestProduct .favoriteCount {

  margin-top: 5px;
  color: #4b5563;
  font-size: 12px;
}

@media (max-width: 1199px) {

  .bestList {
    gap: 10px;
    justify-content: center;
  }

  .bestList .bestProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 460px;
  }

  .bestProduct .image {
    width: 300px;
    height: 326px;
  }
  .bestProduct .description {
    width: 300px;
    font-weight: 500;
    font-size: 14x;
  }
  .bestProduct .price {
    width: 300px;

    margin-top: 5px;
    color: #1f2937;
    font-size: 16px;
    font-weight: 700;
  }


  .bestProduct .favoriteCount {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .bestList .bestProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
  }

  .bestProduct .image {
    width: 300px;
    height: 300px;
  }
  .bestProduct .description {
    width: 300px;
    font-weight: 500;
    font-size: 14x;
  }
  .bestProduct .price {
    width: 300px;
    margin-top: 5px;
    color: var(--fontColor);
    font-size: 16px;
    font-weight: 700;
  }

  .bestProduct .favoriteCount {
    width: 300px;

  }
}

