.btn {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--white);
  color: var(--white);
}
.none {
  background-color: var(--placeHoldColor);
  color: var(--white);
}
.fill {
  background-color: var(--sky);
  color: var(--white);
}
.cancel {
  border-radius: 20px;
  background-color: var(--sky);
}

#fileInput {
  display: none;
}

