.editContainer {
  margin: 50px 20px;
  height: 160px;
  border-bottom: 1px solid #e5e7eb;
}

.editInput {
  width: 100%;
  background-color: #f3f4f6;
  border: none;
  padding: 0;
  border-radius: 12px;
  height: 80px;
}

.editorInformation {
  margin-top: 20px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.cancelBtn {
  margin-right: 5px;
  border: none;
  width: 68px;
  height: 42px;
  background-color: #ffffff;
  color: #737373;
  cursor: pointer;
}

.editBtn {
  border: none;
  border-radius: 8px;
  width: 106px;
  height: 42px;
  background-color: #3692ff;
  color: #ffffff;
  cursor: pointer;
}
.commentContainer {
  height: 110px;
  margin-top: 30px;
  border-bottom: 1px solid #e5e7eb;
}
.commentContainer__frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentContainer__frame_btn {
  background-color: var(--white);
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
}
.commentContainer__frame_btn--img {
  width: 24px;
  height: 24px;
}
.commentContainer-comment {
  font-weight: 400;
  font-size: 16px;
  color: var(--fontColor);
}

.commentContainer-profile {
  display: flex;
  align-items: center;
}

.commentContainer-profile :first-child {
  width: 40px;
  height: 40px;
}

.commentContainer-info {
  margin-left: 5px;
  width: 61px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentContainer-info :first-child {
  color: #4b5563;
  font-weight: 400;
  font-size: 14px;
}
.commentContainer-info :last-child {
  color: #9ca3af;
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 1199px) {
  .commentContainer > * {
    margin: 20px;
  }

  .editInput {
  }
}

@media (max-width: 767px) {
}

