.navBtn {
  background-color: #ffffff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #e5e7eb;
  color: #6b7280;
}
.clicked {
  background-color: #2f80ed;
  color: #ffffffff;
}

