.formContainer {
  margin: 20px 360px 100px;
}
.fileInput {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header :first-child {
  font-size: 28px;
  font-weight: 700;
  color: var(--fontColor);
}

.submitBtn {
  width: 88px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--white);
  color: var(--white);
}
.submitBtn.off {
  background-color: var(--placeHoldColor);
}
.submitBtn.on {
  cursor: pointer;
  background-color: var(--sky);
}

.productImage {
  margin-top: 10px;
}

.productImageTitle {
  font-weight: 700;
  font-size: 18px;
  color: var(--fontColor);
}
.filePreview {
  display: flex;
  gap: 30px;
}
.imageRegister {
  cursor: pointer;
  margin-top: 10px;
  width: 282px;
  height: 282px;
  border-radius: 12px;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageRegister :first-child {
  font-size: 48px;
  color: var(--placeHoldColor);
}
.imageRegister :last-child {
  font-size: 16px;
  font-weight: 400;
  color: var(--placeHoldColor);
}
.previewImageBox {
  border: 1px solid var(--white);
  border-radius: 12px;
  position: relative;
  width: 282px;
  height: 282px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previewImageBox .previewImage {
  width: 282px;
  height: 282px;
}
.previewImageBox :first-child {
  position: absolute;
  top: 10px;
  right: 10px;
}

.productName {
  margin-top: 10px;
}
.productName :first-child {
  font-weight: 700;
  font-size: 18px;
  color: var(--fontColor);
}
.productName :last-child {
  margin-top: 10px;
  border: 1px solid #f3f4f6;
  border-radius: 12px;
  background-color: #f3f4f6;
  width: 100%;
  height: 56px;
}

.productName :last-child::placeholder {
  color: var(--placeHoldColor);
}
.productIntroduce {
  margin-top: 10px;
}
.productIntroduce :first-child {
  font-weight: 700;
  font-size: 18px;
  color: var(--fontColor);
}

.productIntroduce :first-child {
  font-weight: 700;
  font-size: 18px;
  color: var(--fontColor);
}

.productIntroduce :last-child {
  margin-top: 10px;
  border: 1px solid #f3f4f6;
  border-radius: 12px;
  background-color: #f3f4f6;
  padding-top: 28px;
  padding-bottom: 172px;
  width: 100%;
}

.productIntroduce :last-child::placeholder {
  color: var(--placeHoldColor);
}
.productPrice {
  margin-top: 10px;
}
.productPrice :first-child {
  font-weight: 700;
  font-size: 18px;
  color: var(--fontColor);
}

.productPrice :last-child {
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid #f3f4f6;
  width: 100%;
  height: 56px;
  background-color: #f3f4f6;
}
.productPrice :last-child::placeholder {
  color: var(--placeHoldColor);
}
.productTag :first-child {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  color: var(--fontColor);
}
.productTag :last-child {
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid #f3f4f6;
  width: 100%;
  height: 56px;
  background-color: #f3f4f6;
}

.productTag :last-child::placeholder {
  color: var(--placeHoldColor);
}

.tagList {
  display: flex;
  gap: 10px;
}

.tagFrame {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  height: 48px;
  border-radius: 26px;
  background-color: #f9fafb;
  border: 1px solid #f9fafb;
  font-size: 16px;
  font-weight: 400;
  color: var(--fontColor);
}

.tagFrame .tagCancel {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ca3af;
  border: 1px solid #f9fafb;
  color: var(--white);
  border-radius: 26px;
}

@media (max-width: 1199px) {
  .formContainer {
    margin: 20px 20px 100px;
  }
  .imageRegister {
    width: 162px;
    height: 162px;
  }
  .previewImageBox {
    width: 162px;
    height: 162px;
  }
  .previewImageBox .previewImage {
    width: 162px;
    height: 162px;
  }
}

