.totalProduct {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalProduct .title {
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

.totalProduct .buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.buttons .search {
  position: relative;
  background: #f3f4f6;
  border: 1px solid #f3f4f6;
  border-radius: 12px;
  width: 315px;
  height: 42px;
  padding-left: 10px;
}
.search::placeholder {
  color: #9ca3af;
  font-size: 16px;
}
.search:focus {
  outline: none;
}

.buttons .submit {
  cursor: pointer;
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #3692ff;
  border: 1px #3692ff solid;
  color: #ffffff;
  font-size: 16px;
}

.buttons .filter {
  padding-left: 10px;
  border-radius: 12px;
  width: 120px;
  height: 42px;
  color: #1f2937;
  font-size: 16px;
}
.productList {
  margin-top: 30px;
  display: grid;

  gap: 16px;
  grid-template-rows: repeat(
    2,
    1fr
  ); /* 5개의 행을 각각 1fr의 비율로 생성합니다. */
  grid-template-columns: repeat(
    5,
    1fr
  ); /* 2개의 열을 각각 1fr의 비율로 생성합니다. */
}
.product {
  width: 221px;
  height: 301px;
}
.product img {
  width: 221px;
  height: 221px;
}
.product .price {
  margin-top: 5px;
  color: #1f2937;
  font-size: 14px;
  font-weight: 700;
}
.product .favoriteCount {
  margin-top: 5px;
  color: #4b5563;
  font-size: 12px;
}

@media (max-width: 1199px) {
  .container {
    margin: 20px;
  }
  #title {
  }
  .totalProduct {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .productList {
    margin-top: 30px;
    display: grid;
    place-items: center;
    gap: 16px;
    grid-template-rows: repeat(
      2,
      1fr
    ); /* 5개의 행을 각각 1fr의 비율로 생성합니다. */
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 2개의 열을 각각 1fr의 비율로 생성합니다. */
  }
}

@media (max-width: 767px) {
  .productList {
    margin-top: 30px;
    display: grid;
    place-items: center;
    gap: 16px;
    grid-template-rows: repeat(
      2,
      1fr
    ); /* 5개의 행을 각각 1fr의 비율로 생성합니다. */
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2개의 열을 각각 1fr의 비율로 생성합니다. */
  }
}

