.allItem-area {
  max-width: 1920px;
}
.product-filter-area {
  display: flex;
}
.allItem-nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.allItem-main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.allItem-main .item-img {
  width: 221px;
  height: 221px;
}
