.all-products {
  width: 100%;
  max-width: 1201px;
  height: 708px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.all-products-header {
  width: 100%;
  max-width: 1201px;
  height: 42px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-products-header h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  color: #111827;
}

.all-products-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.search-form {
  width: 325px;
  height: 42px;

  padding: 9px 20px 9px 16px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  background-color: #f3f4f6;
  border-radius: 12px;
}

.search-button {
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;
}

.search-button img {
  width: inherit;
  height: inherit;
}

.search-input {
  width: 100%;
  height: 24px;

  border: 0;
  outline: 0;
  background-color: transparent;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #9ca3af;
}

.order-lists {
  width: 275px;
  height: 42px;

  display: flex;
  gap: 12px;
  cursor: pointer;
}

.add-item-button {
  width: 133px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: 0;
  border: 0;
  background-color: #3692ff;
  border-radius: 8px;

  cursor: pointer;
}

.add-item-button span {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;

  color: #fff;
}

.order-list {
  width: 130px;
  height: 42px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #e5e7eb;
  border-radius: 12px;

  position: relative;
}

.order-recent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.order-recent span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.order-menus {
  width: 130px;
  height: 84px;

  position: absolute;
  top: 45px;

  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 130px;
}

.order-menus li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-menus li:first-child {
  border-bottom: 1px solid #e5e7eb;
}

.all-products-contents {
  width: 100%;
  max-width: 1201px;
  height: 642px;

  display: flex;
  flex-direction: column;

  gap: 40px;
}

.all-products-wrap {
  width: 100%;
  height: 301px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 301px;

  gap: 20px;
}
