@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "Pretendard";
}

html {
  overflow-y: scroll;
  background-color: #f9f9f9;
}

body {
  margin: 0;
}

a {
  color: #494949;
  text-decoration: none;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  position: relative;
  flex-grow: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
