.bestProduct-area .item-img {
  width: 282px;
  height: 282px;
}

.bestProduct-area {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 89px;
  margin-bottom: 40px;
}
