.card {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  gap: 16px;
}

.card-image {
  width: 100%;
  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 6px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;

  color: #1f2937;
}

.card-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
}

.card-favorite {
  display: flex;
  align-items: center;

  gap: 4px;

  color: #4b5563;
}

.favorite-icon {
  width: 16px;
  height: 16px;
}

.favorite-count {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
}
