@media (min-width: 1200px) {
    .content-container {
        width: 1200px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .content-container {
        margin: 24px 24px;
    }
}

@media (max-width: 767px) {
    .content-container {
        margin: 16px 16px;
    }
}