/* --------------------     헤더     -------------------- */
.header-container {
  width: 100%;
  background-color: rgba(255, 0, 0, 0.37); /* 임시 */
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* display: flex;
  width: 153px;
  height: 51px;
  justify-content: space-between;
  align-items: center; */
}

.logo-icon {
  display: none;
}

.logo-title {
  font-family: ROKAF Sans;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  color: #3692ff;
}

.login-btn {
  /**/
}
/* --------------------     //헤더     -------------------- */
