@import "../style/common";

.itemLists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
  grid-template-columns: repeat(5, 1fr);
  @media screen and (max-width: $size-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: $size-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  &.best {
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: $size-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $size-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .itemList {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
