@import "../style/common";

.img-wrap {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: #1f2937;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: #1f2937;
}
.favorite {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  color: #4b5563;
}
