/* default: PC */
.content-container {
  width: 100%;
  max-width: 1203px;
  height: auto;
  margin: 94px auto 200px;
  border: 0.1px solid lightgreen;
}

.content-label {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  letter-spacing: 0.02em;
  text-align: left;
}

.products-best {
  margin-top: 24px;
}

.products-all {
  margin-top: 40px;
}

.content-label-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.control-box {
  display: flex;
  gap: 12px;
}

.search-box {
  width: 325px;
  height: 42px;
  position: relative;
}

.keywords {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  padding: 9px 20px 9px 44px;
}

.search-button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;

  position: absolute;
  top: 9px;
  left: 10px;
}

.search-icon {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.enterButton-box {
  width: 133px;
  height: 42px;
}

.enterButton {
  width: 133px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
}

.dropdown-box {
  position: relative;
}

.dropdown-button {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #1F2937;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-down-image {
  width: 12px;
  height: 12px;
}

.reverse {
  transform: scaleY(-1);
}

.dropdown-list {
  width: 130px;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  background-color: #FFFFFF;

  position: absolute;
  top: 43px;
  left: 0;
}

.dropdown-option:nth-child(1) {
  border-radius: 11px 11px 0 0;
}

.dropdown-option:nth-last-child(1) {
  border-radius: 0 0 11px 11px;
}

.dropdown-option:nth-child(2n) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E5E7EB;
}

.dropdown-option {
  width: 130px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  color: #1F2937;
  text-align: center;
  line-height: 42px;
}

.dropdown-option:hover {
  background-color: #E5E7EB;
}

/*----------------------------tablet----------------------------*/
@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    height: 70px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .button-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 51px;
  }

  .icon-logo {
    width: 153px;
    height: 51px;
  }

  .text-logo {
    display: none;
  }

  .loginButton {
    width: 128px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
  }

  .banner-container {
    background-color: #cfe5ff;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .banner-container.top {
    height: 771px;
    margin-top: 70px;
  }

  .banner-container.bottom {
    height: 927px;
    margin-top: 56px;
  }

  .banner-container.top>.banner {
    width: 744px;
    height: 771px;
    position: relative;
  }

  .banner-container.bottom>.banner {
    width: 744px;
    height: 927px;
    position: relative;
  }

  .banner-box {
    width: 744px;
  }

  .bannerImage {
    position: absolute;
  }

  .bannerImage.top {
    width: 996px;
    height: 447px;
    top: 324px;
    left: -126px;
  }

  .bannerImage.bottom {
    width: 996px;
    height: 540px;
    top: 387px;
    left: -126px;
  }

  .intro-box.top {
    width: 100%;
    height: 56px;
    position: absolute;
    top: 84px;
    left: 116px;
    display: flex;
  }

  .intro-box.bottom {
    height: 90px;
    position: absolute;
    top: 201px;
    left: 224px;
    display: flex;
  }

  .intro {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;

    br {
      display: none;
    }
  }

  .bannerButton {
    font-size: 20px;
    line-height: 24px;
    width: 357px;
    height: 56px;
    padding: 16px 100px;
    border-radius: 40px;
    position: absolute;
    top: 164px;
    left: 195px;
  }

  .container {
    width: 767px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    padding: 0;
  }

  .content-box {
    width: 744px;
  }

  .content {
    flex-direction: column;
    margin: 24px;
    gap: 0;
    align-items: flex-start;
  }

  .content-box:nth-child(2n) .content {
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
  }

  .contentImage {
    width: 696px;
    height: 524px;
  }

  .content .keyword {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #3692ff;
    margin-top: 20px;
  }

  .content .message {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 12px;

    br {
      display: none;
    }
  }

  .content .description {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-top: 24px;
  }
}

/*----------------------------mobile----------------------------*/
@media (min-width: 375px) and (max-width: 767px) {
  nav {
    height: 70px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .button-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 51px;
  }

  .icon-logo {
    display: none;
  }

  .text-logo {
    width: 103px;
    height: 51px;
    display: block;
  }

  .loginButton {
    width: 128px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
  }

  .banner-container {
    background-color: #cfe5ff;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .banner-container.top {
    height: 540px;
    margin-top: 70px;
  }

  .banner-container.bottom {
    height: 540px;
    margin-top: 32px;
  }

  .banner-container.top>.banner {
    width: 375px;
    height: 540px;
    position: relative;
  }

  .banner-container.bottom>.banner {
    width: 375px;
    height: 540px;
    position: relative;
  }

  .banner-box {
    width: 375px;
  }

  .bannerImage {
    position: absolute;
  }

  .bannerImage.top {
    width: 626px;
    height: 281px;
    top: 259px;
    left: -126px;
  }

  .bannerImage.bottom {
    width: 498px;
    height: 270px;
    top: 270px;
    left: -61px;
  }

  .intro-box.top {
    height: 90px;
    position: absolute;
    top: 48px;
    left: 70px;
    display: flex;
  }

  .intro-box.bottom {
    height: 90px;
    position: absolute;
    top: 121px;
    left: 70px;
    display: flex;
  }

  .intro {
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
    text-align: center;
  }

  .bannerButton {
    font-size: 16px;
    line-height: 19px;
    width: 154px;
    height: 48px;
    padding: 16px 20px;
    border-radius: 24px;
    position: absolute;
    top: 156px;
    left: 111px;
  }

  .container {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0 auto;
    padding: 0;
  }

  .content-box {
    width: 375px;
  }

  .content {
    flex-direction: column;
    margin-left: 16px;
    margin-right: 15px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 0;
    align-items: flex-start;
  }

  .content-box:nth-child(2n) .content {
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
  }

  .contentImage {
    width: 100%;
    height: 100%;
  }

  .content .keyword {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #3692ff;
    margin-top: 20px;
  }

  .content .message {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 8px;

    br {
      display: none;
    }
  }

  .content .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 20px;
  }

  .footer {
    padding: 32px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
  }
}