.Nav {
  max-width: 1920px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  border-bottom: 1px solid #dfdfdf;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.links a {
  padding: 16px;
  text-decoration: none;
  color: #4b5563;
  font-size: 18px;
  font-weight: 700;
}

.links .active {
  color: #3692ff;
}

.panda_logo {
  width: 153px;
  height: 51px;
}

.logo {
  margin-left: auto;
  width: 40px;
  height: 40px;
}
