nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    
}

nav > div > a {
    color: #000000;
}

#nav-left {
    display: flex;
    align-items: center;
}

#nav-left > * {
    margin-left: 8px;
}