/* 활성화 스타일 */

.Navbar .active {
  color: var(--color-blue);
}

/* mobile */

.Navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 70px;
  padding: 0 16px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  z-index: 2;
}

.Navbar__logo {
  display: none;
}

.Navbar__logo-typo {
  margin-right: 8px;
}

.Navbar__link {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-cool-gray-600);
}

.Navbar__login {
  margin-left: auto;
}

.Navbar__button {
  width: 88px;
  height: 42px;
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-blue);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

/* tablet */

@media screen and (min-width: 768px) {
  .Navbar {
    gap: 0px;
    padding: 0 24px;
  }

  .Navbar__logo {
    display: block;
    margin-right: 20px;
  }

  .Navbar__logo-typo {
    display: none;
  }

  .Navbar__link {
    width: 109px;
    font-size: 18px;
    text-align: center;
  }
}

/* desktop */

@media screen and (min-width: 1200px) {
  .Navbar {
    gap: 0px;
    padding: 0 200px;
  }
}
