.nav_menu {
  display: flex;
  gap: 1rem;
}

.menu_community,
.menu_used_market {
  font-size: 1.125rem;
  font-weight: 700;
}

.menu_community {
  color: #4b5563;
}
.menu_used_market {
  color: #4b5563;
}

.active {
  color: var(--blue);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* Mobile Size================================================================================================================================= */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
  .nav_menu {
    gap: 0.5rem;
  }

  .menu_community,
  .menu_used_market {
    font-size: 1rem;
    font-weight: 700;
  }
}
