.Pagination {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 40px;
}

.button {
  width: 40px;
  height: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #6b7280;
}
