@import "../style/common";

.pagination {
  display: flex;
  justify-content: center;
  .pagination-container {
    display: flex;
    gap: 4px;
  }
  .pagination-list {
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 100%;
      border: 1px solid #e5e7eb;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 600;
      color: #6b7280;
      &.on {
        background: var(--brand-blue);
        color: #fff;
      }
    }
  }
}
