.PagenationBarWrapper {
  padding: 40px 0 80px;
}

.PagenationBar {
  display: flex;
  justify-content: center;
  gap: 4px;
}
button {
  font-weight: 600;
  color: var(--gray500);
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid var(--gray200);
  width: 40px;
  height: 40px;
}
button.active {
  color: #fff;
  background-color: var(--main-blue-color);
}
