.Products-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
  padding: 0;
}

.favorite-contents {
  display: flex;
  align-items: center;
}

.favorite-contents img {
  height: 16px;
}

.favorite-contents h3 {
  margin-left: 4px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.09px;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
}
