form.product-ragistration-form {
  display: flex;
  flex-direction: column;
  margin: 24px auto 0px;
}

form.product-ragistration-form h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.41px;
}

textarea {
  width: 1200px;
  height: 200px;
  border: none;
}

form.product-ragistration-form label {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  margin-bottom: 12px;
}

form.product-ragistration-form input {
  gap: 10px;
  border: none;
  height: 56px;
}

.product-ragistration-form input:focus,
textarea:focus {
  outline: none;
}

form.product-ragistration-form input,
textarea {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 12px;
  background-color: #f3f4f6;
  margin-bottom: 24px;
}

.product-ragistration-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-ragistration-form-wrapper button {
  background-color: #9ca3af;
  color: #ffffff;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  gap: 10px;
  width: 88px;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
}

form:valid .product-ragistration-form__button {
  background-color: #3692ff;
}

.image-upload-frame-wrapper input::placeholder {
  margin: 2px 0 0 2px;
}

.product-ragistration-form input {
  padding: 12px 0 12px 24px;
}

textarea#product-description {
  padding: 12px 0 12px 24px;
}
