@import "../root.css";

li {
  list-style: none;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--product-category-color);
}

.BestProductsList {
  display: flex;
  gap: 20px;
  margin: 20px 0 50px 0;
}

.BestProductItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.BestProductItem-Img {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 6px;
}

.BestProductItem-Name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  color: var(-product-item-name-color);
}

.BestProductItem-Price {
  font-size: 16px;
  line-height: 19.09px;
  font-weight: 700;
}
.BestProductItem-Favorite {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 14px;
}
.BestProductItem-Favorite p {
  color: var(--product-item-name-color);
  font-size: 14px;
  position: relative;
  bottom: 1px;
}
.BestProductItem-Favorite img {
  width: 14px;
}

@media screen and (min-width: 380px) and (max-width: 767px) {
  .best {
    margin: 0 auto;
  }
  .best h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--product-category-color);
    padding: 0 15px;
    margin: 0 auto;
  }

  .BestProductsList {
    display: flex;
    gap: 20px;
    margin: 20px auto 50px;
    justify-content: center;
  }

  .BestProductItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .BestProductItem-Img {
    width: 282px;
    height: 282px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 6px;
  }

  .BestProductItem-Name {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.71px;
    color: var(-product-item-name-color);
  }

  .BestProductItem-Price {
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 700;
  }
  .BestProductItem-Favorite {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 14px;
  }
  .BestProductItem-Favorite p {
    color: var(--product-item-name-color);
    font-size: 14px;
    position: relative;
    bottom: 1px;
  }
  .BestProductItem-Favorite img {
    width: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .best {
    margin: 0 auto;
  }
  .best h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--product-category-color);
    padding: 0 15px;
    margin: 0 auto;
  }

  .BestProductsList {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px auto 50px;
  }

  .BestProductItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .BestProductItem-Img {
    width: 336px;
    height: 336px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 6px;
  }
}
