/* form */
.user-form__group {
  max-width: 640px;
  margin-bottom: 24px;
}

.user-form__btn {
  width: 640px;
  height: 56px;
  background-color: #9ca3af;
  border-radius: 40px;
  font-size: 20px;
}

/* input */
input::placeholder {
  color: var(--color-cool-gray-400);
}

.user-form__label {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: var(--color-cool-gray-800);
}

.user-form__input-field {
  position: relative;
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--color-cool-gray-100);
}

.user-form__input:focus {
  outline: #3692ff solid 1.5px;
}

.user-form .toggle-password-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
}

.user-form__btn:active {
  background-color: var(--color-blue);
  color: #fff;
}

/* input option */

i.icon-eye {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icon/eye.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

i.icon-eye-off {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icon/eye-off.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* mobile */
@media screen and (max-width: 767px) {
  .user-form,
  .user-form__input-field,
  .user-form__btn {
    width: 100%;
  }

  .user-form__label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .user-form__input {
    margin-bottom: 16px;
  }
}

/* input 자동완성 시 자동 스타일 적용 초기화 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-cool-gray-100) inset;
  box-shadow: 0 0 0px 1000px var(--color-cool-gray-100) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-cool-gray-100) inset;
  box-shadow: 0 0 0px 1000px var(--color-cool-gray-100) inset;
  transition: background-color 5000s ease-in-out 0s;
}
