.inputContainer {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.input {
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  line-height: 24px;
}

.input:focus {
  outline-color: #3692ff;
}

.loginButton {
  width: 100%;
  height: 56px;
  border: 1px;
  border-radius: 40px;
  background: #3692ff;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  cursor: pointer;
}

.loginButton.disabled {
  background: #9ca3af;
}

.socialLoginContainer {
  background-color: #e6f2ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
  margin: 24px 0;
}

.logText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.socialLogin {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.errorText {
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  padding-top: 5px;
  padding-left: 15px;
  color: red;
}
