.bestProduct{
  padding-top: 87px;
  padding-bottom: 24px;
}

.Title {
  color: #111827;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.bestItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
