.Title {
  color: #111827;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.Product {
  display: flex;
  justify-content: space-between;
}

.ProductBar {
  display: flex;

}
.Item {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 24px;
}

@media (max-width: 1280px) {
  .Item {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .Item {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 24px;
  }
}

