@import '../../styles/reset.css';
@import '../../styles/common.css';
@import '../../assets/fonts/index.css';

.bestitem-title {
    padding-block: 24px 12px;
}

.bestitem-title--content {
    font-family: Pretendard;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.bestitem-list {
    display: grid;
    grid-template: 1fr / repeat(4, 282px);
    column-gap: 24px;
}

.bestitem-list--item__image {
    display: inline-block;
    border: 1px black solid;
    border-radius: 16px;

}

.bestitem-list--item__image > img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.bestitem-list--item__title {
    font-family: Pretendard;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.71px;
}

.bestitem-list--item__price {
    font-family: Pretendard;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.09px;
}

.bestitem-list--item__likebutton {
    display: inline-block;
    position: relative;
}

.bestitem-list--item__likecount {
    display: inline-block;
    font-family: Pretendard;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .bestitem-list {
        grid-template: 1fr / repeat(2, 336px);
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .bestitem-list {
        grid-template: 1fr / 336px;
    }
}


