* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.best-market {
    margin-top: 24px;
}

.best-title {
    color: #111827;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.cards {
    display: grid;
    grid-gap: 24px;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
}

.best-img {
    aspect-ratio: 1 / 1;
    border-radius: 19px;
    object-fit: cover;
    width: 100%;
}

.best-name {
    font-weight: 500;
    margin-top: 14px;
}

.best-price {
    font-size: 16px;
    font-weight: 700;
    margin: 6px 0;
}

.like {
    display: flex;
    align-items: center;
    color: #4b5563;
    font-size: 12px;
    gap: 4px;
}

@media (max-width: 1279px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}