.search {
    position: relative;
}

.search input {
    background-color: #f3f4f6;
    border: none;
    border-radius: 12px;
    height: 42px;
    min-width: 242px;
    outline: none;
    text-indent: 44px;
    width: 100%;
}

.search img {
    position: absolute;
    left: 20px;
    top: 13px;
}