/* any */
*
{
	border: none;
	outline: none;
	margin: 0px;
	padding: 0px;
	transition: 250ms;
	box-sizing: border-box;
}
/* root */
:root
{
	--red: #F74747;
	--blue: #3692FF;

	--gray900: #1B1D1F;
	--gray800: #26282B;
	--gray600: #454C53;
	--gray500: #72787F;
	--gray400: #9EA4A8;
	--gray300: #E5E7EB;
	--gray100: #E8EBED;
	--gray050: #F7F7F8;
}
/* body */
body
{
	color: #374151;
	font-family: "Pretendard";
}
body > *
{
	position: relative;
}
/* button */
button
{
	cursor: pointer;
}
button:disabled
{
	cursor: not-allowed;
}
/* anchor */
a[href]
{
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
a[href].button
{
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
}
a[href].button:hover
{
	background-color: #1967D6;
}
a[href].button:focus
{
	background-color: #1251AA;
}
/* device: PC */
@media screen and (1200px <= width)
{
	.hide-on-pc
	{
		display: none !important;
	}
}
/* device: Tablet */
@media screen and (768px <= width < 1200px)
{
	.hide-on-tablet
	{
		display: none !important;
	}
}
/* device: Mobile */
@media screen and (375px <= width < 768px)
{
	.hide-on-mobile
	{
		display: none !important;
	}
}
