@media screen
{
	[data-widget="HomePage"]
	{
		> [data-widget="Column"]
		{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			overflow-x: hidden;
		}
	}
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	[data-widget="HomePage"]
	{
		> [data-widget="Column"]
		{
			padding-bottom: 120px;
		}
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	[data-widget="HomePage"]
	{
		> [data-widget="Column"]
		{
			gap: 60px;
			padding: 24px;
			padding-bottom: 80px;
		}
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	[data-widget="HomePage"]
	{
		> [data-widget="Column"]
		{
			gap: 44px;
			padding: 50px 15.5px;
		}
	}
}
