.allProducts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 43px;
  column-gap: 24px;
}

.allProductsSection {
  max-width: 1200px;
  margin: 6px auto;
}

.productsToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.tool-container {
  display: flex;
  gap: 12px;
}

.tool-container select {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #1f2837;
  background-color: #e5e7eb;
  padding-left: 20px;
}

.tool-container input {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  color: #9ca3af;
  font-size: 16px;
  padding-left: 16px;
}

/* mobile*/
@media (min-width: 375px) and (max-width: 767px) {
  .allProducts {
    row-gap: 8px;
  }

  .tool-container input {
    width: 294px;
    height: 42px;
  }
}

/* tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
  .allProducts {
    row-gap: 16px;
  }
  .tool-container input {
    width: 242px;
    height: 42px;
  }
}
