.bestProducts {
  display: flex;
  gap: 24px;
}

h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700px;
}

.bestProductsSection {
  max-width: 1200px;
  margin: 24px auto;
}

/* mobile*/
@media (min-width: 375px) and (max-width: 767px) {
  .bestProducts {
    justify-content: center;
  }
}

/* tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
  .bestProducts {
    justify-content: center;
  }
}
