.productInfoCard {
  color: #1f2937;
  margin: 16px 0;
}

.productInfoCard > h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0;
}

.productInfoCard > p {
  font-size: 16px;
}

.productInfoCard > .favoriteCount {
  font-size: 12px;
  font-weight: 500;
}

.productInfoCard > img {
  border-radius: 16px;
  object-fit: cover;
  margin: 6px 0;
}

.favorite-container {
  display: flex;
  align-items: center;
  width: 13px;
  height: 12px;
  gap: 5.27px;
  font-size: 12px;
  font-weight: 500;
  margin: 6px 0;
}
.productInfoCard {
  margin: auto;
}

.best {
  width: 282px;
  height: 282px;
}

.all {
  width: 220px;
  height: 220px;
}

/* mobile*/
@media (min-width: 375px) and (max-width: 767px) {
  .best {
    width: 343px;
    height: 343px;
  }

  .all {
    width: 167px;
    height: 167px;
  }
}

/* tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
  .best {
    width: 336px;
    height: 336px;
  }
}
