/* 헤더 */
.additem-header {
  display: flex;
  justify-content: space-between;
  height: 4.2rem;
  margin-bottom: 1.6rem;
}

.additem-header h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.3rem;
  color: var(--coolGray800);
}

.additem-header button {
  width: 8.8rem;
  background-color: var(--btn1);
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}

.additem-header button:disabled {
  background-color: var(--btn4);
  cursor: not-allowed;
}

/* 이미지 인풋 */
.image-input {
  display: flex;
  flex-direction: column;
  height: 28.2rem;
}

.image-input-content {
  display: flex;
  height: 28.2rem;
  gap: 2.4rem;
}

#productImage {
  display: none;
}
.btn-upload {
  width: 28.2rem;
  height: 100%;
  background-color: var(--coolGray100);
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  &:hover {
    background-color: white;
    color: black;
  }
}
.btn-upload span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.image-preview-section {
  width: 28.2rem;
  height: 100%;
  border-radius: 1.2rem;
  background-color: var(--coolGray100);
  position: relative;
}
.image-preview {
  width: 100%;
  height: 100%;
}

.image-preview-delete-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* 나머지 인풋 */
.additem-form label {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--coolGray800);
}

.additem-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.additem-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.one-line-input input {
  height: 5.6rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--coolGray100);
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.textArea-input textarea {
  height: 20rem;
  padding: 2.4rem 2.6rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--coolGray100);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

/* 태그 */
.tag-list-section {
  display: flex;
  gap: 1.2rem;
}

.tag-element {
  padding: 1.2rem 1.2rem 1.2rem 1.6rem;
  border-radius: 26px;
  background-color: var(--coolGray100);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-element span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-right: 0.8rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .image-input-content {
    gap: 1.6rem;
    height: 16.2rem;
  }
  .btn-upload {
    width: 16.2rem;
  }
  .image-preview-section {
    width: 16.2rem;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .additem-header h1 {
    font-size: 2rem;
  }

  .image-input-content {
    gap: 0.8rem;
    height: 16.8rem;
  }
  .btn-upload {
    width: 16.8rem;
  }
  .image-preview-section {
    width: 16.8rem;
  }
  .additem-form label {
    font-size: 1.4rem;
  }
  .additem-form {
    gap: 1.6rem;
  }
}
