* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main: #3692ff;
    --error: #f74747;
    --gray50: #f7f7f8;
    --gray100: #e8ebed;
    --gray200: #e5e7eb;
    --gray400: #9ea4a8;
    --gray500: #72787f;
    --gray600: #454c53;
    --gray700: #374151;
    --gray800: #26282b;
    --gray900: #1b1d1f;
    --btn1: #3692ff;
    --btn2: #1967d6;
    --btn3: #1251aa;
    --btn4: #9ca3af;
    --bannerbg: #cfe5ff;
    --coolGray800: #1F2937;
    --coolGray100: #F3F4F6;
    /* font-size */
    --font-15: 1.5rem;
    --font-16: 1.6rem;
    --font-18: 1.8rem;
    --font-24: 2.4rem;
    --font-20: 2rem;
    --font-32: 3.2rem;
    --font-26: 2.6rem;
    --font-66: 6.6rem;
    --font-40: 4rem;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

html{
    font-size:62.5%;

}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    overflow-x:hidden;
    
}

a {
    cursor: pointer;
    text-decoration: none;
}