.entire-items__container {
  display: grid;
  grid-template-columns: 1fr 325px 133px 130px;
  gap: 12px;
}

.entire-items__name-tag {
  font-size: 20px;
  font-weight: 700;
  color: var(--gray900);
  line-height: 28px;

  display: flex;
  align-items: center;
}

.entire-items__search-container {
  position: relative;
}

.entire-items__search-icon {
  position: absolute;
  top: 9px;
  left: 16px;
}

.entire-items__search {
  width: 325px;
  height: 42px;
  /* line-height: 42px; 어차피안먹음*/
  border-radius: 12px;
  background-color: var(--gray100);

  padding: 9px 24px 9px 44px;
}

.entire-items__search::placeholder {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
}

.entire-items__add-item-link {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--blue);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-shrink: 0; */
}

.entire-items__add-item-link:hover {
  background-color: #1251aa;
}

.entire-items__drop-down {
  position: relative;
}

.entire-items__order-select {
  width: 130px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid var(--gray200);

  padding: 9px 20px;

  font-size: 16px;
  font-weight: 400;
  text-align: start;
  color: var(--gray800);

  background-color: var(--white);
  background-image: url("../assets/icons/ic_arrow_down.svg");
  background-repeat: no-repeat;
  background-position: 85%;

  cursor: pointer;
}

.entire-items__dropped {
  position: absolute;
  top: 46px;

  width: 130px;
  height: 84px;

  border-radius: 12px;
}

.entire-items__dropped--hided {
  display: none;
}

.entire-items__order-option {
  width: 130px;
  height: 42px;
  border: 1px solid var(--gray200);
  font-size: 16px;
  font-weight: 400;
  color: var(--gray800);
  background-color: var(--white);
  cursor: pointer;
}

.entire-items__order-option--top {
  border-bottom: 1px solid var(--gray200);
  border-radius: 12px 12px 0 0;
}

.entire-items__order-option--bottom {
  border-top: none;
  border-radius: 0 0 12px 12px;
}

.entire-items__layout {
  margin-top: 24px;

  display: flex;
  gap: 40px 24px;
  flex-wrap: wrap;
  overflow: hidden;

  min-width: 1201px; /*1201~14 쯔음 다음줄로 넘어가버리는 현상 때문에*/
  height: 642px;
}

.entire-items__img-container {
  width: 221px;
  height: 221px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  margin: 40px 0px 100px;
}

@media (max-width: 1200px) {
  .entire-items__container {
    display: grid;
    grid-template-columns: 1fr 242px 133px 120px;
    gap: 12px;
  }
  .entire-items__order-select,
  .entire-items__dropped,
  .entire-items__order-option {
    width: 120px;
  }
  .entire-items__search {
    width: 242px;
  }
  .entire-items__layout {
    gap: 40px 16px;
    min-width: auto;
  }
}

@media (max-width: 743px) {
  .entire-items__container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 83px 42px;
    grid-template-rows: 42px 42px;
    gap: 8px;
  }
  .entire-items__name-tag {
    height: 42px;

    display: flex;
    align-items: center;
  }
  .entire-items__search-container {
    grid-column: 1/3;
    grid-row: -2;
  }
  .entire-items__search {
    width: 294px;
  }
  .entire-items__drop-down {
    grid-column: -2/-1;
    grid-row: -2;
  }
  .entire-items__dropped,
  .entire-items__order-option {
    width: 130px;
  }
  .entire-items__dropped {
    right: 0; /*오른쪽에 딱 맞춘다에 의의*/
  }
  .entire-items__order-select {
    width: 42px;
    background-image: url("../assets/icons/ic_sort.svg");
    background-position: center;
  }
  .entire-items__layout {
    gap: 32px 8px;
    height: 528px;
  }
  .entire-items__img-container {
    width: 168px;
    height: 168px;
  }
}
