.header {
  background-color: var(--white);
  border-bottom: 1px solid #dfdfdf;
  height: 70px;

  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 200px;
}

@media (max-width: 1199px) {
  .header {
    padding: 0px 34px 0 24px;
  }
}

/*애매한점: 어디까지가 태블릿 사이즈냐, ipad mini는? */
@media (max-width: 743px) {
  .header {
    padding: 0px 16px;
  }
}
