/* 헤더 */
header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-content {
  display: grid;
  height: 7rem;
  grid-template-columns: 20rem 15.3rem 3.2rem 21.8rem minmax(
      min-content,
      103rem
    ) 8.8rem 20rem;
  background-color: white;
}
.panda-market-home-logo {
  grid-column: 2/3;
  margin: auto 0;
  text-align: end;
}
.page-button {
  grid-column: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.6rem;
}
.page-button a {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--btn5);
}

.logo {
  width: 15.3rem;
  height: 5.1rem;
}
.login-btn {
  grid-column: 6/7;
  margin: 1.4rem 0 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  width: 8.8rem;
  line-height: 1.9rem;
  background-color: var(--btn1);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  white-space: nowrap;
}
.user-icon{
  grid-column: 6/7;
  margin: 1.5rem auto;
}

@media (min-width: 769px) and (max-width: 1024px) {
  header {
    display: block;
  }

  .header-content {
    grid-template-columns: 2.4rem 15.3rem 3.2rem 21.8rem 1fr 8.8rem 2.4rem;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  header {
    display: block;
  }

  .header-content {
    grid-template-columns: 2.4rem 15.3rem 3.2rem 21.8rem 1fr 8.8rem 2.4rem;
  }
}
