body {
  background-color: #fcfcfc;
}

.best-items {
  margin: 24px auto 40px;
  max-width: 1201px;
}

.entire-items {
  margin: 40px auto;
  max-width: 1201px;
}

@media (max-width: 1200px) {
  .best-items {
    max-width: 696px;
  }
  .entire-items {
    max-width: 696px;
  }
}

@media (max-width: 743px) {
  .best-items {
    max-width: 343px;
  }
  .entire-items {
    max-width: 344px;
  }
}
