.ListItems {
  display: grid;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}
.ListItems.col_one {
  grid-template-columns: 1;
}
.ListItems.col_two {
  grid-template-columns: repeat(2, 1fr);
}
.ListItems.col_three {
  grid-template-columns: repeat(3, 1fr);
}
.ListItems.col_four {
  grid-template-columns: repeat(4, 1fr);
}
.ListItems.col_five {
  grid-template-columns: repeat(5, 1fr);
}
