.login-link {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--blue);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  /* line-height: normal; */
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.login-link:hover {
  background-color: #1251aa;
}

@media (max-width: 1199px) {
  .login-link {
    width: 88px;
    height: 42px;
  }
}
