.logo__image {
  display: block;
  width: 153px;
  height: 51px;
}

@media (min-width: 744px) {
  .logo__mobile {
    display: none;
  }
}

@media (max-width: 743px) {
  .logo__image {
    width: 81px;
    height: 40px;
  }
  .logo__desktop {
    display: none;
  }
}
