.nav {
  background-color: var(--white);
  border-bottom: 1px solid #dfdfdf;
  height: 70px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 200px;
}

.nav__container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 48px;
}

@media (max-width: 1200px) {
  .nav {
    padding: 0px 34px 0 24px;
  }
  .nav__container {
    gap: 36px;
  }
}

/*애매한점: 어디까지가 태블릿 사이즈냐, ipad mini는? */
@media (max-width: 743px) {
  .nav {
    padding: 0px 16px;
  }
  .nav__container {
    gap: 16px;
  }
}
