.product-area {
  width: 1200px;
  margin: 0 auto;
}

/*product item*/
.product-list li {
  width: 282px;
  list-style: none;
}
.product-img-area {
  height: 282px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.2);
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.product-title {
  font-size: 14px;
  margin: 16px 0 6px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 6px;
}

.product-like {
  font-size: 12px;
  color: #4b5563;
  font-weight: 500;
  margin: 0;
}

/*BestProduct*/
.best-items h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

/*BasicProduct*/
.basic-product-header {
  margin: 40px 0 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "h2 h2 h2 h2 search search add select";
}
.basic-product-header h2 {
  margin: 0;
  font-size: 20px;
  line-height: 42px;
  grid-area: h2;
}
.basic-product-header input {
  width: 325px;
  padding: 12px 30px;
  background: #f3f4f6;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  grid-area: search;
}
.basic-product-header a {
  grid-area: add;
}
.basic-product-header button {
  cursor: pointer;
  margin: 0 12px;
  background: #3692ff;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 11px 17px;
  font-size: 16px;
}
.basic-product-header .selectBox {
  grid-area: select;
}

/*SELECT*/
.orderSelect > div {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 5px 6px;
}
.orderSelect > div:hover,
.orderSelect > div:active {
  border: 1px solid #ddd;
  box-shadow: none;
}
.css-1fdsijx-ValueContainer {
  background: url("../images/Polygon.png") no-repeat right 10px center;
}
.basic-product-header .selectBox .css-1hb7zxy-IndicatorsContainer {
  display: none;
}
.react-select__option {
  text-align: center;
}

/*AddItem*/

.addItem_header {
  overflow: hidden;
  margin-bottom: 20px;
}

#addItem_btn {
  float: right;
  font-size: 16px;
  padding: 9px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: var(--blue);
}

.addItem_header h2 {
  float: left;
  font-size: 28px;
}

.AddItemForm h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.FileInput {
  margin-bottom: 20px;
}
.preview_area {
  width: 282px;
  height: 282px;
  border-radius: 16px;
  display: inline-block;
  margin-left: 20px;
  background: #f3f4f6;
  overflow: hidden;
  position: relative;
}
.img_placeholder {
  cursor: pointer;
}
.itemPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview_area button {
  position: absolute;
  right: 12px;
  top: 10px;
  background: no-repeat;
  border: none;
  cursor: pointer;
}
.AddItemForm input,
.AddItemForm textarea {
  width: 100%;
  border: none;
  background: var(--coolGray);
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.AddItemForm input::placeholder,
.AddItemForm textarea::placeholder {
  color: var(--gray);
}
.AddItemForm textarea {
  resize: none;
  height: 200px;
}
