.button {
  width: 24px;
  height: 24px;

  background-image: url("../../../assets/icons/ic_kebab.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
