.product-image-title,
.product-name,
.product-introduction,
.product-price,
.product-tag {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1f2937;
}

.image-box {
  background-color: #f3f4f6;
  width: 282px;
  height: 282px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 12px;
}

#image-upload,
.image-upload-label {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.product-name-input,
.product-introduction-input,
.product-price-input,
.product-tag-input {
  width: 1200px;
  height: 56px;
  border-radius: 12px;
  border: none;
  gap: 10px;
  background-color: #f3f4f6;
  margin-top: 12px;
  margin-bottom: 12px;
}

.product-introduction-input {
  height: 200px;
}

.product-introduction-input::placeholder {
  padding-top: 16px;
}

.product-name-input::placeholder,
.product-introduction-input::placeholder,
.product-price-input::placeholder,
.product-tag-input::placeholder {
  color: #9ca3af;
  padding-left: 24px;
}

.product-name-input,
.product-introduction-input,
.product-price-input,
.product-tag-input {
  width: 100%;
}
