@media (width <= 1200px) {
  .content {
    &-card {
      height: auto;
      &__description {
        margin: 0;
      }
      &__content img {
        width: 94%;
        margin: 3%;
      }
      &--margin-top-138px {
        margin-top: 8rem;
      }
    }
    &-figure__image {
      background-position: center bottom;
    }
    &-card__content {
      &--grid {
        display: grid;
        grid-template: 1fr 0.2fr / 1fr;
        grid-template-areas:
          "image"
          "description";
      }
    }
  }
  .description-head--white-spacing {
    white-space: unset;
    width: auto;
  }
  .description-footer {
    &__description {
      margin-top: 20rem;
      text-align: center;
    }
  }
  .description-header {
    &__description {
      width: auto;
      margin-top: 10rem;
      text-align: center;
    }
  }
}
@media (768px <= width <= 1200px) {
  html {
    font-size: 9px;
  }
  .header-main__content {
    margin-inline: 24px;
  }
  .button {
    &__wide {
      padding: 16px 125px;
    }
  }
  .content {
    &-description {
      align-items: center;
      &--nextline {
        width: auto;
      }
    }
    &-card {
      &__content {
        width: 100%;
      }
      &--flex-center {
        align-items: flex-start;
      }
      &--first {
        height: 771px;
      }
      &--last {
        height: 927px;
      }
      &__description {
        margin-inline: 3rem;
      }
    }
  }
  .footer {
    padding-inline: 12rem;
    height: 20rem;
    font-size: 2rem;
    padding-top: 4rem;
  }
}
@media (375px <= width <= 767px) {
  html {
    font-size: 6px;
  }
  .header-main__content {
    margin-inline: 16px;
  }
  .main-signup {
    margin-inline: 16px;
    width: 100%;
  }
  .main-signup__wrap {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
  }
  .main-signup__wrap > * {
    width: 100%;
  }
  .main-login {
    margin-inline: 16px;
    width: 100%;
  }
  .main-login__wrap {
    max-width: 400px;
    width: 100%;
    margin-inline: auto;
  }
  .main-login__wrap > * {
    width: 100%;
  }
  .button {
    &__wide {
      padding: 16px 34px;
    }
  }
  .content {
    &-figure__image {
      background-size: 660px;
    }
    &-description {
      align-items: center;
    }
    &-form__input {
      max-width: 400px;
      width: 100%;
    }
    &-card {
      &--flex-center {
        align-items: flex-start;
        padding-top: 48px;
      }
      &--first {
        height: 540px;
      }
      &--last {
        height: 540px;
      }
      &__description {
        margin-inline: 3rem;
      }
    }
  }
  .footer {
    padding-inline: 5.5rem;
    height: 16rem;
    font-size: 2.5rem;
    padding-top: 5rem;
    &__content {
      display: grid;
      height: 100%;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
      grid-template-areas: "policy faq link" "author . .";
    }
    &__faq {
      text-align: center;
      align-self: flex-start;
    }
    &__author {
      display: flex;
      height: 100%;
      justify-content: flex-start;
      align-items: center;
    }
    &__policy {
      gap: 8rem;
      align-self: flex-start;
    }
    &__link {
      justify-content: flex-end;
      align-self: flex-start;
    }
  }
}
