.boardContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.bestBoardTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.boardListContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  justify-content: space-between;
}
.boardListTitle {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.writeButton {
  width: 88px;
  height: 42px;
  left: 1113px;
  padding: 12px 23px 12px 23px;
  border: none;
  gap: 10px;
  border-radius: 8px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: #3692ff;
  cursor: pointer;
}
.bestPageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 30px 140px;

  @media (max-width: 767px) {
    padding: 3px 5px;
    font-family: Pretendard;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1200px) {
    padding: 20px 30px;
    font-family: Pretendard;
  }
}
