@import "/styles/index.scss";

.feature_container {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;

  @include desktop {
    margin-bottom: 138px;
    flex-direction: row;
    align-items: center;
    gap: 5%;
  }

  img {
    width: 100%;
    margin-bottom: 20px;

    @include desktop {
      width: 50%;
      margin-bottom: 0;
    }
  }
}

.feature_content {
  flex: 1;

  h2 {
    color: var(--blue);
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 700;
    margin-bottom: 8px;

    @include tablet {
      font-size: 18px;
      line-height: 25.2px;
      margin-bottom: 12px;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;

    @include tablet {
      font-size: 32px;
      line-height: 44.8px;
    }

    @include desktop {
      font-size: 40px;
      line-height: 56px;
    }

    .break-on-desktop {
      display: none;

      @include desktop {
        display: inline;
      }
    }
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.08em;
    margin-top: 20px;

    @include tablet {
      font-size: 18px;
      line-height: 21.6px;
    }

    @include desktop {
      font-size: 24px;
      line-height: 28.8px;
      margin-top: 24px;
    }
  }
}

.image {
  position: relative;
  display: inline-block;
  width: cover;
  aspect-ratio: 1/1;
}
