.tagBox {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 48px;
  padding: 0 12px 0 16px;
  border-radius: 26px;

  background-color: var(--gray50);
  color: var(--gray800);
  font-size: 16px;
  font-weight: 400;

  text-wrap: nowrap;
}

.xButton {
  cursor: pointer;
}
