nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  max-width: 1920px;
  margin: 0 auto;
}

#nav {
  display: flex;
}

#nav > li {
  list-style: none;
  font-size: 18px;
  padding: 24px;
}

span {
  display: flex;
  align-items: center;
  padding: 0 32px;
  cursor: pointer;
}

hr {
  border-color: #dfdfdf;
}

@media (min-width: 375px) and (max-width: 767px) {
  nav {
    padding: 0 16px;
  }
}
/* tablet*/
@media (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 0 24px;
  }
}
