.container {
  margin: 8rem auto 10rem;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additem-title {
  font-size: 28px;
  text-align: left;
}

.add-item-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input {
  background-color: var(--coolgray100);
  border: none;
  width: 100%;
  height: 56px;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
}

textarea {
  background-color: var(--coolgray100);
  border: none;
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  resize: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

form {
  width: 100%;
}

h4 {
  font-size: 18px;
}

.add-item-nav button {
  width: 100px !important;
}

.button-abled {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 128px;
  height: 48px;
  font-size: 16px;
}

.button-disabled {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 128px;
  height: 48px;
  font-size: 16px;
  background-color: var(--btn4);
  cursor: not-allowed;
}

.tags {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.tag {
  background-color: var(--coolgray100);
  color: var(--coolgray800);
  padding: 1rem;
  border-radius: 3rem;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tag-remove {
  width: 22px;
  height: 24px;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .add-item-nav {
    padding: 0 1rem;
  }  
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .add-item-nav {
    padding: 0 1rem;
  }  
}
