.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-img {
  width: 282px;
  height: 282px;
  border-radius: 1rem;
}

.favoritecount {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: left;
  align-items: center;
}

.favoritecount img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.name {
  font-size: 14px;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.favoritecount-number {
  font-size: 12px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .product-img {
    width: 336px;
    height: 336px;
  }
  form {
    padding: 0 1rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-img {
    width: 343px;
    height: 343px;
  }
  form {
    padding: 0 1rem;
  }
}
