.fileinput {
  position: relative;
  width: 282px;
  height: 282px;
  border-radius: 0.5rem;
  background-color: var(--coolgray100);
  overflow: hidden;
}

.fileinput-preview {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.fileinput-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fileinput-preview.selected {
  opacity: 0.48;
}

.fileinput-hidden-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileinput-clear-button {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 26px;
  height: 26px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.fileinput-clear-button img {
  background-color: var(--btn4);
  border-radius: 50%;
  padding: 0.3rem;
}

.fileinput-clear-button img:hover {
  background-color: var(--main);
}