@import url("./style.css");

.container {
  margin: 8rem auto 5rem;
  width: 1200px;
}

.best-products {
  margin-bottom: 4rem;
}

h3 {
  font-size: 20px;
  flex-grow: 1;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.all-products-nav {
  margin-bottom: 1rem;
}

.all-products-sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.all-products-sub-nav button {
  height: 42px !important;
  padding: 0.5rem 1rem !important;
}

input {
  background-color: var(--coolgray100);
  border: none;
  width: 325px;
  height: 42px;
  border-radius: 0.5rem;
  padding: 0.8rem 2.8rem;
}

input:focus {
  outline: none;
}

.search img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 0.45rem;
  left: 2.5rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
    margin: 8rem auto 5rem;
  }
  .best-products {
    margin: 5rem 1rem;
  }
  .all-products-nav {
    margin: 0 1rem;
    justify-content: space-around;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 8rem auto 5rem;
  }
  .best-products {
    margin: 3rem 1rem;
  }
  .all-products-nav {
    margin: 0 1rem;
  }
  .all-products-sub-nav {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "h b"
      "i s";
  }
  .h3 {
    grid-area: h;
  }
  .search {
    grid-area: i;
  }
  #btn_small {
    grid-area: b;
  }
  .dropdown {
    grid-area: s;
  }
}
