.container {
  margin: 8rem auto 10rem;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.detail {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 2rem;
}

.detail-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navimg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.detail-name {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.item-img {
  width: 486px;
  height: 486px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.detail-description,
.detail-tags {
  font-size: 14px;
  margin-top: 0.5rem;
}

.border-bottom {
  border: 1px solid var(--borderbottom);
}

.description {
  font-size: 16px;
}

.tags {
  display: flex;
  gap: 1rem;
}

.tag {
  background-color: var(--coolgray100);
  color: var(--coolgray800);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.favoriteCount {
  color: var(--fontcolor);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem 1rem;
  border: 1px solid var(--borderbottom);
  border-radius: 3rem;
  width: min-content;
  margin-top: 10rem;
  cursor: pointer;
}

.question-input {
  height: 100px;
  margin-bottom: 1rem;
}

.question {
  display: grid;
}

.button-disabled {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 80px;
  height: 48px;
  font-size: 16px;
  background-color: var(--btn4);
  cursor: not-allowed;
  justify-self: end;
}

.backtolist {
  display: flex;
  justify-content: center;
}

.back {
  font-size: 18px;
  width: 240px;
  padding: 1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 3rem auto 0;
}

.backimg {
  width: 24px;
  height: 24px;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.userimg {
  width: 40px;
  height: 40px;
}

.user-info {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nickname {
  font-size: 14px;
  margin: 0;
}

.time {
  font-size: 12px;
  color: var(--btn4);
  margin: 0;
}

.usernav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .item-img {
    width: 340px;
    height: 340px;
  }
  .question {
    margin: auto 1rem;
  }
  .comments {
    margin: auto 1rem;
  }
  .favoriteCount {
    margin-top: 1rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 0 2rem 2rem;
  }
  .item-img {
    width: 343px;
    height: 343px;
  }
  .question {
    margin: auto 1rem;
  }
  .comments {
    margin: auto 1rem;
  }
  .favoriteCount {
    margin-top: 1rem;
  }
}
