@import url("./style.css");

.container {
  margin: 8rem auto 5rem;
  width: 1200px;
}

.best-products {
  margin-bottom: 4rem;
}

.products-name {
  font-size: 20px;
  flex-grow: 1;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.all-products-nav {
  margin-bottom: 1rem;
}

.all-products-sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.all-products-sub-nav button {
  height: 42px !important;
  padding: 0.5rem 1rem !important;
}

.search-input {
  background-color: var(--coolgray100);
  border: none;
  width: 325px;
  height: 42px;
  border-radius: 0.5rem;
  padding: 0.8rem 2.8rem;
}

.search-input:focus {
  outline: none;
}

.search img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 0.45rem;
  left: 2.5rem;
}

.dropdown {
  height: 42px;
  border: 1px solid var(--gray100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

.dropdown picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdown img {
  width: 24px;
  margin-left: 0.5rem;
}

.dropdownMenu {
  list-style: none;
  border: 1px solid var(--gray100);
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.dropdownMenu li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid var(--gray100);
}

.dropdownMenu li:hover {
  background-color: var(--gray100);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 100%;
    margin: 8rem auto 5rem;
  }
  .best-products {
    margin: 5rem 1rem;
  }
  .all-products-nav {
    margin: 0 1rem;
    justify-content: space-around;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 8rem auto 5rem;
  }
  .best-products {
    margin: 3rem 1rem;
  }
  .all-products-nav {
    margin: 0 1rem;
  }
  .all-products-sub-nav {
    display: grid;
    gap: 0;
    align-items: center;
    grid-template-areas:
      "h h b"
      "i i s";
    grid-template-columns: 1fr 1fr auto;
  }
  .products-name {
    grid-area: h;
    padding-left: 1.5rem;
  }
  .search {
    grid-area: i;
    justify-self: left;
    align-self: top;
  }
  #btn_small {
    grid-area: b;
    justify-self: right;
  }
  .dropdown {
    justify-content: center;
    align-items: center;
    grid-area: s;
    justify-self: right;
    width: 30px;
  }
  .valueName {
    display: none;
  }
  .search img {
    width: 24px;
    height: 24px;
    position: relative;
    top: 0.5rem;
    left: 2.5rem;
  }
  .search-input {
    width: 280px;
  }
  .dropdown picture img {
    width: 24px;
    height: 24px;
  }
  .dropdownMenu {
    width: max-content;
    left: -2.5rem;

  }
}
