@import url("./style.css");

.container {
  margin: 100px auto;
  width: 1200px;
}

h3 {
  font-size: 20px;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.all-products-nav {
  display: flex;
  justify-content: space-between;
}