.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.page-link {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid var(--gray100);
}

.page-link:hover {
  color: var(--main);
}

.page-link-active {
  background-color: var(--main);
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
  border: 1px solid var(--gray100);
}

.disabled {
  cursor: not-allowed;
  color: var(--gray100);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--gray100);
}
