.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 45rem;
  justify-items: center;
  align-items: center;
}

.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.product-img {
  width: 221px;
  height: 221px;
  border-radius: 1rem;
}

.favoritecount {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  justify-content: left;
  align-items: center;
}

.favoritecount img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.name {
  font-size: 14px;
}

.price {
  font-size: 16px;
  font-weight: 700;
}

.favoritecount-number {
  font-size: 12px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    height: 40rem;
  }
  .product-img {
    width: 168px;
    height: 168px;
  }
}
