.addItemForm {
  margin: 94px 360px;
}

.formTitle {
  display: flex;
  justify-content: space-between;
}

.formInput {
  display: flex;
  flex-direction: column;
}

.imgPreview {
  width: 282px;
  height: 282px;
}
