.layout {
  border-bottom: 1px solid var(--gray200);
  margin: 24px 0;
}

.alignKebab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--gray800);
}

.aligner {
  display: flex;
  gap: 8px;

  padding: 24px 0;
}

.profileImage {
  width: 40px;
}

.nickname {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  color: var(--gray600);
  margin-bottom: 4px;
}

.elapsedTime {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.32px;
  color: var(--gray400);
}
