@import "../style/common";

.section-detail {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  .section-img {
    width: 486px;
    max-height: 486px;
    @media screen and (max-width: $size-desktop) {
      flex: 1 1;
    }
    .detail-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
  .section-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    .section-row {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .section-tit {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .detail-tit {
      font-size: 2.4rem;
      font-weight: 600;
    }
    .btn-more {
      border: none;
      background: transparent;
    }
    .detail-price {
      font-size: 4rem;
      font-weight: 600;
    }
    .btn-heart {
      display: flex;
      align-self: flex-start;
      align-items: center;
      gap: 4px;
      padding: 4px 12px;
      border: 1px solid var(--cool-grey200);
      border-radius: 35px;
      background: #fff;
      font-family: Pretendard;
      font-size: 1.6rem;
      font-weight: 500;
      color: #6b7280;
    }
    .tag-view {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .tag-container {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }
      &__list {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        background: #f9fafb;
        border-radius: 9999px;
      }
    }
  }
  .section-detail-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    .section-tit {
      font-size: 1.4rem;
      font-weight: 500;
    }
    .section-content {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.24rem;
    }
  }
}
.section-comment {
  margin-top: 24px;
  .section-tit {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .section-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .txt-comment {
      display: flex;
      width: 100%;
      padding: 16px 24px;
      min-height: 104px;
    }
    .btn-comment {
      align-self: flex-end;
    }
  }
}

.section-btn {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  .btn-list {
    @include btnLarge();
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 38.5px;
    font-size: 1.8rem;
  }
}
