@import "../../styles/variables";

.container {
  color: var(--cool-gray800);

  .productImg {
    width: 100%;
  }

  .title {
    margin-top: 14px;
    font-weight: 500;
  }

  .price {
    display: block;
    margin: 6px 0;
    font-weight: 700;
    font-size: 16px;
  }

  .like {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--cool-gray600);
    font-size: 12px;
  }
}
