* {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: "Pretendard";
  color: #374151;
}

body {
  margin: 0;
  background-color: #fcfcfc;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-style: none;
}

.button:hover {
  background-color: #1967d6;
}

.button:active {
  background-color: #1251aa;
}
