@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Pretendard';
}

a {
    cursor: pointer;
    text-decoration-line: none;
}