*
{
	color: #374151;
	font-family: Pretendard;
	resize: none;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	transition: 250ms;
	box-sizing: border-box;
	background-color: transparent;
}
:root
{
	--red: #F74747;
	--blue: #3692FF;
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	.hide-on-pc
	{
		display: none !important;
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	*
	{
		scrollbar-width: none;

		&::-webkit-scrollbar
		{
			width: 0px;
		}
	}
	.hide-on-tablet
	{
		display: none !important;
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	*
	{
		scrollbar-width: none;

		&::-webkit-scrollbar
		{
			width: 0px;
		}
	}
	.hide-on-mobile
	{
		display: none !important;
	}
}
