* {
  box-sizing: border-box;
}

.image-box-all {
  width: 221px;
  height: 221px;
}

.item-image {
  width: 221px;
  height: 221px;
}

.description-box-all {
  width: 221px;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-name {
  font-size: 14px;
  font-weight: 500;
}

.item-price {
  font-size: 16px;
  font-weight: 700;
}

.likes-box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item-likes {
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}

.item-container {
  width: 100%;
  max-width: 1201px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.item-box {
  display: flex;
  flex-direction: column;
}
