* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3692ff;
  --hover-blue: #1967d6;
  --hover-bluebtn: #3692ff;
  --click-blue: #1251aa;
  --product-item-name-color: #1f2937;
  --product-category-color: #111827;
  --go-login-signup-color: #3182f6;
  --items-header-btn-color-nonactive: #4b5563;
  --items-header-btn-color-active: #3692ff;
  --inactive-color: #9ca3af;
  --social-login-background-color: #e6f2ff;
  --background-blue: #cfe5ff;
  --error-red: #f74747;
  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray600: #454c53;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --cool-gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --cool-gray100: #f3f4f6;
  --cool-gray50: #f9fafb;
  --gray50: #f7f7f8;
}
