.layout {
  margin: 24px auto 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1200px;
}

.buttonAligner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subHeading {
  font-size: 28px;
  font-weight: 700;
  color: var(--gray800);
}

.formLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.label {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  color: var(--gray800);

  display: block;
}

@media (max-width: 1199px) {
  .layout {
    margin-top: 16px;
    width: 696px;
  }
}

@media (max-width: 743px) {
  .layout {
    width: 344px;
  }
  .subHeading {
    font-size: 20px;
  }
  .label {
    font-size: 14px;
  }
}
