.article-container {
  width: 100%;
  height: 136px;

  .title-img-container {
    display: flex;
    justify-content: space-between;
    height: 72px;
    margin: 24px 0 16px;

    .title {
      font-weight: 600;
      font-size: 20px;
    }
    .image-wrapper {
      position: relative;
      width: 72px;
      height: 72px;
      padding: 13px;
      border-radius: 8px;
      border: 1px solid var(--cool-gray200);
      background-color: var(--white);
    }
  }
  .writer-like-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cool-gray200);
    padding-bottom: 24px;
    .writer-date-container {
      display: flex;
      gap: 8px;
      align-items: center;
      .nickname {
        font-weight: 400;
        font-size: 14px;
        color: var(--cool-gray600);
      }
      .date {
        font-weight: 400;
        font-size: 14px;
        color: var(--cool-gray400);
      }
    }
    .heart-container {
      display: flex;
      gap: 8px;
      align-items: center;
      .like-count {
        width: 24px;
      }
    }
  }
}
