/* PC and Tablet */
@media (min-width : 768px) {
  .auth-container {
    max-width: 640px;
    margin: 0 auto;
  }

  .logo-home-button-wrapper {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  div.logo-home-button-wrapper img {
    width: 396px;
  }

  .input-item {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
  }

  input {
    padding: 16px 24px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  input::placeholder {
    color: #9ca3af;
    font-size: 16px;
    line-height: 24px;
  }

  input:focus {
    outline-color: var(--blue);
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .toggle-password {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }

  .social-login-container {
    background-color: #e6f2ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 23px;
    margin: 24px 0;
  }

  .social-login-container h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .social-login-buttons-container {
    display: flex;
    gap: 16px;
  }

  .auth-switch {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  .auth-switch a {
    color: #3182f6;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .button {
    background-color: #9ca3af;
  }
}



/* Mobile */
@media (max-width : 767px) {
  .auth-container {
    max-width: 400px;
    width: calc(100% - 32px);
    height: auto;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-home-button-wrapper {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  div.logo-home-button-wrapper img {
    width: 198px;
  }
  .input-item {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
  }

  input {
    padding: 16px 24px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  input::placeholder {
    color: #9ca3af;
    font-size: 16px;
    line-height: 24px;
  }

  input:focus {
    outline-color: var(--blue);
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .toggle-password {
    position: absolute;
    right: 24px;
    cursor: pointer;
  }

  .social-login-container {
    width: 100%;
    background-color: #e6f2ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 23px;
    margin: 24px 0;
  }

  .social-login-container h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .social-login-buttons-container {
    display: flex;
    gap: 16px;
  }

  .auth-switch {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  .auth-switch a {
    color: #3182f6;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  form {
    width: 100%;
    height: 100%;
  }

  .button {
    background-color: #9ca3af;
  }

}