.postFrame {
  width: 384px;
  height: 169px;
  background-color: #f3f4f6;
}
.wrap {
  margin: 0px 10px;
}
.badge {
  width: 102px;
  height: 30px;
  border-radius: 0px 0px 32px 32px;
  background-color: #3692ff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.contentFrame {
  margin-top: 5px;
  width: 336px;
  height: 153px;
}
.contentBox {
  display: flex;
  justify-content: space-between;
}
.content {
  font-weight: 600;
  font-size: 20px;
  color: #1f2937;
  white-space: pre-wrap; /* 줄바꿈 허용 */
  word-wrap: break-word; /* 단어가 너무 길면 다음 줄로 이동 */
  overflow-wrap: break-word; /* 단어가 */
}
.contentImage {
  width: 72px;
  height: 72px;
}
.noImage {
  width: 72px;
  height: 72px;
}

.userInfoFrame {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
}

@media (max-width: 1199px) {
  .postFrame {
    width: 340px;
  }
}

@media (max-width: 769px) {
  .postFrame {
    width: 343px;
  }
}

