.BoardContainer {
  max-width: 1200px;
  min-width: 368px;
  width: 100%;
  padding: 0 34px;
  margin: 0 auto;
}

.bestContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.bestTopText {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  margin: 18px 0;
}

.bestPosts {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.posts {
  margin-top: 30px;
}

.postsTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  align-items: center;
  background-color: #3692ff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  justify-content: center;
  min-width: 88px;
  padding: 12px 23px;
}

.postsContainer {
  display: flex;
  flex-direction: column;
}

.postsMiddle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.SearchInput {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 9px 20px 9px 16px;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.SearchContainer {
  position: relative;
  width: 100%;
  margin-right: 20px;
}

.SearchIcon {
  position: absolute;
  top: 13px;
  left: 20px;
}

@media (max-width: 768px) {
  .SearchContainer {
    margin-right: 10px;
  }
}
