.container {
  min-height: 100vh;
  width: 343px;
  margin: 0 auto;
}

.best-article-list,
.all-article-list {
  width: 100%;
}

.best-article-list {
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.best-article-list {
  display: flex;
  justify-content: space-between;
}

.article-top-text {
  margin: 90px 0 20px 0;
  font-weight: 700;
  font-size: 20px;
  color: var(--gray900);
}

@media screen and (min-width: 768px) {
  .container {
    width: 696px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1236px;
    padding: 0 18px;
    width: 100%;
    margin: 0 auto;
  }
  .best-article-list {
    justify-content: flex-start;
  }
}
