.boardsContainer {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.searchButton {
  width: 88px;
  height: 42px;
  padding: 12px 23px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue);
  color: white;
}

.boardsPost {
  display: flex;
  justify-content: space-between;
  align-items: column;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.boards {
  margin-bottom: 24px;
}
