.main {
  max-width: 1200px;
  width: 100%;
  margin: 24px auto 24px;
  @media screen and (max-width: 1200px) {
    padding: 0 24px;
  }
}
.best-section {
  margin-bottom: 40px;
}
.heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}
.search-menu-container {
  display: flex;
  gap: 16px;
}
.heading-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  .post-button {
    background-color: var(--primary-color);
    color: var(--white);
    width: 88px;
    height: 42px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
