$cool-gray50: #f9fafb;
$cool-gray100: #f3f4f6;
$cool-gray200: #e5e7eb;
$cool-gray400: #9ca3af;
$cool-gray600: #4b5563;
$cool-gray800: #1f2937;
$cool-gray900: #111827;

$border: #dfdfdf;

$brand-blue: #3692ff;
