@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}
a {
  text-decoration-line: none;
  color: black;
}

#root {
  margin: 0 auto;
}

/* 컬러 팔레트 */
:root {
  --primary-color: #3692ff;
  --background-blue: #cfe5ff;
  --error-red: #f74747;
  --white: #ffffff;
  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray600: #454c53;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --gray50: #f7f7f8;
  --cool-gray50: #f9fafb;
  --cool-gray100: #f3f4f6;
  --cool-gray200: #e5e7eb;
  --cool-gray400: #9ca3af;
  --cool-gray500: #6b7280;
  --cool-gray600: #4b5563;
}
