.header {
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  height: 70px;
  background-color: white;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 200px;
  max-width: 1920px;
  height: 100%;
}

.logo-small,
.logo-big {
  width: 100%;
}

.logo-small {
  display: none;
}

.button-small {
  border-radius: 8px;
  width: 128px;
  height: 48px;
  font-size: 1rem;
}

.button-large {
  border-radius: 28px;
  width: 356px;
  height: 56px;
  font-size: 1.25rem;
}

.main {
  padding-top: 70px;
}

.banner {
  height: 540px;
  background-color: var(--primary300);
  background-position: 80% bottom;
  background-size: 996px;
  background-repeat: no-repeat;
}

.banner-top {
  background-image: url(/assets/img_home_top.png);
}

.banner-bottom {
  background-image: url(/assets/img_home_bottom.png);
}

.banner-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  height: 100%;
}

.banner-title {
  color: var(--gray700);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.topics {
  display: flex;
  flex-direction: column;
  gap: 276px;
  padding: 138px 0 276px 0;
}

.topic {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 64px;
  color: var(--gray700);
}

.topic:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: right;
  text-align: right;
}

.topic-image {
  max-width: 588px;
}

.topic-label {
  color: var(--primary400);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
}

.topic-title {
  margin-top: 12px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02rem;
}

.topic-description {
  margin-top: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
}

.footer {
  height: 160px;
  background-color: var(--gray900);
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px 200px;
  max-width: 1920px;
  font-size: 1rem;
  font-weight: 400;
}

.footer-copyright {
  color: var(--gray400);
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-link {
  color: var(--gray200);
}

.footer-link:visited {
  color: var(--gray200);
}

.footer-link:active {
  color: var(--primary400);
}

.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-social-icon {
  width: 1.25rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-contents {
    padding: 10px 24px;
  }

  .banner {
    background-position: bottom;
  }

  .banner-top {
    padding-top: 84px;
    height: 770px;
  }

  .banner-bottom {
    padding-top: 200px;
    height: 928px;
  }

  .banner-contents {
    justify-content: start;
    align-items: center;
    gap: 24px;
  }

  .banner-title {
    text-align: center;
  }

  .banner-top .banner-title br {
    display: none;
  }

  .topics {
    gap: 64px;
    padding: 24px 24px 80px;
  }

  .topic {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .topic:nth-child(even) {
    flex-direction: column;
    align-items: end;
  }

  .topic-image {
    width: 100%;
    max-width: none;
  }

  .topic-title {
    font-size: 2rem;
  }

  .topic-title br {
    display: none;
  }

  .topic-description {
    margin-top: 20px;
    font-size: 1.125rem;
  }

  .footer-contents {
    padding: 32px 104px;
  }
}

@media (max-width: 767px) {
  .header-contents {
    padding: 10px 16px;
  }

  .logo-small {
    display: block;
  }

  .logo-big {
    display: none;
  }

  .button-large {
    width: 154px;
    height: 48px;
    font-size: 1rem;
  }

  .banner {
    background-position: bottom;
  }

  .banner-top {
    padding-top: 48px;
    background-size: 624px;
  }

  .banner-bottom {
    padding-top: 120px;
    background-size: 496px;
  }

  .banner-contents {
    justify-content: start;
    align-items: center;
    gap: 18px;
  }

  .banner-title {
    font-size: 2rem;
    text-align: center;
  }

  .topics {
    gap: 64px;
    padding: 52px 16px 64px;
  }

  .topic {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .topic:nth-child(even) {
    flex-direction: column;
    align-items: end;
  }

  .topic-image {
    width: 100%;
    max-width: none;
  }

  .topic-label {
    font-size: 1rem;
  }

  .topic-title {
    margin-top: 8px;
    font-size: 1.5rem;
  }

  .topic-title br {
    display: none;
  }

  .topic-description {
    margin-top: 20px;
    font-size: 1rem;
  }

  .footer-contents {
    flex-wrap: wrap-reverse;
    align-items: start;
    padding: 32px;
    height: 100%;
  }

  .footer-copyright {
    flex: 1 1 100%;
    align-self: end;
  }
}
