/* 헤더 */

header {
  position: fixed;
  width: 100vw;
  background-color: var(--white-primary);
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 200px;
}

.small-button {
  background-color: var(--blue-primary);
  width: 8rem;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-primary);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1931rem;
}

.small-button:hover,
.large-button:hover {
  background-color: var(--blue-hover);
}

.small-button:active,
.large-button:active {
  background-color: var(--blue-active);
}

.header-logo {
  width: 9.5625rem;
}

/* 배너 */

.banner {
  padding-top: 4.375rem;
  background-color: var(--banner-bg);
}

.banner-container {
  height: 33.75rem;
  display: flex;
  justify-content: center;
  align-items: end;
  max-width: 75rem;
  margin: 0 auto;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto 0;
  align-items: center;
}

.banner-title {
  color: var(--typography);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  width: 19rem;
}

.large-button {
  background-color: var(--blue-primary);
  color: var(--white-primary);
  width: 22.1875rem;
  height: 3.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  overflow: hidden;
}

/* 메인 */

main {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-block: 8.75rem;
}

section:nth-child(even) {
  > div {
    order: -1;
  }
}

.seciton-content {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.section-badge {
  color: var(--blue-primary);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.575rem;
}

.section-title {
  color: var(--typography);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  letter-spacing: 2%;
}

.section-description {
  color: var(--typography);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 8%;
}

/* 푸터 */

footer {
  background-color: var(--gray-900);
  height: 10rem;
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
}

.footer-copyright {
  color: var(--blue-disabled);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2744rem;
  text-align: center;
}

.footer-document {
  display: flex;
  gap: 1.875rem;
  > a {
    color: var(--gray-200);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2744rem;
    text-align: center;
  }
}

.footer-sns {
  display: flex;
  gap: 0.75rem;
}

/* 데스크탑 사이즈 */
/* @media (min-width: 1120px) {
  section:nth-child(even) {
    > div {
      order: -1;
    }
  }
} */

/* 테블릿 사이즈 */

@media (min-width: 768px) and (max-width: 1199px) {
  /* 헤더 */
  header {
    padding-inline: 1.5rem;
  }

  /* 배너 */
  .banner-container {
    height: 48.1875rem;
    flex-direction: column;
    align-items: center;
  }

  .banner-content {
    gap: 1.5rem;
  }

  .banner-title {
    text-align: center;
    width: 33rem;
  }

  .banner-image {
    height: 27.9375rem;
  }

  /* 메인 */
  section {
    flex-direction: column;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    align-items: flex-start;
    gap: 1.25rem;
  }

  section:nth-child(even) {
    .seciton-content {
      order: 0;
      align-items: flex-end;
      text-align: end;
    }
  }

  .section-image {
    width: 100%;
  }

  .seciton-content {
    width: 100%;
    gap: 0.75rem;
  }

  .section-title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 0;
    > br {
      display: none;
    }
  }

  .section-description {
    font-size: 1.125rem;
    line-height: 1.35rem;
  }
}

/* 모바일 사이즈 */

@media (max-width: 767px) {
  /* 헤더 */
  header {
    padding-inline: 1rem;
  }

  /* 배너 */
  .banner-container {
    height: 33.75rem;
    flex-direction: column;
    align-items: center;
  }

  .banner-content {
    gap: 1.125rem;
  }

  .banner-title {
    text-align: center;
    width: 15rem;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 0;
  }

  .large-button {
    width: 9.625rem;
  }

  .banner-image {
    height: 17.5625rem;
  }

  /* 푸터 */
  footer {
    position: relative;
  }

  .footer-copyright {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    line-height: 1.15rem;
  }

  .footer-document > a {
    line-height: 1.15rem;
  }
}
