:root {
  --blue: #3692ff;
  --cool-gray600: #4b5563;
  --GNB: 9999;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#items-header {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  position: sticky;
  top: 0;
  padding: 10px 16px;
  z-index: var(--GNB);
}

@media (min-width:1200px) {
  #items-header {
    padding: 10px 200px;
  }
}

.nav-menu > a {
  color: var(--cool-gray600);
  text-decoration: none;
}

.nav-menu {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 700;
  gap: 8px;
  margin-left: 15px;
}

.login-button {
  align-items: center;
  background-color: var(--blue);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  justify-content: center;
  min-width: 88px;
  padding: 12px 23px;
  width: max-content;
}