.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.medal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  height: 30px;
  width: 102px;
  border-radius: 0 0 5rem 5rem;
}

.medal p {
  color: #fff;
  font-size: 16px;
}

.bestPostBox {
  width: 384px;
  height: 169px;
  background-color: var(--gray50);
  border-radius: 1rem;
  padding: 0 2rem 0.5rem;
}

.titleImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 0.3rem;
}

.postImg {
  width: 72px;
  height: 72px;
  border: 1.5px solid var(--gray100);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.3rem;
}

.writer {
  font-size: 14px;
  color: var(--gray600);
}

.date {
  font-size: 14px;
  color: var(--gray400);
}

.writerContent {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.2rem;
}

.bestPostFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.postBox {
  width: 100%;
  max-width: 1200px;
  border-bottom: 1px solid var(--gray100);
  padding-top: 1rem;
  padding-right: 4rem;
}

.titleImageWide {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  gap: 0.3rem;
}

.postTitle {
  margin: 0;
  padding: 0;
}

.writerProfile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  background-color: var(--coolgray100);
  border: none;
  height: 42px;
  border-radius: 0.5rem;
  padding: 0.8rem 2.8rem;
  display: flex;
  flex: 1 0 auto;
}

.searchInput:focus {
  outline: none;
}

.dropdown {
  width: 8rem;
  height: 42px;
  border: 1px solid var(--gray100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

.dropdown picture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dropdownMenu {
  list-style: none;
  border: 1px solid var(--gray100);
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.dropdownMenu li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid var(--gray100);
}

.dropdownMenu li:hover {
  background-color: var(--gray100);
}

.navSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 1rem;
  top: 0.6rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .navSearch {
    padding-right: 4rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .valueName {
    display: none;
  }
  .navSearch {
    padding-right: 4rem;
  }
  .dropdown {
    width: 3rem;
    padding: 0.5rem 1rem;
  }
  .dropdownMenu {
    width: max-content;
    left: -2.5rem;
  }
}
