.medal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  height: 30px;
  width: 102px;
  border-radius: 0 0 5rem 5rem;
}

.medal p {
  color: #fff;
  font-size: 16px;
}

.bestPostBox {
  width: 384px;
  height: 169px;
  background-color: var(--gray50);
  border-radius: 1rem;
  padding: 0 2rem 0.5rem;
}

.titleImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 0.3rem;
}

.postImg {
  width: 72px;
  height: 72px;
  border: 1.5px solid var(--gray100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.3rem;
}

.writer {
  font-size: 14px;
  color: var(--gray600);
}

.date {
  font-size: 14px;
  color: var(--gray400);
}

.writerContent {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.2rem;
}

.bestPostFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
