.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.HeaderLogo {
  width: 153px;
  height: 51px;
}

.자유게시판 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: center;
  color: #4b5563;
}

.중고마켓 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  text-align: center;
  color: #3692ff;
}

.LoginButton {
  width: 88px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
  background-color: #3692ff;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
}

/* PC: 1200px 이상
Tablet: 768px 이상 ~ 1199px 이하
Mobile: 375px 이상 ~ 767px 이하 */

@media (max-width: 1199px) {
  .Header {
    padding: 10px 24px;
  }

  .Nav {
    gap: 15px;
  }

  .HeaderLogo {
    width: 103px;
    height: 35px;
  }
}

/* @media (max-width: 767px) {
  .Header {
    padding: 15px 16px;
  }

  .Nav {
    gap: 10px;
  }

  .HeaderLogo {
    width: 81px;
    height: 40px;
  }
} */
