.productContainer {
  width: 343px;
  margin: 16px auto;
}

.commentsContainer {
  width: 343px;
  margin: 24px auto;
}

.imgBox {
  width: 343px;
  height: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox img {
  width: 100%;
  border-radius: 12px;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.title {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #1f2937;
}

.price {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: #1f2937;
}

.divider {
  border-top: 1px solid #e5e7eb;
  margin: 16px 0;
}

.descriptionBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}
.descriptionBox p {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1f2937;
  margin-bottom: 24px;
}

.descriptionTitle {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.tagContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tagContainer span {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #1f2937;
}

.tagBox {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  width: fit-content;
  height: 36px;
  padding: 6px 16px 6px 16px;
  gap: 10px;
  border-radius: 26px;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1f2937;
}

.likeBox {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
  padding: 4px 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.contactContainer span {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #111827;
}
.contactBox {
  width: 344px;
  height: 104px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  padding: 16px 24px 16px 24px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  resize: none;
}
.contactBox::placeholder {
  color: #9ca3af;
}
.contactBox:focus-visible {
  outline: none;
}

.buttonBox {
  display: flex;
  justify-content: right;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #9ca3af;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 12px 23px;
  color: #ffffff;
}
.active {
  background-color: #3692ff;
}
.contentBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.writerBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.userAvatar {
  width: 40px;
  height: 40px;
}
.writerBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}
.nickname {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #4b5563;
}
.timeAgo {
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #9ca3af;
}

.backToListBtn {
  padding: 12px 71px 12px 71px;
  border-radius: 40px;
  background-color: #3692ff;
  gap: 10px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  line-height: 0;
  margin: 52px auto;
}
