.widget
{
	border: thin solid #E5E7EB;
	padding: 12px 20px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.widget :global(.text)
{

}
.widget :global(.icon)
{
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
.widget :global(.items)
{
	position: absolute;
	top: calc(100% + 5px);
	display: block;
	right: 0px;
	text-wrap: nowrap;
	text-align: center;
	background-color: white;
	border: thin solid #E5E7EB;
	border-radius: 12px;
}
.widget :global(.item)
{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding: 9px 20px;
}
.widget :global(.seperator)
{
	width: 100%;
	height: 1px;
	background-color: #E5E7EB;
}
/* viewport: pc */
@media screen and (1200px <= width)
{
	.widget
	{
		width: 130px;
	}
	.widget :global(.icon)
	{
		background-image: url("/src/assets/icons/arrow_down.svg");
	}
	.widget :global(.items)
	{
		width: 100%;
	}
}
/* viewport: tablet */
@media screen and (768px <= width < 1200px)
{
	.widget
	{
		width: 130px;
	}
	.widget :global(.icon)
	{
		background-image: url("/src/assets/icons/arrow_down.svg");
	}
	.widget :global(.items)
	{
		width: 100%;
	}
}
/* viewport: mobile */
@media screen and (375px <= width < 768px)
{
	.widget
	{
		width: 42px;
		justify-content: center;
	}
	.widget :global(.text)
	{
		display: none;
	}
	.widget :global(.icon)
	{
		background-image: url("/src/assets/icons/sort.svg");
	}
	.widget :global(.items)
	{
		width: 130px;
	}
}
