/* component */
@mixin btn-close ($color : var(--brand-blue)){
  display:flex;
  justify-content:center;
  align-items:center;
  width:20px;
  height:20px;
  background:$color;
  border-radius:50%;
  border:none;
  img {
    pointer-events: none
  }
}

.link {
  &:active {
    color:var(--brand-blue);
  }
  &:visited, &:link {
    color:#4B5563;
  }
}

.btn-large,
.btn-small {
  &:visited {
    color:#fff;
  }
  &:hover {
    background:#1967D6;
    color:#fff;
  }
  &:active {
    background:#1251AA;
    color:#fff;
  }
  &:disabled {
    background:#9CA3AF;
    color:#fff;
  }
  &:link {
    color:#fff;
  }
}
.btn-large {
  display:inline-block;
  box-sizing:border-box;
  height:56px;
  padding:16px 124px;
  background:var(--brand-blue);
  border:0;
  border-radius:40px;
  font-family: Pretendard, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color:#fff;
  text-align:center;
  line-height:2.4rem;
}

.btn-small {
  display:inline-block;
  box-sizing:border-box;
  height:48px;
  padding:14px;
  background:var(--brand-blue);
  border:0;
  border-radius: 8px;
  text-align:center;
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color:#fff;
  line-height:2rem;
}

.input-theme {
  box-sizing:border-box;
  width: 640px;
  height: 56px;
  padding:16px 24px;
  background:var(--cool-grey100);
  border:none;
  border-radius:12px;
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  & + .alert {
    display:none;
    padding:8px 16px;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.79rem;
    color:#BF010A;
  }
  &:focus {
    outline:1px solid var(--brand-blue);
  }
  &::placeholder {
    color:var(--cool-grey400);
  }
  &:invalid + .alert {
    display:block;
  }
  &[type="password"] {
    padding:16px 56px 16px 24px;
  }
}

.text-search {
  box-sizing:border-box;
  display:flex;
  gap:4px;
  min-width:325px;
  height:48px;
  padding:9px 16px;
  background:var(--cool-grey100);
  border-radius:12px;
  &__ico {
    flex:0 0;
  }
  &__input {
    flex:1 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    &:placeholder {
      color:var(--cool-gray400);
    }
  }
}
.select {
  position:relative;
  width:130px;
  .select-main {
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:12px;
    @media screen and (max-width : $size-tablet){
      width:48px;
    }
    &__btn {
      height:48px;
      padding:0 20px; 
      justify-content:space-between;
      @media screen and (max-width : $size-tablet){
        padding:0;
        justify-content:center;
      }
      .ico-arrow {
        transition:0.5s transform;
      }
      &[data-onpop="true"]{
        .ico-arrow {
          transform:rotate(180deg);
        }
      }
    }
  }
  .select-lists {
    position:absolute;
    z-index:1;
    right:0;
    width:100%;
    margin-top:4px;
    background:#fff;
    border:1px solid #E5E7EB;
    border-radius:12px;
    @media screen and (max-width : $size-tablet){
      width:130px;
    }
    .select-list {
      border-top:1px solid #E5E7EB;
      &:first-child {
        border-top:none;
      }
    }
    .select-list__radio {
      display:none;
    }
    .select-list__btn {
      justify-content: center;
      cursor:pointer;
    }
  }
  .select-main__btn,
  .select-list__btn {
    box-sizing:border-box;
    display:flex;
    width:100%;
    align-items:center;
    line-height:42px;
    background:transparent;
    border:0;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;
    color:#1F2937;
  }
}

.file-view {
  display:grid;
  grid-template-columns: 282px 282px;
  gap:24px;
  @media screen and (max-width : $size-tablet){
    grid-template-columns: 1fr 1fr;
  }

  &__input {
    display:none;
  }
  &__label {
    display:flex;
    flex-direction:column;
    gap:12px;
    justify-content:center;
    align-items:center;
    height:282px;
    background:#F3F4F6;
    border-radius:12px;
    cursor:pointer;
    @media screen and (max-width : $size-tablet){
      height:calc(50vw - 72px);
    }
    
    .label-img {
      width:48px;
      height:48px;
    }
    .label-txt {
      font-size: 16px;
      font-weight: 400;
      line-height: 2rem;
      color:#9CA3AF;
    }
  }
  &__preview {
    position:relative;
    height:282px;
    border:1px solid #F9FAFB;
    border-radius:12px;
    overflow:hidden;
    @media screen and (max-width : $size-tablet){
      height:calc(50vw - 72px);
    }
    .file-view__img {
      width:100%;
      height:100%;
      object-fit:cover;
    }
    .file-view__btn {
      position:absolute;
      top:10px;
      right:10px;
      @include btn-close();
    }
  }
}

.tag-view {
  display:flex;
  flex-direction:column;
  gap:12px;
  .tag-container {
    display:flex;
    flex-wrap:wrap;
    gap:12px;
  }
  &__list {
    display:flex;
    align-items:center;
    gap:8px;
    padding:12px 16px;
    background:#F9FAFB;
    border-radius:9999px;
  }
  &__txt {
    font-size: 16px;
    font-weight: 400;

  }
  &__btn {
    @include btn-close(#9CA3AF);
  }
}

.gnb {
  display:flex;
  align-items:stretch;
  .gnb-list {
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:109px;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    @media screen and (max-width : $size-tablet){
      min-width:auto;
      padding:0 4px;
    }
  }
  .link.on {
    color:var(--brand-blue);
  }
}

.itemlists {
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:40px 24px;
  .itemlist {
    display:flex;
    flex-direction:column;
    gap:16px;
    &-img-wrap {
      position:relative;
      width:100%;
      padding-bottom:100%;
      border-radius: 16px;
      overflow:hidden;
    }
    &-content {
      display:flex;
      flex-direction:column;
      gap:6px;
    }
    .link{
      &:hover {
        .itemlist__title {
          text-decoration:underline;
        }
      }
    }
    &-img {
      position:absolute;
      width:100%;
      height:100%;
      object-fit:cover;
    }
    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.71px;
      color:#1F2937;
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:1;
      overflow:hidden;
    }
    &__price {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      color:#1F2937;
    }
    &__favorite {
      display:flex;
      align-items:center;
      gap:4px;
      font-family: Pretendard;
      font-size: 12px;
      font-weight: 500;
      line-height: 14.32px;
      color:#4B5563;
    }
  }
}

.pagination {
  display:flex;
  justify-content:center;
  .pagination-container {
    display:flex;
    gap:4px;
  }
  .pagination-list {
    &__btn {
      display:flex;
      justify-content:center;
      align-items:center;
      width:40px;
      height:40px;
      background:#fff;
      border-radius:100%;
      border:1px solid #E5E7EB;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 600;
      color:#6B7280;
      &.on {
        background:var(--brand-blue);
        color:#fff;
      }
    }
  }
}


.error {
  display:flex;
  justify-content:center;
  .error-txt {
    font-size:16px;
  }
}