/* component */

.line {
  margin: 0;
  border: 1px solid #e5e7eb;
}

.gnb {
  display: flex;
  align-items: stretch;
  .gnb-list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 109px;
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    @media screen and (max-width: $size-tablet) {
      min-width: auto;
      padding: 0 4px;
    }
  }
  .link.on {
    color: var(--brand-blue);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  .pagination-container {
    display: flex;
    gap: 4px;
  }
  .pagination-list {
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 100%;
      border: 1px solid #e5e7eb;
      font-family: Pretendard;
      font-size: 16px;
      font-weight: 600;
      color: #6b7280;
      &.on {
        background: var(--brand-blue);
        color: #fff;
      }
    }
  }
}
