* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard';
}

h1 {
  white-space: nowrap;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  color: #374151;

}

p {
  margin: 24px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}

header { 
  padding: 7.5px 200px;
}

footer {
  height: 160px;
  background-color: #111827;
  width: 100%;
}


.main-container {
  display: grid;
  grid-template: repeat(3, 720px) / 1fr 1200px 1fr;
  grid-template-areas:
  ". m1 ."
  ". m2 ."
  ". m3 ."
  ;
}

.header-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 200px;
  color: #e5e7eb;
}

.login-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;

  width: 128px;
  height: 48px;
  right: 20px;
  font-weight: 600;

  /* brand/blue */
  background: #3692FF;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.go-to-store-button {
  width: 355px;
  height: 56px;
  left: 20px;
  top: 20px;

  background: #3692FF;
  border-radius: 40px;
  border: none;
  color: #FFFFFF;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.topBanner,
.bottomBanner {
  width: 100%;
  height: 540px;
  background-repeat: no-repeat;
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
}

.topBanner {
  justify-content:left;
  background-position:  80% bottom;
  background-size: 45%;
}

.bottomBanner {
  background-position: 80% bottom;
}

.bottomBanner-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#topBanner-img {
  background-image: url("../images/Img_home_top.png");
}

#bottomBanner-img {
  background-image: url("../images/Img_home_bottom.png");
}

.topBanner-content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.main1,
.main2,
.main3 {
  display: flex;
  align-items: center;
  gap: 64px;
}
.main1 {
  grid-area: m1;
}

.main2 {
  grid-area: m2;
  justify-content: right;
}

.main3 {
  grid-area: m3;
}


.tag {
  margin-bottom: 12px;
  line-height: 25.2px;
  font-size: 18px;
  color: #3692FF;
  font-weight: 700;
}

.search {
  text-align: right;
}

.privacy {
  display: flex;
  gap:30px;
}

.footer-codeit {
  color: #9ca3af;
}

.privacy a {
  color: #e5e7eb;
  text-decoration: none;
}

#login {
  text-decoration: none;
}

/* Tablet */
@media (max-width: 1199px) {
  header {
    padding: 1.5px 24px;
  }

  
  .topBanner {
    align-items: first baseline;
    height: 771px;
    background-position: 50% bottom;
    background-size: 100%;
  }

  .topBanner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 84px auto;
  }
  
  h1 br {
    display: none;
  }

  .bottomBanner {
    align-items: first baseline;
    justify-content: center;
    height: 927px;
    background-position: 50% bottom;
  }
  .bottomBanner-content h1 {
    text-align: center;
  }
  
  .bottomBanner-content h1 br {
    display: block;
  }
  .bottomBanner-content {
    margin: 201px auto;
  }

  .main1,
  .main2,
  .main3 {
    display: block;
  }

  .main2 {
    display: flex;
    flex-direction: column-reverse;
    align-items:end;
    gap: 0;
  }

  .search {
    justify-content: end;
  }

  .main-container {
    display: block;
    
  }

  .main-container img {
    width: 100%;
    height: 100%;
    padding: 24px;
  }

  .hot-item,
  .search,
  .register {
    margin: 0 24px 60px;
  }
  

}

/* mobile */
@media (max-width: 767px) {
  header {
    padding: 1.5px 16px;
  }

  .bottomBanner,
  .topBanner {
    height: 540px;
  }

  .topBanner-content {
    margin: 48px auto;
    text-align: center;
  }

  .topBanner-content h1 > br {
    display: block;
  }

  .bottomBanner-content {
    margin: 121px auto;
  }

  /* font-size 조절 */
  
  .main1 h1,
  .main2 h1,
  .main3 h1 {
    font-size: 24px;
  }

  .bottomBanner-content h1,
  .topBanner-content h1 {
    font-size: 32px;
  }

  .tag {
    font-size: 16px;
  }

  .hot-item p,
  .search p,
  .register p {
    font-size: 16px;
  }

  .banner-text-bottom {
    padding: 40% 0;
  }

  .footer {
    padding: 32px;
  }
}