* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-family: 'Pretendard';
  font-weight: 700;
  font-size: 40px;
  color: #374151;

}

p {
  margin: 24px 0;
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}



.header-container {
  padding-top: 0;
  padding: 0 200px;
}

.main-container {
  display: grid;
  grid-template: repeat(3, 720px) / 1fr 1200px 1fr;
  grid-template-areas:
  ". m1 ."
  ". m2 ."
  ". m3 ."
  ;
}

.footer-container {
  height: 160px;
  background-color: #111827;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 200px;
  color: #e5e7eb;
}
.header {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  width: 153px;
  height: 51px;
}

.logo {
  cursor: pointer;
  flex-shrink: 0;
}

.login-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 20px;
  gap: 10px;
  font-family: 'Pretendard';

  width: 128px;
  height: 48px;
  right: 20px;
  font-weight: 600;

  /* brand/blue */
  background: #3692FF;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.banner {
  background-color: #cfe5ff;
  height: 540px;
  width: 100%;
  background-position: 80% bottom;
  background-size: 45%;
  background-repeat: no-repeat;
  display: flex;
}

#top-banner {
  background-image: url("../images/Img_home_top.png");
}

#bottom-banner {
  background-image: url("../images/Img_home_bottom.png");
}

.banner-bottom {
  position: relative;
  background-color: #cfe5ff;
  height: 540px;
  width: 100%;
  background-image: url("../images/Img_home_bottom.png");
  background-position: 80% bottom;
  background-size: 55%;
  background-repeat: no-repeat;
}

.go-to-store-button {
  width: 355px;
  height: 56px;
  left: 20px;
  top: 20px;

  background: #3692FF;
  border-radius: 40px;
  border: none;
  color: #FFFFFF;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.banner-text-top,
.banner-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:32px;
  padding-left: 25%;
}

.banner-content-bottom {
  top: 214px;
}


.top-panda {
  position: absolute;
  top:93px;
  right: 223px;
}

.main1,
.main2,
.main3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:191px
}
.main1 {
  grid-area: m1;
}

.main2 {
  grid-area: m2;
}

.main3 {
  grid-area: m3;
}


.tag {
  margin-bottom: 12px;
  line-height: 25.2px;
  font-size: 18px;
  color: #3692FF;
  font-weight: 700;
}

.search {
  text-align: right;
}

.panda-bottom {
  position: absolute;
  right: 223px;
}

.privacy {
  display: flex;
  gap:30px;
}

.footer-codeit {
  color: #9ca3af;
}

.privacy a {
  color: #e5e7eb;
  text-decoration: none;
}

#login {
  decoration: none;
}